@model DcmsMobile.CartonManager.ViewModels.Locating.LocationCartonViewModel
@{
    if (string.IsNullOrWhiteSpace(Model.CurrentLocationId))
    {
        ViewBag.Title = "Scan Location";
    }
}
<div class="box">
    <div class="boxContent">
        @if (!string.IsNullOrEmpty(Model.PalletId))
        {
            <span>
                <strong>@Model.CartonsOnPallet</strong> ctns in Pallet <strong>@Model.PalletId</strong>.
            </span>
        }
        else
        {
            <span>
                You have not specified a Pallet.
            </span>
        }
        @if (!string.IsNullOrEmpty(Model.CurrentLocationId))
        {
            <span>
                Loc <strong>@Model.CurrentLocationId</strong> <em>@Model.AreaShortName</em> <strong>
                    @Model.CountCartonsAtLocation @if (Model.MaxCartonsAtLocation != null)
                    {
                        <span>/ @Model.MaxCartonsAtLocation</span> }
                </strong> ctns.
            </span>
        }
        @using (Html.BeginForm(MVC_CartonManager.CartonManager.Locating.HandleScan(), FormMethod.Post, new
        {
            id = "frmMain"
        }))
        {
            <div>
                <input type="hidden" value="@Model.PalletId" name="@Html.NameFor(m => m.PalletId)" />
                <input type="hidden" value="@Model.CurrentLocationId" name="@Html.NameFor(m => m.CurrentLocationId)" />
                <input type="hidden" value="@Model.CountCartonsAtLocation" name="@Html.NameFor(m => m.CountCartonsAtLocation)" />
                <input type="hidden" value="@Model.CartonsOnPallet" name="@Html.NameFor(m => m.CartonsOnPallet)" />
                @if (string.IsNullOrEmpty(Model.CurrentLocationId))
                {
                    @:Location
                }
                else
                {
                    @:Carton/Location
                }
                <textarea id="scan" name="@Html.NameFor(m => m.ScanText)" style="text-transform: uppercase; overflow: hidden;" rows="2" onscroll="false" onkeypress="OnScanKeyPress(this)"></textarea>
            </div>
            <div class="ui-state-active">Tip: Press enter to change pallet.</div>
        }
    </div>
</div>
<span id="divStatusSummary">
    @Html.ValidationSummary()
    @Html.StatusSummary()
</span>
@section scripts {
    <script type="text/javascript">
        document.getElementById("scan").focus();
        var _timer;
        function OnScanKeyPress(tb) {
            if (window.event.keyCode == 13) {
                // ENTER pressed
                _timer && clearTimeout(_timer);
                _timer = setTimeout(function () {
                    document.getElementById("frmMain").submit();
                }, 2000);
            }
        }

    </script>
}
