@model DcmsMobile.Receiving.ViewModels.Home.PalletViewModel


@if (Model.Cartons.Count > 0)
{
    <h5>
        <span class="pull-right">
            <a href="@Url.Content(string.Format("~/Inquiry/CartonPallet/{0}", Model.PalletId))" target="_pallet" title="Pallet Details">
                <span class="glyphicon glyphicon-new-window"></span>
                Pallet @Html.DisplayFor(m => m.PalletId) Report
            </a>
        </span>
        @if (Model.SkuCount > 1)
                {
        <strong class="text-warning h4"> Mixed Pallet(@Model.SkuCount SKUs)</strong>
                }
                else
                {
        <strong class="text-info h4">Pure Pallet</strong>
                }

        <label>Area</label> @Html.DisplayFor(m => m.Cartons[0].DestinationArea)
        &bull;
        <label>Vwh</label> @Html.DisplayFor(m => m.Cartons[0].VwhId)
        &bull;
        <label>Pallet Limit</label> @Html.DisplayFor(m => m.PalletLimit)
    </h5>
    <div class="progress">
        <div class="progress-bar progress-bar-@(Model.PalletProgress > 90 ? "danger" : (Model.PalletProgress > 80 ? "warning":"info"))" role="progressbar" aria-valuenow="@Model.PalletProgress" aria-valuemin="0" aria-valuemax="100" style="width:@Model.PalletProgress%;min-width:20px;">
            @Model.PalletProgress%
        </div>
    </div>
}

<div class="table-responsive">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th style="text-align: center">
                    #
                </th>
                <th style="text-align: center">
                    Carton
                </th>
                <th style="text-align: center">
                    SKU
                </th>
                <th style="text-align: center">
                    Retail Price($)
                </th>
                <th style="text-align: center">
                    Receive Date
                </th>
                <th style="text-align: center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = Model.Cartons.Count - 1; i >= 0; --i)
                    {
                <tr>
                    <td>
                        @(i + 1)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Cartons[i].CartonId)
                    </td>
                    <td>
                        @Html.DisplayFor(m=>m.Cartons[i].DisplaySku)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Cartons[i].Sku.SkuPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Cartons[i].ReceivedDate)
                    </td>
                    <td data-carton="@Model.Cartons[i].CartonId" data-pallet="@Model.Cartons[i].PalletId">
                        <button class="btn btn-link" data-toggle="modal" data-target="#printModal">
                            <span class="glyphicon glyphicon-print" title="Print"></span>
                        </button>
                        <button class="btn btn-link" data-toggle="modal" data-target="#removeModal">
                            <span class="glyphicon glyphicon-remove" title="Remove"></span>
                        </button>

                    </td>
                   
                </tr>
                    }
        </tbody>
    </table>
</div>



<!--$Id$-->
