@*  Contract

Reviewed by: Binod Kumar 17th Sept 2011.

1. Following attribs are used in our code
   data-ajax-url: We keep URL of handle scan.
 *@
@model DcmsMobile.Receiving.ViewModels.Home.ReceivingViewModel
@{
    ViewBag.Title = "Receiving";
    string sound;
    if (!this.ViewData.ModelState.IsValid)
    {
        // Validation error
        sound = Links_Receiving.Areas.Receiving.Content.Sounds.error_wav;
    }
    else
    {
        // Carton was received
        sound = Links_Receiving.Areas.Receiving.Content.Sounds.scan_wav;
    }
}
@Html.ValidationSummary()
<bgsound src="@sound" loop="1" />
@using (Html.BeginForm(MVC_Receiving.Receiving.Home.HandleScan()))
{
    <div>
        <label for="scan">
            Scan Carton or Pallet</label>
        <input type="text" id="scan" name="@Html.NameFor(m => m.ScanModel.ScanText)"
            style="text-transform: uppercase" size="12" autocomplete="off"/>
        @Html.HiddenFor(m => m.ScanModel.ProcessId)
        @Html.HiddenFor(m => m.ReceivingAreaId)
        @Html.HiddenFor(m => m.SpotCheckAreaId)
        @Html.HiddenFor(m => m.ScanModel.PalletId)
        
        @Html.HiddenFor(m => m.ScanModel.PalletDispos)
    </div>
}
@if (Model.Pallets.Any())
{
    @Html.Partial(MVC_Receiving.Receiving.Home.Views._palletPartial, Model.Pallets.First())
}




<!--$Id$-->