@model DcmsMobile.Receiving.ViewModels.Home.ReceivingViewModel
@{
    Layout = MVC_Receiving.Receiving.Shared.Views._layoutReceiving;

}

<div class="container">
    <div class="page-header">
        <span class="pull-right">
            <a href="@string.Format("{0}?process_id={1}", Model.ProcessDetailUrl, Model.ProcessId)"
               title="Receiving Detail for the selected Process" target="_blank"
               class=" btn btn-link">
                <span class="glyphicon glyphicon-new-window"></span>
                @*Report 40.103:*@ Cartons received and shipments summary
            </a>
        </span>
        <h2>
            Receiving
            <small>Carrier  @Html.DisplayFor(m => m.CarrierId) @Html.DisplayFor(m => m.CarrierDescription)</small>
        </h2>
    </div>

    <p class="text-success">
        <div class="btn-group">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" style="padding:0px;">
                @Html.LabelFor(m => m.ProcessId)   @Html.DisplayFor(m => m.ProcessId) <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="@Url.Action(MVC_Receiving.Receiving.Home.CreateProcess(Model.ProcessId))">Edit Process</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="@Url.Action(MVC_Receiving.Receiving.Home.Index())">Change Process</a>
                </li>

            </ul>
        </div>

        &nbsp;
        @Html.LabelFor(m => m.ExpectedCartons)
        @Html.DisplayFor(m => m.ExpectedCartons)
        &nbsp;
        @Html.LabelFor(m => m.ProNumber)
        @Html.DisplayFor(m => m.ProNumber)
        &nbsp;
        @Html.LabelFor(m => m.ProDate)
        @Html.DisplayFor(m => m.ProDate)
        &nbsp;
        @Html.LabelFor(m => m.ProNumber)
        @Html.DisplayFor(m => m.ProNumber)
        &nbsp;
        @Html.LabelFor(m => m.ProDate)
        @Html.DisplayFor(m => m.ProDate)
        &nbsp;
        @Html.LabelFor(m => m.PriceSeasonCode)
        @Html.DisplayFor(m => m.PriceSeasonCode)
        &nbsp;
        @Html.LabelFor(m => m.OperatorName)
        @Html.DisplayFor(m => m.OperatorName)
        @*<a href="@Url.Action(MVC_Receiving.Receiving.Home.CreateProcess(Model.ProcessId))" class=" btn btn-link"><span class="glyphicon glyphicon-link"></span> Edit Process</a>
        <a href="@Url.Action(MVC_Receiving.Receiving.Home.Index())" class=" btn btn-link"><span class="glyphicon glyphicon-link"></span> Change Process</a>*@
    </p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row" style="margin-bottom:0px;">
                <div class="col-md-4">
                    <form class="form-inline" role="form" method="get">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input placeholder="Scan Carton or Pallet"
                                       class="form-control" autofocus />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">New Pallet</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <span class="pull-right">
                        See:<a href="#" id="linkShowCarton"> Cartons received but not on Pallet...</a>
                    </span>
                    Receiving progress
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            0% [0 of 12 cartons]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


