@model DcmsMobile.Receiving.ViewModels.Home.ShipmentListViewModel
@{
    Layout = MVC_Receiving.Receiving.Shared.Views._layoutReceiving;
    ViewBag.Title = "Shipment List";
}

<div class="container">
    <div class="page-header">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-condensed table-bordered">
            <caption class="h4">List of open shipments(Max 200)</caption>
            <thead>
                <tr>
                    <th rowspan="2" style="text-align:center">#</th>
                    <th rowspan="2" style="text-align:center">Shipment#</th>
                    <th rowspan="2" style="text-align:center">PO#</th>
                    <th rowspan="2" style="text-align:center">Shipment Date<span class="glyphicon glyphicon-sort-by-order-alt"></span></th>
                    <th rowspan="2" style="text-align:center">Receiving Process <span class="ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span><sup>2</sup></th>
                    <th rowspan="2" style="text-align:center">ERP</th>
                    <th rowspan="2" style="text-align:center">Order Type</th>
                    <th colspan="2" style="text-align:center"># Pieces</th>
                    <th colspan="2" style="text-align:center"># Carton</th>
                    <th rowspan="2" style="text-align:center">Last Received on <span class="glyphicon glyphicon-sort-by-order-alt" style="display:inline-block"></span> </th>
                    <th rowspan="2" style="text-align:center">Close</th>
                </tr>
                <tr>
                    <th style="text-align:center">Received</th>
                    <th style="text-align:center">Expected</th>
                    <th style="text-align:center">Received</th>
                    <th style="text-align:center">Expected</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ShipmentList.Count; i++)
                {
                    <tr class="@(i % 2 == 0 ? "rowA" : "rowB")">
                        <td>@(i + 1)</td>
                        <td>
                            <a href="@Url.Content(string.Format("~/Inquiry/IntransitShipment/{0}", Model.ShipmentList[i].ShipmentId))" target="_blank" title="Shipment Details">
                                @Html.DisplayFor(m => m.ShipmentList[i].ShipmentId)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ShipmentList[i].PoNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ShipmentList[i].ShipmentDate)
                        </td>
                        <td>@Html.DisplayFor(m => m.ShipmentList[i].ProcessNumber)</td>
                        <td>
                            @Html.DisplayFor(m => m.ShipmentList[i].ErpType)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ShipmentList[i].IntransitType)
                        </td>
                        <td style="text-align: right">
                            @Html.DisplayFor(m => m.ShipmentList[i].ReceivedQuantity)
                        </td>
                        <td style="text-align: right">
                            @Html.DisplayFor(m => m.ShipmentList[i].ExpectedQuantity)
                        </td>

                        <td style="text-align: right">
                            @Html.DisplayFor(m => m.ShipmentList[i].CartonReceived)
                        </td>
                        <td style="text-align: right">
                            @Html.DisplayFor(m => m.ShipmentList[i].CartonCount)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ShipmentList[i].MaxReceiveDate)
                        </td>
                        <td>
                            <span class="ui-icon ui-icon-close " style="cursor:pointer;" data-shipment-val="@Model.ShipmentList[i].ShipmentId"
                                  data-shipment-close-url="@Url.Action(MVC_Receiving.Receiving.Home.CloseShipment(Model.ShipmentList[i].ShipmentId, @Model.ShipmentList[i].PoNumber))"
                                  data-shipment-reopen-url="@Url.Action(MVC_Receiving.Receiving.Home.ReOpenShipment(Model.ShipmentList[i].ShipmentId, @Model.ShipmentList[i].PoNumber))"
                                  title="Close shipment"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
