@model DcmsMobile.CartonAreas.ViewModels.AssignSkuViewModel
@using (Html.BeginForm(MVC_CartonAreas.CartonAreas.Home.UpdateLocation(), FormMethod.Post, new
    {
        id = "frmEditLocation"
    }))
{   <div class="designForm">
        @Html.HiddenFor(m => m.LocationId, new { id = "hfCurrentLocationId" })
        <label for="tbSku" id="lblSku">SKU <em></em></label>
        @Html.HiddenFor(m => m.SkuId)
        @Html.TextBoxFor(m => m.SkuBarCode, new Dictionary<string, object>
   {
           {"data-ac-list-url", Url.Action(MVC_CartonAreas.CartonAreas.AutoComplete.SkusAll())},
         {"data-ac-validate-url", Url.Action(MVC_CartonAreas.CartonAreas.AutoComplete.ValidateSku())},
         {"id", "tbSku"}
   })<sup>&darr;*</sup>
        <span data-ac-msg-for="@Html.NameFor(m => m.SkuBarCode)" class="sku-display spnDisplaySku"></span>
        <br />
        <label for="tbAssignedVwh" id="lblAssignedVwh">Assigned Vwh<em></em></label>
        @Html.DropDownListFor(m => m.AssignedVwhId, Model.VwhList, "Please select", new { id = "tbAssignedVwh" })
        <br />
        <label for="tbMaxAssignedCarton" id="lblMaxAssignedCarton">Capacity(Cartons)<em></em></label>
        @Html.TextBoxFor(m => m.MaxAssignedCarton, new { id = "tbMaxAssignedCarton" })
        <br />
        <span id="displayCartonCount"></span>
        @Html.ValidationSummary()
        <div id="ajaxErrors">
        </div>
    </div>
}


@*
    $Id$
    $Revision$
    $URL$
    $Header$
    $Author$
    $Date$
*@
