@model DcmsMobile.CartonAreas.ViewModels.LocationCountMatrixViewModel
<table>
    <caption>Filter by Location Type</caption>
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Empty
            </th>
            <th>
                Non Empty
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Assigned
            </td>
            <td style="text-align:right">
                @if (Model.CountEmptyAssignedLocations > 0)
                {
                    @Html.ActionLink(Html.DisplayFor(m => m.CountEmptyAssignedLocations).ToString(),
                                MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.AreaId, true, true),
                                Model.AssignedLocationsFlag == true && Model.EmptyLocationsFlag == true ? new
                                {
                                    @class = "ui-state-active"
                                } : null)
                }
            </td>
            <td style="text-align:right">
                @if (Model.CountNonemptyAssignedLocations > 0)
                {
                    @Html.ActionLink(Html.DisplayFor(m => m.CountNonemptyAssignedLocations).ToString(),
                                MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.AreaId, true, false),
                                Model.AssignedLocationsFlag == true && Model.EmptyLocationsFlag == false ? new
                                {
                                    @class = "ui-state-active"
                                } : null)
                                
                }
            </td>
            <td style="text-align:right">
                @if (Model.CountAssignedLocations > 0)
                {
                    @Html.ActionLink(Html.DisplayFor(m => m.CountAssignedLocations).ToString(),
                                MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.AreaId, true, null),
                                Model.AssignedLocationsFlag == true && Model.EmptyLocationsFlag == null ? new
                                {
                                    @class = "ui-state-active"
                                } : null)
                }
            </td>
        </tr>
        <tr>
            <td>
                Unassigned
            </td>
            <td style="text-align:right">
                @if (Model.CountEmptyUnassignedLocations > 0)
                {
                    @Html.ActionLink(Html.DisplayFor(m => m.CountEmptyUnassignedLocations).ToString(),
                                MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.AreaId, false, true),
                                     Model.AssignedLocationsFlag == false && Model.EmptyLocationsFlag == true ? new
                                     {
                                         @class = "ui-state-active"
                                     } : null
                                )
                }
            </td>
            <td style="text-align:right">
                @if (Model.CountNonemptyUnassignedLocations > 0)
                {
                    @Html.ActionLink(Html.DisplayFor(m => m.CountNonemptyUnassignedLocations).ToString(),
                                MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.AreaId, false, false),
                                     Model.AssignedLocationsFlag == false && Model.EmptyLocationsFlag == false ? new
                                     {
                                         @class = "ui-state-active"
                                     } : null
                                )
                }
            </td>
            <td style="text-align:right">
                @if (Model.CountUnassignedLocations > 0)
                {
                    @Html.ActionLink(Html.DisplayFor(m => m.CountUnassignedLocations).ToString(),
                                MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.AreaId, false, null),
                                     Model.AssignedLocationsFlag == false && Model.EmptyLocationsFlag == null ? new
                                     {
                                         @class = "ui-state-active"
                                     } : null
                                )
                }
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                Total
            </td>
            <td style="text-align:right">
                @if (Model.CountEmptyLocations > 0)
                {
                    @Html.ActionLink(Html.DisplayFor(m => m.CountEmptyLocations).ToString(),
                                MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.AreaId, null, true),
                                     Model.AssignedLocationsFlag == null && Model.EmptyLocationsFlag == true ? new
                                     {
                                         @class = "ui-state-active"
                                     } : null
                                )
                }
            </td>
            <td style="text-align:right">
                @if (Model.CountNonemptyLocations > 0)
                {
                    @Html.ActionLink(Html.DisplayFor(m => m.CountNonemptyLocations).ToString(),
                                MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.AreaId, null, false),
                                     Model.AssignedLocationsFlag == null && Model.EmptyLocationsFlag == false ? new
                                     {
                                         @class = "ui-state-active"
                                     } : null
                                )
                }
            </td>
            <td style="text-align:right">
                @if (Model.TotalLocations > 0)
                {
                    @Html.ActionLink(Html.DisplayFor(m => m.TotalLocations).ToString(),
                                MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.AreaId),
                                     Model.AssignedLocationsFlag == null && Model.EmptyLocationsFlag == null ? new
                                     {
                                         @class = "ui-state-active"
                                     } : null
                                )
                }
            </td>
        </tr>
    </tfoot>
</table>

@*
    $Id: _areaInfoPartial.cshtml 11262 2012-01-04 09:42:30Z spandey $ 
    $Revision: 11262 $
    $URL: svn://vcs/net4/Projects/Mvc/DcmsMobile.CartonAreas/trunk/CartonAreas/Areas/CartonAreas/Views/Home/_areaInfoPartial.cshtml $
    $Header: svn://vcs/net4/Projects/Mvc/DcmsMobile.CartonAreas/trunk/CartonAreas/Areas/CartonAreas/Views/Home/_areaInfoPartial.cshtml 11262 2012-01-04 09:42:30Z spandey $
    $Author: spandey $
    $Date: 2012-01-04 15:12:30 +0530 (Wed, 04 Jan 2012) $
*@