@model DcmsMobile.CartonAreas.ViewModels.CartonAreaModel
@using (Html.BeginForm(MVC_CartonAreas.CartonAreas.Home.UpdateArea(), FormMethod.Post))
{
    <div class="designForm">
        @Html.HiddenFor(m => m.AreaId, new { id = "hfAreaId" })
        @Html.HiddenFor(m => m.BuildingId)
        @Html.LabelFor(m => m.LocationNumberingFlag)
        @Html.CheckBoxFor(m => m.LocationNumberingFlag, new { id = "cbLocationNumberingFlag" })
        <br />
        @Html.LabelFor(m => m.IsPalletRequired)
        @Html.CheckBoxFor(m => m.IsPalletRequired, new { id = "cbPalletRequired" })
        <br />
        @Html.LabelFor(m => m.UnusableInventory)
        @Html.CheckBoxFor(m => m.UnusableInventory, new { id = "cbUnusableInventory" })
        <br />
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new
   {
       id = "tbDescription",
       maxlength = 40,
       size = 30
   })
    </div>
}
