@model DcmsMobile.CartonAreas.ViewModels.CartonAreaViewModel
@{
    ViewBag.Title = "Carton Areas in Building " + @Model.BuildingId;
}

@helper EditLink(int i)
{
    var aLocList = new TagBuilder("a");
    aLocList.Attributes.Add("href", Url.Action(MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.CartonAreaList[i].AreaId)));


    aLocList.InnerHtml = string.Format("<h3>{0} {1}</h3>", Html.DisplayFor(m => m.CartonAreaList[i].ShortName), Html.DisplayFor(m => m.CartonAreaList[i].Description));

    if (Model.CartonAreaList[i].IsPalletRequired)
    {
        aLocList.InnerHtml += "<p>Pallet Area</p>";
    }

    if (Model.CartonAreaList[i].UnusableInventory)
    {
        var aside = new TagBuilder("p");
        aside.AddCssClass("ui-li-aside");
        aside.InnerHtml = "Unusable Inventory";

        aLocList.InnerHtml += aside.ToString();
    }

    var aEdit = new TagBuilder("a");
    aEdit.Attributes.Add("href", "#editArea");
    aEdit.Attributes.Add("data-rel", "popup");
    aEdit.Attributes.Add("data-area", Model.CartonAreaList[i].AreaId);
    aEdit.Attributes.Add("data-area-short-name", Model.CartonAreaList[i].ShortName);
    aEdit.Attributes.Add("data-description", Model.CartonAreaList[i].Description);
    aEdit.Attributes.Add("data-locationnumberingflag", Model.CartonAreaList[i].LocationNumberingFlag.ToString());
    aEdit.Attributes.Add("data-palletrequiredflag", Model.CartonAreaList[i].IsPalletRequired.ToString());
    aEdit.Attributes.Add("data-unusableinventoryflag", Model.CartonAreaList[i].UnusableInventory.ToString());

    if (Model.CartonAreaList[i].LocationNumberingFlag)
    {
        var count = new TagBuilder("p");
        count.AddCssClass("ui-li-count");
        count.InnerHtml = string.Format("{0} Locations", Html.DisplayFor(m => m.CartonAreaList[i].TotalLocations));

        aLocList.InnerHtml += count.ToString();
        @Html.Raw(aLocList)
        @Html.Raw(aEdit)
    }
    else
    {
        aEdit.InnerHtml = aLocList.InnerHtml;
        @Html.Raw(aEdit)
    }
}
<div id="AreaList">
    <ul data-role="listview" data-split-icon="edit" data-icon="edit">
        @for (var i = 0; i < Model.CartonAreaList.Count(); i++)
        {
            <li>
                @EditLink(i)
            </li>
        }
    </ul>
</div>

<div data-role="popup" id="editArea">
    @using (Html.BeginForm(MVC_CartonAreas.CartonAreas.Home.UpdateArea(), FormMethod.Post))
    {
        <div class="ui-field-contain">
            <label for="tbDescription">Description</label>
            <input type="text" name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.CartonAreas.ViewModels.CartonAreaModel m) => m.Description)"
                   id="tbDescription" maxlength="40" size=" 30" />

            <label for="cbLocationNumberingFlag">Numbered Location</label>
            <input id="cbLocationNumberingFlag" type="checkbox"
                   name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.CartonAreas.ViewModels.CartonAreaModel m) => m.LocationNumberingFlag)" value="true" />

            <label for="cbPalletRequired">Pallet Required</label>
            <input id="cbPalletRequired" type="checkbox"
                   name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.CartonAreas.ViewModels.CartonAreaModel m) => m.IsPalletRequired)" value="true" />

            <label for="cbUnusableInventory">Unusable Inventory</label>
            <input id="cbUnusableInventory" type="checkbox"
                   name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.CartonAreas.ViewModels.CartonAreaModel m) => m.UnusableInventory)" value="true" />
        </div>
        <input id="hfAreaId" type="hidden" name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.CartonAreas.ViewModels.CartonAreaModel m) => m.AreaId)" />
        <button class="ui-btn ui-btn-inline" type="submit">Update</button>
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Cancel</a>
    }
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {           
            $('#AreaList').on('click', 'a[href="#editArea"]', function (e) {
                $('#editArea')
                    .find('h3 span').text($(this).attr('data-area-short-name'))
                    .end()
                    .find('#tbDescription').val($(this).attr('data-description'))
                    .end()
                    .find('#hfAreaId').val($(this).attr('data-area'));

                $('#cbLocationNumberingFlag').prop('checked', $(this).attr('data-locationnumberingflag') == "True")
                  .checkboxradio('refresh');
                $('#cbPalletRequired').prop('checked', $(this).attr('data-palletrequiredflag') == "True")
                   .checkboxradio('refresh');
                $('#cbUnusableInventory').prop('checked', $(this).attr('data-unusableinventoryflag') == "True")
                   .checkboxradio('refresh')
            });
        });
    </script>
}
