@model DcmsMobile.CartonAreas.ViewModels.CartonAreaViewModel
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    ViewBag.Title = "Carton Area Home";
}
<div id="divAreaList">
    @if (Model.CartonAreaList.Count() > 0)
    {
        <table>
            <caption>Carton Areas</caption>
            <thead>

                <tr>
                    <th>Building-Area<span style="display:inline-block;" class="ui-icon ui-icon-triangle-1-n"></span></th>
                    <th>Description</th>
                    <th># Locations</th>
                    <th>Numbered</th>
                    <th>Pallet Required</th>
                    <th>Unusable Inventory</th>
                    <th>Change</th>
                </tr>

            </thead>
            <tbody>
                @for (var i = 0; i < Model.CartonAreaList.Count(); i++)
                {
                    <tr class="@(i % 2 == 0 ? "rowA" : "rowB")">
                        <td style="white-space:nowrap;">@Html.DisplayFor(m => m.CartonAreaList[i].BuildingId) - @Html.DisplayFor(m => m.CartonAreaList[i].ShortName)</td>
                        <td><span class="data-Description">@Html.DisplayFor(m => m.CartonAreaList[i].Description)</span></td>
                        <td style="text-align: right">
                            @if (Model.CartonAreaList[i].LocationNumberingFlag)
                            {
                                <a href="@Url.Action(MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.CartonAreaList[i].AreaId))">@Html.DisplayFor(m => m.CartonAreaList[i].TotalLocations)</a>
                            }
                            else
                            {
                                @Html.DisplayFor(m => m.CartonAreaList[i].TotalLocations)
                            }
                        </td>

                        <td style="text-align: center">
                            <span class="@(Model.CartonAreaList[i].LocationNumberingFlag ? "ui-icon ui-icon-check data-numbered-location" : "")" title="Numbered Location"
                                  style="display: inline-block" />
                        </td>
                        <td style="text-align: center">
                            <span class="@(Model.CartonAreaList[i].IsPalletRequired ? "ui-icon ui-icon-check data-Pallet-Required" : "")" title="Pallet required"
                                  style="display: inline-block;" />
                        </td>
                        <td style="text-align: center">
                            <span class="@(Model.CartonAreaList[i].UnusableInventory ? " ui-icon ui-icon-check data-Unusable-Inventory" : "")" title="Unusable Inventory"
                                  style="display: inline-block;" />
                        </td>
                        <td style="text-align: center">
                            <span class="data-area-id ui-helper-hidden">@Html.DisplayFor(m => m.CartonAreaList[i].AreaId)</span>
                            <span class="ui-icon ui-icon-pencil" title='Update area @Model.CartonAreaList[i].ShortName' style="display: inline-block; cursor: pointer;" />
                        </td>
                    </tr>
                           
                }
            </tbody>
        </table>

    }

</div>
<div id="divUpdateAreaDialog">
    @Html.Partial(MVC_CartonAreas.CartonAreas.Home.Views._updateFlagDialogPartial, Model.CurrentArea)
</div>
@section scripts
{
    <script src="@Links_CartonAreas.Areas.CartonAreas.Scripts.CartonArea_all_min_js" type="text/javascript"></script>
}
@*$Id$*@
