@model DcmsMobile.CartonAreas.ViewModels.CartonAreaViewModel
@{
    ViewBag.Title = "Carton Areas in Building " + @Model.BuildingId;
}

<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
    <thead>
        <tr>
            <th>Area<span style="display:inline-block;" class="ui-icon ui-icon-triangle-1-n"></span></th>
            <th data-priority="1">Description</th>
            <th># Locations</th>
            <th data-priority="2">Numbered</th>
            <th data-priority="3">Pallet Required</th>
            <th data-priority="4">Unusable Inventory</th>
            <th>Change</th>
        </tr>

    </thead>
    <tbody>
        @for (var i = 0; i < Model.CartonAreaList.Count(); i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => m.CartonAreaList[i].ShortName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.CartonAreaList[i].Description)
                </td>
                <td>
                    @if (Model.CartonAreaList[i].LocationNumberingFlag)
                    {
                        <a href="@Url.Action(MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(Model.CartonAreaList[i].AreaId))">@Html.DisplayFor(m => m.CartonAreaList[i].TotalLocations)</a>
                    }
                    else
                    {
                        @Html.DisplayFor(m => m.CartonAreaList[i].TotalLocations)
                    }
                </td>
                <td>
                    <span class="@(Model.CartonAreaList[i].LocationNumberingFlag ? "ui-nodisc-icon ui-alt-icon ui-btn ui-corner-all ui-icon-check ui-btn-icon-notext ui-btn-inline" : "")" title="Numbered Location"></span>
                </td>
                <td>
                    <span class="@(Model.CartonAreaList[i].IsPalletRequired ? "ui-nodisc-icon ui-alt-icon ui-btn ui-corner-all ui-icon-check ui-btn-icon-notext ui-btn-inline" : "")" title="Pallet required"></span>
                </td>
                <td>
                    <span class="@(Model.CartonAreaList[i].UnusableInventory ? "ui-nodisc-icon ui-alt-icon ui-btn ui-corner-all ui-icon-check ui-btn-icon-notext ui-btn-inline" : "")" title="Unusable Inventory"></span>
                </td>
                <td>
                    @Html.HiddenFor(m => m.CartonAreaList[i].AreaId)
                    <span class="ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext ui-btn-inline" title='Update area @Model.CartonAreaList[i].ShortName' style="cursor: pointer;" />
                </td>
            </tr>
        }
    </tbody>
</table>





@*<div id="divUpdateAreaDialog">
        @Html.Partial(MVC_CartonAreas.CartonAreas.Home.Views._updateFlagDialogPartial, new DcmsMobile.CartonAreas.ViewModels.CartonAreaModel())
    </div>*@
@section scripts
{
    @*<script src="@Links_CartonAreas.Areas.CartonAreas.Scripts.CartonArea_all_js" type="text/javascript"></script>*@
}
@*$Id$*@
