@model DcmsMobile.CartonAreas.ViewModels.CartonAreaViewModel
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    ViewBag.Title = "Carton Area Home";
    var grid = Html.GridFor(m => m.CartonAreaList);
    grid.AddColumn().HeaderHtml("Building-Area").CellAttribute("style", "white-space :nowrap")
        .CellHtml(item => item.Html.DisplayFor(m => m.BuildingId) + " - " + item.Html.DisplayFor(m => m.ShortName))
        .Presorted();
    grid.AddColumn(m => m.Description).CellHtml(@<text><span class="data-Description">@item.Model.Description</span></text>).CellAttribute("style", "white-space :nowrap; ");
    grid.AddColumn(m => m.TotalLocations).CellAttribute("style", "text-align:right")
         .CellHtml(item => item.Model.LocationNumberingFlag, item => item.Html.ActionLink(
             item.Html.DisplayFor(m => m.TotalLocations).ToString(), MVC_CartonAreas.CartonAreas.Home.ManageCartonArea(
             item.Model.AreaId)));
    grid.AddColumn(m => m.LocationNumberingFlag).CellHtml(c => c.Html.ViewData.Model.LocationNumberingFlag, @<text><div
        class="ui-icon ui-icon-check data-numbered-location" title="Numbered Location"
        style="display: inline-block;">
    </div></text>).CellHtml(c => !c.Html.ViewData.Model.LocationNumberingFlag, @<text>&nbsp;</text>).CellAttribute("style", "text-align:center");
    grid.AddColumn(m => m.IsPalletRequired).CellHtml(c => c.Html.ViewData.Model.IsPalletRequired, @<text><div
        class="ui-icon ui-icon-check data-Pallet-Required" title="Pallet required" style="display: inline-block;">
    </div></text>).CellHtml(c => !c.Html.ViewData.Model.IsPalletRequired, @<text>&nbsp;</text>).CellAttribute("style", "text-align:center");
    grid.AddColumn(m => m.UnusableInventory).CellHtml(c => c.Html.ViewData.Model.UnusableInventory, @<text><div
        class="ui-icon ui-icon-check data-Unusable-Inventory" title="Unusable Inventory"
        style="display: inline-block;">
    </div></text>).CellHtml(c => !c.Html.ViewData.Model.UnusableInventory, @<text>&nbsp;</text>).CellAttribute("style", "text-align:center");
    grid.AddColumn().HeaderHtml("Change").CellHtml(@<text><div
    class="ui-icon ui-icon-pencil" title='Update area @item.Model.ShortName' style="display:
    inline-block; cursor:pointer;">
    </div></text>).CellAttribute("style", "text-align:center");
    grid.AddColumn().CellHtml(@<text><span class="data-area-id">@item.Model.AreaId</span></text>)
        .CellAttribute("class", "ui-helper-hidden")
        .FooterAttribute("class", "ui-helper-hidden")
        .HeaderAttribute("class", "ui-helper-hidden");
}
<div id="divAreaList">
    @grid.GetHtml(
            rowStyle: "rowA",
            alternatingRowStyle: "rowB",
            emptyDataHtml: "<span class='ui-state-highlight'>Carton area not found.</span>"
            )
</div>
<div id="divUpdateAreaDialog">
    @Html.Partial(MVC_CartonAreas.CartonAreas.Home.Views._updateFlagDialogPartial, Model.CurrentArea)
</div>
@section scripts 
{
    <script src="@Links_CartonAreas.Areas.CartonAreas.Scripts.Index_all_js" type="text/javascript"></script>
}
@*$Id$*@