@model DcmsMobile.CartonAreas.ViewModels.EditAddressOfBuildingViewModel
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    ViewBag.Title = string.Format("Edit Address Of {0}", Model.BuildingId);
}
@using (Html.BeginForm(MVC_CartonAreas.CartonAreas.Home.UpdateAddress(), FormMethod.Post))
{
    @Html.HiddenFor(m => m.BuildingId)
    <div>
        @Html.LabelFor(m => m.Address1)
        @Html.TextBoxFor(m => m.Address1, new
   {
       size = 40,
       maxlength = 40
   })<sup>*</sup>
        @Html.ValidationMessageFor(m => m.Address1)
    </div>
    <div>
        @Html.LabelFor(m => m.Address2)
        @Html.TextBoxFor(m => m.Address2, new
   {
       size = 40,
       maxlength = 40
   })
    </div>
    <div>
        @Html.LabelFor(m => m.Address3)
        @Html.TextBoxFor(m => m.Address3, new
   {
       size = 40,
       maxlength = 40
   })
    </div>
    <div>
        @Html.LabelFor(m => m.Address4)
        @Html.TextBoxFor(m => m.Address4, new
   {
       size = 40,
       maxlength = 40
   })
    </div>
    <div>
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new
   {
       size = 40,
       maxlength = 40
   })<sup>*</sup>
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div>
        @Html.LabelFor(m => m.State)
        @Html.TextBoxFor(m => m.State, new
   {
       size = 2,
       maxlength = 2
   })
    </div>
    <div>
        @Html.LabelFor(m => m.ZipCode)
        @Html.TextBoxFor(m => m.ZipCode, new
   {
       size = 10,
       maxlength = 10
   })<sup>*</sup>
        @Html.ValidationMessageFor(m => m.ZipCode)
    </div>
    <div>
        @Html.LabelFor(m => m.CountryCode)
        @Html.TextBoxFor(m => m.CountryCode, new
   {
       size = 3,
       maxlength = 3
   })
    </div>
    <div>
        <input type="submit" value="Change" />
        <a href="@Url.Action(MVC_CartonAreas.CartonAreas.Home.Index())">Cancel</a>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input:submit').button();
        });
    </script>
    <style type="text/css">
        div > label {
            width: 12em;
            display: inline-block;
            vertical-align: top;
        }
    </style>
}