@model DcmsMobile.CartonAreas.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Buildings";
}

@Html.ValidationSummary()
<div id="buildinglist">
    @for (var i = 0; i < Model.Buildings.Count; i++)
    {
        <h3 class="ui-bar ui-bar-a">@(i + 1) @Html.DisplayFor(m => m.Buildings[i].BuildingId) : @Html.DisplayFor(m => m.Buildings[i].Description)</h3>
        <div class="ui-body">
            <div class="ui-field-contain">
                <label>
                    Building Address
                    <a href="@Url.Action(MVC_CartonAreas.CartonAreas.Home.EditAddressOfBuilding(Model.Buildings[i].BuildingId))">Edit</a>
                </label>
                <em>
                    @Html.DisplayFor(m => m.Buildings[i].Address1)
                    @Html.DisplayFor(m => m.Buildings[i].Address2)
                    @Html.DisplayFor(m => m.Buildings[i].Address3)
                    @Html.DisplayFor(m => m.Buildings[i].Address4)
                    <br />
                    @Html.DisplayFor(m => m.Buildings[i].City)
                    @Html.DisplayFor(m => m.Buildings[i].State),
                    @Html.DisplayFor(m => m.Buildings[i].ZipCode)
                    @Html.DisplayFor(m => m.Buildings[i].CountryCode)
                </em>
            </div>
            <div class="ui-field-contain">
                <label>Created</label>
                <div>@Html.DisplayFor(m => m.Buildings[i].InsertDate) by @Html.DisplayFor(m => m.Buildings[i].InsertedBy)</div>
            </div>
            <div class="ui-field-contain">
                <label>Carton Areas</label>
                <div>
                    @Html.DisplayFor(m => m.Buildings[i].CountCartonArea)
                    <a href="@Url.Action(MVC_CartonAreas.CartonAreas.Home.CartonArea(Model.Buildings[i].BuildingId))">List</a>
                </div>
            </div>
            <div class="ui-field-contain">
                <label>Numbered Carton Areas</label>
                <div>
                    @Html.DisplayFor(m => m.Buildings[i].CountNumberedArea) <small><em>@Html.DisplayFor(m => m.Buildings[i].CountLocation) locations</em></small>
                    <br />
                    Max Cartons on Pallet: @Html.DisplayFor(m => m.Buildings[i].ReceivingPalletLimit)
                    <a href="#editPalletLimit" data-rel="popup" data-limit="@Model.Buildings[i].ReceivingPalletLimit"
                       data-building="@Model.Buildings[i].BuildingId">Edit</a>
                </div>
            </div>
            <div class="ui-field-contain">
                <label>Forward Stock Areas</label>
                <div>
                    @Html.DisplayFor(m => m.Buildings[i].CountPickingAreas)
                    <a href="@Url.Action(MVC_CartonAreas.CartonAreas.Home.PickingArea(Model.Buildings[i].BuildingId))">List</a>
                </div>
            </div>
        </div>
    }
</div>
<div data-role="popup" id="editPalletLimit" data-dismissible="false">
    <h3>Building <span></span></h3>

    @using (Html.BeginForm(MVC_CartonAreas.CartonAreas.Home.EditPalletLimit(), FormMethod.Post))
    {
        <div class="ui-field-contain">
            <label for="tbEditPalletLimit">New Pallet Limit</label>
            <input id="tbEditPalletLimit" type="number" size="4"
                   name="@MVC_CartonAreas.CartonAreas.Home.EditPalletLimitParams.palletLimit" required="required" />
        </div>
        <input type="hidden" name="@MVC_CartonAreas.CartonAreas.Home.EditPalletLimitParams.buildingId">
        <button class="ui-btn ui-btn-inline" type="submit">Submit</button>
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Cancel</a>
    }
    @*Receivers will receive a warning when this pallet limit is reached,
        but they will still be able to place more cartons on the pallet.*@
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // When edit pallet limit is clicked, populate values in the dialog
            $('#buildinglist').on('click', 'a[href="#editPalletLimit"]', function (e) {
                $('#editPalletLimit')
                    .find('h3 span').text($(this).attr('data-building'))
                    .end().find('input[type="number"]').attr({
                        placeholder: 'Current Value ' + $(this).attr('data-limit')
                    }).end().find('input:hidden').val($(this).attr('data-building'));
                ;
            });
        });
    </script>
}



