@model DcmsMobile.CartonAreas.ViewModels.PickingAreaViewModel
@{
    ViewBag.Title = string.Format("Picking Area of {0}", Model.BuildingId);
}
@section sidebar {
    <div class="box boxA">
        <div class="boxContent">
            <a href="@Url.Action(MVC_CartonAreas.CartonAreas.Home.Index())">Back to Building List</a>
        </div>
    </div>
}

<div class="boxContent" id="divPickingAreaList">
    <table>
        <caption>Area List</caption>
        <thead>
            <tr>
                <th>Area : Description</th>
                <th>Numbered</th>
                <th>Picking Area</th>
                <th>Restock Area</th>
                <th>Shipping Area</th>
                <th>Change</th>

            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.PickingAreaList.Count; i++)
            {
                <tr class="@(i % 2 == 0 ? "rowA" : "rowB")">
                    <td>
                        @Html.DisplayFor(m => m.PickingAreaList[i].ShortName) : @Html.DisplayFor(m => m.PickingAreaList[i].Description)
                    </td>
                    <td title="Numberd Location">
                        <span class="@(Model.PickingAreaList[i].LocationNumberingFlag ? "ui-icon ui-icon-check data-numbered-location" : "")"></span>
                    </td>
                    <td title="Picking Area">
                        <span class="@(Model.PickingAreaList[i].IsPickingArea ? "ui-icon ui-icon-check data-Picking-Area" : "")"></span>
                    </td>
                    <td title="Restock Area">
                        <span class="@(Model.PickingAreaList[i].IsRestockArea ? "ui-icon ui-icon-check data-Restock-Area" : "")"></span>
                    </td>
                    <td title="Shipping Area">
                        <span class="@(Model.PickingAreaList[i].IsShippingArea ? "ui-icon ui-icon-check data-Shipping-Area" : "")"></span>
                    </td>
                    <td style="text-align: center">
                        <span class="data-area-id ui-helper-hidden">@Html.DisplayFor(m => m.PickingAreaList[i].AreaId)</span>
                        <span class="ui-icon ui-icon-pencil" title='Update area @Model.PickingAreaList[i].ShortName' style="display: inline-block; cursor: pointer;" />
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


<div id="divUpdatePickingAreaDialog">
   Dialogue box
  
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#divPickingAreaList').click(function (e) {
                $("#divUpdatePickingAreaDialog").dialog('open');
            });

            $("#divUpdatePickingAreaDialog").dialog({
                autoOpen: false,
                width: 'auto',
                modal: true,
                closeOnEscape: true
            });

        });
    </script>
}


