@model DcmsMobile.Inquiry.Areas.Inquiry.ReturnEntity.ReturnViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    ViewBag.Title = string.Format(" Returns Authorization # {0}", Model.ReturnAuthorizationNumber);
}

@section applinks{
    <li>
        <a href="@Url.Action(MVC_Inquiry.Inquiry.ReturnEntity.ReturnExcel(Model.ReturnAuthorizationNumber))">
            <span class="glyphicon glyphicon-export"></span> Excel
        </a>
    </li>
}

<div class="container">
        <h2 style="margin-top:0px">
            Returns Authorization Number @Html.DisplayFor(m => m.ReturnAuthorizationNumber)
        </h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayFor(m => m.TotalReceipts) Receipts</h3>
        </div>
        <div class="list-group">
            @for (int i = 0; i < Model.ReturnRecipts.Count; i++)
            {
                if (i == 0 || Model.ReturnRecipts[i].CustomerId != Model.ReturnRecipts[i - 1].CustomerId)
                {
                    <a class="list-group-item active" href="@Url.Action(MVC_Inquiry.Inquiry.CustomerEntity.Customer(Model.ReturnRecipts[i].CustomerId))">
                        @Html.DisplayFor(m => m.ReturnRecipts[i].CustomerId) : @Html.DisplayFor(m => m.ReturnRecipts[i].CustomerName)
                    </a>
                }
                <a href="@Url.Action(MVC_Inquiry.Inquiry.ReturnEntity.ReturnReceipt(Model.ReturnRecipts[i].ReceiptNumber))" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <small>@(i + 1).</small> Receipt @Html.DisplayFor(m => m.ReturnRecipts[i].ReceiptNumber)
                        <small>@Html.DisplayFor(m => m.ReturnRecipts[i].ExpectedPieces) pieces in @Html.DisplayFor(m => m.ReturnRecipts[i].NoOfCartons) cartons</small>
                    </h4>


                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    <span class="badge">@Html.DisplayFor(m => m.ReturnRecipts[i].ReceivedDate)</span>
                    @if (Model.ReturnRecipts[i].IsCompleteReceipt)
                    {
                        <div class="text-success pull-right" style="margin-right:1em">
                            <span class="glyphicon glyphicon-ok"></span>
                            Completed
                        </div>
                    }
                    else
                    {
                        <span>Not Complete</span>
                    }

                    <p class="list-group-item-text">@Html.DisplayFor(m => m.ReturnRecipts[i].ReasonDescription)</p>
                </a>
            }
            @if (Model.ReturnRecipts.Count < Model.TotalReceipts)
            {
                <a class="list-group-item list-group-item-info" href="@Url.Action(MVC_Inquiry.Inquiry.ReturnEntity.ReturnExcel(Model.ReturnAuthorizationNumber))">
                    <span class="glyphicon glyphicon-export"></span> See more in Excel
                </a>
            }
        </div>

    </div>
</div>
