@model DcmsMobile.Inquiry.Areas.Inquiry.ReturnEntity.ReturnReceiptListViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    ViewBag.Title = "Merchandise Returns";
}
<div class="container">
    <h2 style="margin-top:0px">
        @ViewBag.Title
    </h2>
    <p>
        This is a list of some recent merchandise returns.
    </p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">
            <span class="badge pull-right">Received Date</span>
            <h4 class="list-group-item-heading">
                <abbr title="Returned Merchandise Authorization">RMA</abbr> #
                <small>
                    Customer
                </small>
                <small class="text-success">
                    &bull; <em> Pieces in Carton</em>
                </small>
            </h4>
            <p class="list-group-item-text">
                Total Receipts of all customers

            </p>
        </li>
        @for (var i = 0; i < Model.ReturnReceiptList.Count; ++i)
        {
            <li class="list-group-item">
                <span class="badge pull-right">  @Html.DisplayFor(m => m.ReturnReceiptList[i].ReceivedDate)</span>
                <h4 class="list-group-item-heading">
                    <small>@(i+1)</small>
                    @Html.ActionLink(Model.ReturnReceiptList[i].ReturnNumber,MVC_Inquiry.Inquiry.ReturnEntity.Return(Model.ReturnReceiptList[i].ReturnNumber))
                    <small>
                        <a href="@Url.Action(MVC_Inquiry.Inquiry.CustomerEntity.Customer(Model.ReturnReceiptList[i].CustomerId))">
                            @Html.DisplayFor(m => m.ReturnReceiptList[i].CustomerId): @Html.DisplayFor(m => m.ReturnReceiptList[i].CustomerName)
                        </a>
                    </small>
                    <small class="text-success">
                        &bull;<em> @Html.DisplayFor(m => m.ReturnReceiptList[i].ExpectedPieces) in @Html.DisplayFor(m => m.ReturnReceiptList[i].NoOfCartons)</em> 
                    </small>
                </h4>
                <p class="list-group-item-text">
                    @Html.DisplayFor(m => m.ReturnReceiptList[i].TotalReceipts) of @Html.DisplayFor(m => m.ReturnReceiptList[i].CustomerCount)
                </p>
            </li>
        }
    </ul>
</div>