@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
@model DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel
<fieldset>
    <legend>Configuration</legend>
@Html.LabelFor(m => m.Style): <span data-name="@Html.NameFor(m => m.Style)" 
    data-val=""></span>
<br />
@Html.LabelFor(m => m.Color): <span data-name="@Html.NameFor(m => m.Color)" 
    data-val=""></span>
<br />


@Html.LabelFor(m => m.SewingPlantId): <span data-name="@Html.NameFor(m => m.SewingPlantId)" 
    data-val=""></span>
<br />

@Html.LabelFor(m => m.SpotCheckPercent): <span  data-name="@Html.NameFor(m => m.SpotCheckPercent)" 
    data-val=""></span>
<br />
</fieldset>
@using (Html.BeginForm(MVC_Receiving.Receiving.Rad.SetSpotCheckPercentage(), FormMethod.Post))
{
    @Html.HiddenFor(m => m.Style)
    @Html.HiddenFor(m => m.SewingPlantId) 
    @Html.HiddenFor(m => m.Color)  
    <fieldset>
        <legend>Edit</legend>
    <span>Enable Configuration :</span>  
    <input type="checkbox" name="@Html.NameFor(m=>m.IsSpotCheckEnabled)" id="cbEditIsSpotCheckEnable" />
    <br />
    <span>New Percentage:</span> @Html.TextBoxFor(m => m.SpotCheckPercent, new  { size=4})
    </fieldset>
    @Html.ValidationSummary()
}
<!--$Id$-->
