@using DcmsMobile.Receiving.ViewModels.Rad
@using EclipseLibrary.Mvc.Helpers
@model IList<SpotCheckViewModel>
@{


    bool enableEditing = (bool)ViewBag.EnableEditing;
    var key = string.Empty;
    if (ViewBag.key != null)
    {
        key = ViewBag.key;
    }
    if (Model.Count() != 0)
    {
        var i = 0;

        <div class="table-responsive" id="divSpotCheckList">
            <table class="table  table-condensed table-bordered">
                <thead class="bg-success">
                    <tr>
                        <th style="text-align:center">
                            Sewing PlantId
                        </th>
                        <th style="text-align:center">
                            Plant Name
                        </th>
                        <th style="text-align:center">
                            Style
                        </th>
                        <th style="text-align:center">
                            Color
                        </th>
                        <th style="text-align:center">
                            Spot Check %
                        </th>
                        <th style="text-align:center">Created Date</th>
                        <th style="text-align:center">Created By</th>
                        <th style="text-align:center">Modify Date</th>
                        <th style="text-align:center">Modified By</th>
                        @if (!enableEditing)
                        {


                            <th style="text-align:center">Change</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr title="Disabled row implies that SpotCheck will not be performed for these settings."
                            data-style="@item.Style"
                            data-color="@item.Color"
                            data-sewingplant-id="@item.SewingPlantId"
                            data-spotcheck-percent="@item.SpotCheckPercent"
                            data-is-spotcheck-enabled="@item.IsSpotCheckEnabled"
                            data-key="@item.ConfigurationKey"
                            @*class="@(key==@item.ConfigurationKey ? "bg-success" :"")"*@
                            class="@(item.IsSpotCheckEnabled ? "bg-info" : "text-muted active")">

                            <td>@item.SewingPlantId</td>


                            <td>@item.PlantName</td>


                            <td>@item.Style</td>

                            <td>@item.Color</td>

                            <td>
                                @item.SpotCheckPercent

                                <span class="@(item.IsSpotCheckEnabled ? "" : "glyphicon glyphicon-ban-circle pull-right")"></span>
                            </td>
                            <td>@item.CreationDateDispaly</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.ModifyDateDispaly</td>
                            <td>@item.ModifiedBy</td>

                            @if (!enableEditing)
                            {
                                <td>
                                    <button class="btn btn-link" data-toggle="modal" data-target="#btnEditSpotCheck">
                                        <span class="glyphicon glyphicon-edit" title="Edit Spot Check"></span>
                                    </button>
                                    <button class="btn btn-link" data-toggle="modal" data-target="#btnRemoveSpotCheck">
                                        <span class="glyphicon glyphicon-remove" title="Remove Spot Check Percent"></span>
                                    </button>
                                </td>

                            }

                        </tr>
                            i++;
                    }

                </tbody>

            </table>
        </div>


    }
}