@using DcmsMobile.Receiving.ViewModels.Rad
@using EclipseLibrary.Mvc.Helpers
@model IList<SpotCheckViewModel>
@{
    bool enableEditing = (bool)ViewBag.EnableEditing;
    var key = string.Empty;
    if (ViewBag.key != null)
    {
        key = ViewBag.key;
    }
    if (Model.Count() != 0)
    {
        var i = 0;

        <div class="table-responsive">
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center" data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.SewingPlantId)" data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.SewingPlantId)">
                            Sewing PlantId
                        </th>
                        <th style="text-align:center" data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.PlantName)" data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.PlantName)">
                            Plant Name
                        </th>
                        <th style="text-align:center" data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.Style)" data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.Style)">
                            Style
                        </th>
                        <th style="text-align:center" data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.Color)" data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.Color)">
                            Color
                        </th>
                        <th style="text-align:center" data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.SpotCheckPercent)" data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.SpotCheckPercent)">Spot Check %
                        <th data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.IsSpotCheckEnabled)" data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.IsSpotCheckEnabled)" style="display:none">
                            Spot Check %
                        </th>
                        <th style="text-align:center">Created Date</th>
                        <th style="text-align:center">Created By</th>
                        <th style="text-align:center">Modify Date</th>
                        <th style="text-align:center">Modified By</th>
                        @if (!enableEditing)
                        {


                            <th style="text-align:center">Change</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr title="Disabled row implies that SpotCheck will not be performed for these settings." data-key="@item.ConfigurationKey" class="@(i%2==0?" rowA" : "rowB") @(key==@item.ConfigurationKey ? "ui-state-highlight" :"")">
                            <td data-val="@item.SewingPlantId" class="@(item.IsSpotCheckEnabled ? "" : "ui-state-disabled" )">@item.SewingPlantId</td>


                            <td data-val="@item.PlantName" class="@(item.IsSpotCheckEnabled ? "" : "ui-state-disabled" )">@item.PlantName</td>


                            <td data-val="@item.Style" class="@(item.IsSpotCheckEnabled ? "" : "ui-state-disabled" )">@item.Style</td>

                            <td data-val="@item.Color" class="@(item.IsSpotCheckEnabled ? "" : "ui-state-disabled" )">@item.Color</td>

                            <td data-val="@item.SpotCheckPercent" class="@(item.IsSpotCheckEnabled ? "" : "ui-state-disabled" )">@item.SpotCheckPercent</td>
                            <td data-val="@item.IsSpotCheckEnabled" style="display:none"></td>

                            <td class="@(item.IsSpotCheckEnabled ? "" : "ui-state-disabled" )">@item.CreationDateDispaly</td>
                            <td class="@(item.IsSpotCheckEnabled ? "" : "ui-state-disabled" )">@item.CreatedBy</td>
                            <td class="@(item.IsSpotCheckEnabled ? "" : "ui-state-disabled" )">@item.ModifyDateDispaly</td>
                            <td class="@(item.IsSpotCheckEnabled ? "" : "ui-state-disabled" )">@item.ModifiedBy</td>
                            @if (!enableEditing)
                            {
                                <td>
                                    <button class="btn btn-link" data-toggle="modal" data-target="#btnEditSpotCheck">
                                        <i class="glyphicon glyphicon-edit" title="Edit Spot Check"></i>
                                    </button>
                                    <button class="btn btn-link" data-toggle="modal" data-target="#btnRemoveSpotCheck">
                                        <i class="glyphicon glyphicon-remove" title="Remove Spot Check Percent"></i>
                                    </button>
                                </td>

                            }

                        </tr>
                            i++;
                    }

                </tbody>

            </table>
        </div>


    }
}