@using DcmsMobile.Receiving.ViewModels.Rad;


@model RadViewModel
@{
    ViewBag.Title = "Receiving Configuration";
}

@section scripts {
    <script src="@Links_Receiving.Scripts.jquery_validate_js" type="text/javascript"></script>
    <script src="@Links_Receiving.Scripts.jquery_validate_unobtrusive_js" type="text/javascript"></script>
    <script src="@Links_Receiving.Areas.Receiving.Scripts.Rad.Rad_all_js" type="text/javascript"></script>
}
@section sidebar {
    <div class="box">
        <div class="boxContent">
            <p>
                @Html.ActionLink("Receive Cartons", MVC_Receiving.Receiving.Home.Index())
            </p>
            @if (Model.SpotCheckAreaList.Count!= 0)
            {
                var i = 1;
                  
                <table>
                    <caption>Available Spot Check Areas</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Area</th>
                            <th>Building</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SpotCheckAreaList)
                        {
                            <tr class="@(i%2==0 ?"rowA" :"rowB")">
                                <td>@i</td>
                                <td>@item.AreaId</td>
                                <td>@item.BuildingId</td>
                            </tr>
                            i++;
                        }

                    </tbody>

                </table>
            }
            else
            {
                <span>No Spot Check Areas defined</span>
            }
            <span class="ui-icon ui-icon-info" style="display: inline-block"></span>Disabled configuration settings will not be honored during receiving.

        </div>
    </div>
}

<div id="divSpotCheck">
    <div id="divSpotCheckList" data-delete-ajax-url="@Url.Action(MVC_Receiving.Receiving.Rad.DeleteSpotCheckPercentage())" data-edit-dialog="#dlgEditSpotCheck"
        data-add-button="#btnAddSpotCheck" data-add-dialog="#divAddSpotCheck">
        @Html.Partial(MVC_Receiving.Receiving.Rad.Views._spotCheckListPartial, Model.SpotCheckList)
    </div>
    @if (Model.EnableEditing)
    {
        <button id="btnAddSpotCheck">
            Add Spot Check...</button>
    }
</div>

@*In the Dialog box all the data-name attribute must be matched with SpotCheckViewModel properties name*@
<div id="dlgEditSpotCheck" title="Edit Spot Check Percentage">
    @Html.Partial(MVC_Receiving.Receiving.Rad.Views._editSpotCheckPartial, new SpotCheckViewModel())
</div>
<div id="divAddSpotCheck" title="Add Spot Check Percentage">
    @Html.Partial(MVC_Receiving.Receiving.Rad.Views._addSpotCheckPartial, new SpotCheckViewModel
{
    SewingPlantList = Model.SpotCheckViewModel.SewingPlantList
})
</div>
<!--$Id$-->
