@{
    ViewBag.Title = "Carton Manager - Home";
}
@Html.StatusSummary()
@Html.ValidationSummary()
<h2>Press number of task you wish to perform</h2>
<ol onkeypress="OnBodyKeyPress()">
    <li>
        @Html.ActionLink("Carton Locating (CLOC)", MVC_CartonManager.CartonManager.Locating.Pallet(), new
        {
            id = "item1"
        })<span>
            . Use this UI to locate cartons on a pallet. Cartons of scanned pallet, which
            were not located will be marked in suspense.
        </span>
    </li>
    <li>
        @Html.ActionLink("Create Pallet (C2P)", MVC_CartonManager.CartonManager.Home.PalletizeMobile(), new
   {
       id = "item2"
   })<span>
            .Scan Cartons and place them on scanned Area and Pallet. You can also merge
            Pallets here.
        </span>
    </li>
    <li>
        @Html.ActionLink("Mark Rework Complete", MVC_CartonManager.CartonManager.Home.MarkReworkCompleteUi(), new
   {
       id = "item3"
   })<span>
            . Use this to Mark Rework Complete of those Cartons on which rework has to be
            done.
        </span>
    </li>
    <li>
        @Html.ActionLink("Abandon Rework", MVC_CartonManager.CartonManager.Home.AbandonReworkUi(), new
   {
       id = "item4"
   })<span>
            . If you no longer want to perform rework on Cartons which had been marked for
            rework, use this UI to let the system know.
        </span>
    </li>
</ol>

@if (this.ViewContext.HttpContext.GetOverriddenBrowser().IsMobileDevice != this.ViewContext.HttpContext.Request.Browser.IsMobileDevice)
{
    @Html.ActionLink("Toggle Mobile Emulation", MVC_CartonManager.CartonManager.Home.ToggleEmulation())
}
@section scripts {
    <script src="@Links_CartonManager.Areas.CartonManager.Scripts.Index_mobile_all_js" type="text/javascript"></script>
}
@*$Id$*@ 