@*https://github.com/bassjobsen/Bootstrap-3-Typeahead*@
@{
    ViewBag.Title = "Home";
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
}


<div class="container">   
    <h2 style="margin-top:0px">Inquiry Home <small>Search or Browse</small></h2>
    
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                    <div class="list-group">
                        <h4 class="list-group-item list-group-item-success">
                            Outbound Shipment
                            <span class="glyphicon glyphicon-upload pull-right"></span>
                            <small>Customer Orders</small>
                           
                        </h4>                     
                        <a href="@Url.Action(MVC_Inquiry.Inquiry.CustomerEntity.CustomerList())" class="list-group-item">Customers <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        <a href="@Url.Action(MVC_Inquiry.Inquiry.PickslipEntity.PoList())" class="list-group-item">Purchase Orders <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.PickslipEntity.PickslipList())">Pickslips<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        <a href="@Url.Action(MVC_Inquiry.Inquiry.PickslipEntity.WaveList())" class="list-group-item">Pick Waves <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.BoxEntity.BoxList())">Boxes <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        <a href="@Url.Action(MVC_Inquiry.Inquiry.BoxEntity.BoxPalletList())" class="list-group-item">Pallets<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        <a href="@Url.Action(MVC_Inquiry.Inquiry.ShipmentEntity.ParentShipmentList())" class="list-group-item">Bill of Ladings<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.ReturnEntity.ReturnReceiptList())">Merchandise Returns<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    </div>
                </div>
            <div class="col-md-4">                
                <div class="list-group">
                    <h4 class="list-group-item list-group-item-success">
                        Inbound
                        <span class="glyphicon glyphicon-download pull-right"></span>
                        <small>Inventory Receipts</small>
                       
                    </h4>                  
                    <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentList())">Intransit Shipments<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.CartonEntity.CartonList())">Cartons<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.CartonEntity.PalletList())">Pallets<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                </div>
            </div>
            <div class="col-md-4">              
                <div class="list-group">
                    <h4 class="list-group-item list-group-item-success">
                        <span class="glyphicon glyphicon-asterisk pull-right"></span>
                        Warehouse                   
                    </h4>
                    <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.SkuEntity.SkuList())">SKUs<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.CartonAreaEntity.CartonAreaList())">Carton Areas<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.SkuAreaEntity.SKUAreaList())">SKU Areas<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.CartonAreaEntity.CartonLocationList())">Carton Location<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.SkuAreaEntity.SkuLocationList())">SKU Location<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>



@*$Id$*@
