@model DcmsMobile.PickWaves.ViewModels.Config.PackingRulesModel
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
<form class="form-horizontal" role="form" action="@Url.Action(MVC_PickWaves.PickWaves.Config.AddPackingRule())" method="post">

    @Html.ValidationSummary()
    <div class="form-group">


        <label for="case" class="col-sm-3 control-label">Style<sup><span class="glyphicon glyphicon-asterisk"></span></sup> </label>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Style, new Dictionary<string, object>
   {
           {"data-ac-list-url", Url.Action(MVC_PickWaves.PickWaves.AutoComplete.StyleAutoComplete())},
         {"data-ac-validate-url", Url.Action(MVC_PickWaves.PickWaves.AutoComplete.ValidateStyle())},
         {"id", "tbStyle"},
         {"class","form-control"}
         
   })
            @*<input type="text" name="@Model.Style" class="form-control" value="@Model.Style"
                   data-ac-list-url="@Url.Action(MVC_PickWaves.PickWaves.AutoComplete.StyleAutoComplete())"
                   data-ac-validate-url="@Url.Action(MVC_PickWaves.PickWaves.AutoComplete.ValidateStyle())"
                   id="tbStyle">*@
        </div>
    </div>
    <div class="form-group">
        <label for="case" class="col-sm-3 control-label">Case <sup><span class="glyphicon glyphicon-asterisk"></span></sup></label>
        <div class="col-sm-9">
            @Html.DropDownListFor(m => m.CaseId, Model.SkuCaseList, "Please Select", new
       {
           required = "required",
           @class = "form-control"
       })
        </div>
    </div>
    <div class="form-group">
       
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.IgnoreFlag) Ignore
                </label>
            
                <input type="hidden" name="@MVC_PickWaves.PickWaves.Config.AddPackingRuleParams.activeTab" value="2" />
            </div>
        </div>
    </div>
</form>

@*<div>
    @using (Html.BeginForm(MVC_PickWaves.PickWaves.Config.AddPackingRule(), FormMethod.Post, new
    {
        id = "frmAddPackingRule"
    }))
    {
        <label>Style</label>
        @Html.TextBoxFor(m => m.Style, new Dictionary<string, object>
   {
           {"data-ac-list-url", Url.Action(MVC_PickWaves.PickWaves.AutoComplete.StyleAutoComplete())},
         {"data-ac-validate-url", Url.Action(MVC_PickWaves.PickWaves.AutoComplete.ValidateStyle())},
         {"id", "tbStyle"}
   })<sup>&darr;*</sup>
        <br />
        <span id="styleDetail" style="display: inline-block;" class="ui-state-active"></span>
        <br />
       
        <label>Case </label>@Html.DropDownListFor(m => m.CaseId, Model.SkuCaseList, "(Please Select)")<sup>*</sup>
        <br /> <br />
        <label>Ignore</label> @Html.CheckBoxFor(m => m.IgnoreFlag)
        <input type="hidden" name="@MVC_PickWaves.PickWaves.Config.AddPackingRuleParams.activeTab" value="2" />
    }
</div>*@
@*<script type="text/ecmascript">
    $(document).ready($(function () {
        // Force the unobtrusive validation script to run
        // http://forums.asp.net/t/1651961.aspx/1
        $.validator.unobtrusive.parse("#frmAddPackingRule");
        $('#tbStyle').autocompleteEx();
    }));
</script>*@
