@model DcmsMobile.PickWaves.ViewModels.Config.SkuCaseModel
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
<form class="form-horizontal" role="form" action="@Url.Action(MVC_PickWaves.PickWaves.Config.AddOrUpdateSkuCase())" method="post">

    @Html.ValidationSummary()
    <div class="form-group">

        @if (Model.CaseId != null)
        {
            <label for="case" class="col-sm-4 control-label">Case</label>
            <div class="col-sm-8">
                <input type="text" name="@Model.CaseId" class="form-control" value="@Model.CaseId" required>
                @Html.HiddenFor(m => m.CaseId)
            </div>
        }
        else
        {
            <label for="case" class="col-sm-4 control-label">Case <sup>*</sup></label>
            <div class="col-sm-8">
                <input type="text" name="@Model.CaseId" class="form-control" maxlength="6" required>
            </div>
        }
    </div>
    <div class="form-group">
        <label for="case" class="col-sm-4 control-label">Discription</label>
        <div class="col-sm-8">
            <textarea class="form-control" name="@Model.Description" placeholder="Max 50 characters" maxlength="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="case" class="col-sm-4 control-label">Empty Weight <sup>*</sup></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="@Model.EmptyWeight" required>
        </div>
    </div>
    <div class="form-group">
        <label for="case" class="col-sm-4 control-label">Max Content Volume <sup>*</sup></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="@Model.MaxContentVolume" required>
        </div>
    </div>
    <div class="form-group">
        <label for="case" class="col-sm-4 control-label">Outer Cube Volume <sup>*</sup></label>
        <div class="col-sm-8">
            <input type="text" name="@Model.OuterCubeVolume" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="@Model.IsAvailable"> Is Available
                </label>
            </div>
        </div>
    </div>
</form>
































































@*<div>
        @using (Html.BeginForm(MVC_PickWaves.PickWaves.Config.AddOrUpdateSkuCase(), FormMethod.Post, new
        {
            id = "frmSkuCaseEditor"
        }))
        {
            if (Model.CaseId != null)
            {
            <label>Case</label>
            @Html.DisplayFor(m => m.CaseId)
            @Html.HiddenFor(m => m.CaseId)
            }
            else
            {
            <label>Case</label>
            @Html.TextBoxFor(m => m.CaseId, new
       {
           MaxLength = "6",
           style = "text-transform: uppercase;"
       })<sup>*</sup>
            <br />
            }
            <br />
            <label>Description</label> @Html.TextAreaFor(m => m.Description, new
            {
                MaxLength = "50"
            }) <sub style="color: blue">Max 50 characters</sub>
            <br />
            <label>Empty Weight</label>@Html.TextBoxFor(m => m.EmptyWeight) <sup>*</sup>
            <br />
            <label>Max Content Volume</label>@Html.TextBoxFor(m => m.MaxContentVolume)<sup>*</sup>
            <br />
            <label>Is Available</label>@Html.CheckBoxFor(m => m.IsAvailable)
            <br />
            <label>Outer Cube Volume</label>@Html.TextBoxFor(m => m.OuterCubeVolume)<sup>*</sup>
            <br />
            @Html.ValidationSummary()
        }
    </div>*@
@*<script type="text/javascript">
        $(document).ready($(function () {
            // Force the unobtrusive validation script to run
            // http://forums.asp.net/t/1651961.aspx/1
            $.validator.unobtrusive.parse("#frmSkuCaseEditor");
        }));
    </script>*@
