@model DcmsMobile.PickWaves.Areas.PickWaves.Config.StyleSkuCaseEditorViewModel
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">
        @if (Model.Style == null)
        {
            <span>Add New Packing Rule</span>
        }
        else
        {
            <span>Edit Packing Rule</span>
        }
    </h4>

</div>
<div class="modal-body">
    <form class="form-horizontal" role="form"
          action="@Url.Action(MVC_PickWaves.PickWaves.Config.AddPackingRule())" method="post">
        <input type="hidden" name="@MVC_PickWaves.PickWaves.Config.AddPackingRuleParams.activeTab" value="2" />

        <div class="form-group">
            <label for="case" class="col-sm-3 control-label">
                Style<sup><span class="glyphicon glyphicon-asterisk"></span></sup>
                @Html.TextBoxFor(m => m.Style, new { @id = "hfStyle", style = "visibility:hidden" })
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input placeholder="Search Style" value="@Model.Style"
                           class="form-control typeahead" data-typeahead-url="@Url.Action(MVC_PickWaves.PickWaves.Config.StyleAutoComplete("~"))" data-typeahead-hf="#hfStyle" />
                    <span class="input-group-btn">
                        <span class="btn btn-default"><span class="glyphicon glyphicon-search"></span></span>
                    </span>
                </div>

                @Html.ValidationMessageFor(m => m.Style, null, new
           {
               @class = "help-block"
           })

            </div>
        </div>
        <div class="form-group">
            <label for="case" class="col-sm-3 control-label">Case <sup><span class="glyphicon glyphicon-asterisk"></span></sup></label>
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.CaseId, Model.SkuCaseList, "Please Select", new
       {
           @required = "required",
           @class = "form-control",
           @id = "caseId"
       })

                @Html.ValidationMessageFor(m => m.CaseId, null, new
           {
               @class = "help-block"
           })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.IgnoreFlag) Disabled
                    </label>
                </div>
                <p class="help-block">A disabled rule is invisble to the carton creation algorithm</p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
@*<script src="@Links_PickWaves.Areas.PickWaves.Config._addPackinRule_js"></script>*@
