@model DcmsMobile.PickWaves.ViewModels.Config.IndexViewModel
@{
    ViewBag.Title = "Wave Configuration";
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}

<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div>
                <h4 class="text-info"> Boxes are created for pitching per pickslip. The objective is to use minimum number of boxes to fit all the orders SKUs. To achieve this objective the system needs to know</h4>
                <p>
                    What size cartons are available in which, SKUs can be shipped.
                    Largest SKU Case <em><b>@Model.MaxCaseId: @Model.MaxCaseDescription [@Model.MaxContentVolume cu ft]</b></em>. Smallest SKU Case <em><b>@Model.MinCaseId: @Model.MinCaseDescription [@Model.MinContentVolume cu ft]</b></em>
                    <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.SkuCase())" class="btn btn-primary btn-sm" role="button">Manage</a>
                </p>
            </div>
            <hr />
            <div>
                <h4 class="text-info">
                    Customers can impose constraints on the cartons they are willing to accept. DCMS supports this scenario by allowing you to define the customer constraints
                    on a per customer basis.
                    <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.Constraint())" class="btn btn-primary btn-sm" role="button">DCMS Supported Constraints</a>
                </h4>
            </div>
        </div>
    </div> 
</div>