<!--This document is HTML5 Validated by "W3C Markup Validation Service" at http://validator.w3.org/ on 15 Dec 2014 by jnegi-->
@model DcmsMobile.PickWaves.Areas.PickWaves.Config.StyleSkuCaseViewModel
@{
    ViewBag.Title = "Style Cartons";
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}

@section applinks{
    <li>@Html.ActionLink("Customer Sku Case", MVC_PickWaves.PickWaves.Config.CustSkuCase())</li>
    <li>@Html.ActionLink("Packing Cartons", MVC_PickWaves.PickWaves.Config.SkuCase())</li>
    <li>@Html.ActionLink("Customer Constraints", MVC_PickWaves.PickWaves.Config.Constraint())</li>
    <li class="divider">
    </li>
}
<div class="container">
    <h2 style="margin-top:0">
        @ViewBag.Title
    </h2>
    <div>
        <blockquote class="text-info">
            Style specific SKU Cases
            @if (Model.UserIsManager)
            {
                <button class="btn btn-default" data-toggle="modal"
                        data-target="#tabModal" title="Add packing rule"
                        data-action-url="@Url.Action(MVC_PickWaves.PickWaves.Config.StyleSkuCaseEditor())">
                    <span class="glyphicon glyphicon-plus"></span>  Add Packing Rule..
                </button>
            }
        </blockquote>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <h4 class="list-group-item-heading">
                            <span class="label label-success"> Style</span>
                        </h4>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <h4 class="list-group-item-heading">
                            Case
                        </h4>

                    </div>
                    @if (Model.UserIsManager)
                    {
                        <div class="col-md-2 col-sm-2">
                            <div style="text-align:right">
                                <button class="btn btn-default btn-xs " disabled>Action</button>
                            </div>
                        </div>
                    }
                </div>
            </li>
            @for (var i = 0; i < Model.PackingRuleList.Count; i++)
            {

                <li class="list-group-item">

                    <div class="row">
                        <div class="col-md-2 col-sm-2">

                            <h4 class="list-group-item-heading">
                                <small>@(i + 1)</small>
                                <span class="label label-success">@Html.DisplayFor(m => m.PackingRuleList[i].Style)</span>
                            </h4>



                        </div>
                        <div class="col-md-8 col-sm-8">
                            @for (var j = 0; j < Model.PackingRuleList[i].StyleCases.Count; ++j)
                            {
                                if (Model.PackingRuleList[i].StyleCases.Values[j])
                                {
                                    <s class="list-group-item-heading h4">
                                        <abbr title="The ignorance of this case is temporarily dishonoured.">
                                            @Html.DisplayFor(m => m.PackingRuleList[i].StyleCases.Keys[j])
                                        </abbr> 
                                    </s>
                                }
                                else
                                {
                                    <span class="list-group-item-heading h4">
                                        @Html.DisplayFor(m => m.PackingRuleList[i].StyleCases.Keys[j])
                                    </span>
                                }
                                if (Model.UserIsManager)
                                {

                                    <div class="btn-group btn-group-sm" role="group">
                                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-remove"></span>

                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation" style="text-align:center">
                                                <form action="@Url.Action(MVC_PickWaves.PickWaves.Config.DelStyleSkuCase())" method="post">
                                                    <input type="hidden" value="@Model.PackingRuleList[i].Style" name="@MVC_PickWaves.PickWaves.Config.DelStyleSkuCaseParams.style" />
                                                    <input type="hidden" value="@Model.PackingRuleList[i].StyleCases.Keys[j]" name="@MVC_PickWaves.PickWaves.Config.DelStyleSkuCaseParams.caseId" />


                                                    <button class="btn btn-default" type="submit">Delete</button>

                                                    @if (!Model.PackingRuleList[i].StyleCases.Values[j])
                                                    {
                                                        <button class="btn btn-primary" type="submit" name="@MVC_PickWaves.PickWaves.Config.DelStyleSkuCaseParams.disable" value="True">Disable</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-primary" type="submit" name="@MVC_PickWaves.PickWaves.Config.DelStyleSkuCaseParams.disable" value="False">Unable</button>
                                                    }
                                                </form>

                                            </li>
                                        </ul>
                                    </div>

                                }
                            }
                        </div>
                        <div class="col-md-2 col-sm-2">
                            @if (Model.UserIsManager)
                            {
                                <div class="btn-group btn-group  pull-right btn-group-xs" role="group">
                                    <button class="btn btn-default" data-toggle="modal"
                                            data-target="#tabModal" title="Add packing rule"
                                            data-action-url="@Url.Action(MVC_PickWaves.PickWaves.Config.StyleSkuCaseEditor(Model.PackingRuleList[i].Style, null, null))">
                                        <span class="glyphicon glyphicon-plus"></span>  Add
                                    </button>

                                </div>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>



</div>

<!--Modal called from actions of each tabs-->
<div class="modal fade" id="tabModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            AJAX loaded HTML here
        </div>
    </div>
</div>


@section script {
    <link href="@Links_PickWaves.Areas.PickWaves.SharedViews.typeahead_css" rel="stylesheet" />

    <script src="@Links_PickWaves.Areas.PickWaves.Config.AjaxModal_js" type="text/javascript"></script>

}