@model DcmsMobile.PieceReplenish.ViewModels.Restock.CartonViewModel
@{
    ViewBag.Title = "Restock Cartons";
}
@using (Html.BeginForm(MVC_PieceReplenish.PieceReplenish.Restock.UPC(), FormMethod.Get
))
{
    @Html.ValidationSummary()
    @Html.StatusSummary()
    <label>
        Carton</label>    
    <input type="text" id="scan" style="text-transform:uppercase" name="@MVC_PieceReplenish.PieceReplenish.Restock.UPCParams.cartonId" maxlength ="20" />
    <input type="hidden" name="@MVC_PieceReplenish.PieceReplenish.Restock.UPCParams.lastCartonId" value="@Model.CartonId" />
}
@section scripts {
    <script src="@Links_PieceReplenish.Areas.PieceReplenish.Scripts.PieceReplenish_js" type="text/javascript"></script>
}
