@model DcmsMobile.Inquiry.Areas.Inquiry.SharedViews.RecentPoListViewModel
@if (Model.PoList.Count > 0)
{
    <div>
        <p>
            Displaying Recently Imported @Html.DisplayFor(m => m.PoCount) of @Html.DisplayFor(m => m.TotalPoCount) Purchase Orders
        </p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="list-group-item-heading">
                            PO
                            <span class="label label-info">Number of Pickslips</span>
                        </h4>
                        @if (Model.ShowCustomerFlag)
                        {
                            <p class="list-group-item-text">
                                Customer
                            </p>
                        }
                    </div>
                    <div class="col-md-7">
                      
                        <p class="list-group-item-text">
                            Start Date &rarr;
                            DC Cancel Date
                        </p>
                        <span class="badge pull-right">
                            Import Date
                        </span>
                        <div class="progress" style="margin-bottom:0px">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%; overflow:visible; padding-left:1mm">
                                <span style="white-space:nowrap" class="text-info"> <em>Pieces packed</em> of pieces ordered</span>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            @for (int i = 0; i < Model.PoList.Count; i++)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-5">
                            <h4 class="list-group-item-heading">
                                <small>@(i + 1)</small> @Html.ActionLink(Model.PoList[i].PO, MVC_Inquiry.Inquiry.PickslipEntity.Po(Model.PoList[i].PO, Model.PoList[i].CustomerId, Model.PoList[i].Iteration))
                                <span class="label label-info">@Html.DisplayFor(m => m.PoList[i].TotalPickslip)</span>
                            </h4>
                            @if (Model.ShowCustomerFlag)
                            {
                                <a class="list-group-item-text" href="@Url.Action(MVC_Inquiry.Inquiry.CustomerEntity.Customer(Model.PoList[i].CustomerId))">
                                    @Html.DisplayFor(m => m.PoList[i].CustomerId): @Html.DisplayFor(m => m.PoList[i].CustomerName)
                                </a>
                            }
                        </div>
                        <div class="col-md-7">
                           
                            <p class="list-group-item-text">
                                @Html.DisplayFor(m => m.PoList[i].StartDate) &rarr;
                                @Html.DisplayFor(m => m.PoList[i].DcCancelDate)
                            </p>
                            <span class="badge pull-right">
                                @Html.DisplayFor(m => m.PoList[i].ImportDate)
                            </span>
                            <div class="progress" style="margin-bottom:0px" title="@Html.DisplayFor(m => m.PoList[i].PiecesInBox) of @Html.DisplayFor(m => m.PoList[i].PiecesOrdered)">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@Model.PoList[i].PiecesInBox" aria-valuemin="100" aria-valuemax="@Model.PoList[i].PiecesOrdered" style="width: @(Model.PoList[i].PiecesPickedPercent * 100)%; overflow:visible; padding-left:1mm">
                                    <span style="white-space:nowrap" class="text-info"> <em>@Html.DisplayFor(m => m.PoList[i].PiecesInBox)</em> of @Html.DisplayFor(m => m.PoList[i].PiecesOrdered)</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        No Active PO for this customer
    </div>
}
