@model DcmsMobile.PalletLocating.ViewModels.AreaViewModel
@using (Html.BeginForm(MVC_PalletLocating.PalletLocating.Home.Pallet(), FormMethod.Get))
{
    @Html.HiddenFor(m => m.BuildingId)
    <div>
        <strong>Destination Area/Location</strong><input id="scan" style="text-transform: uppercase" type="text" name="@Html.NameFor(m => m.AreaShortName)" />
        @Html.ValidationSummary()
    </div>
}
@Html.StatusSummary()
@if (Model.AreaList != null)
{
    <div>
        Suggested Areas</div>
    <ul style="list-style: disc; padding-left: 1.3em;">
        @foreach (var item in Model.AreaList)
        {
            <li>@item.AreaShortName</li>
        }
    </ul>
    <div>
        Other areas also accepted.</div>
}
@*
    $Id$ 
    $Revision$
    $URL$
    $Header$
    $Author$
    $Date$
*@