@model DcmsMobile.PalletLocating.ViewModels.LocationViewModel
@using (Html.BeginForm(MVC_PalletLocating.PalletLocating.Home.LocatePallet(), FormMethod.Post))
{
    <div>
        <strong>Scan Location/Pallet</strong><input id="scan" style="text-transform: uppercase" type="text" name="@Html.NameFor(m => m.LocationId)" />
        @Html.StatusSummary()
        @Html.ValidationSummary()
    </div>
    @Html.HiddenFor(m => m.BuildingId) 
    @Html.HiddenFor(m => m.PalletId)
    @Html.HiddenFor(m => m.TargetAreaId)
    @Html.HiddenFor(m => m.SuggestedAreaId)
    <input id="pallettoMerge" name="@Html.NameFor(m => m.PalletToMerge)" type="hidden" value="@Model.PalletToMerge"/>
}
<div class="ui-state-hover">
    @Html.DisplayFor(m => m.PalletId)@@@Html.DisplayFor(m => m.PalletAreaShortName)&nbsp;@Html.DisplayFor(m => m.PalletLocation)
    &bull; @Html.DisplayFor(m => m.PalletCartonCount)
    ctn &bull;
    @if (Model.PalletSkuCount == 1)
    {
        <span style="white-space: nowrap">
            @Html.DisplayFor(m => m.PalletSku.Quantity) * @Html.DisplayFor(m => m.PalletSku.DisplaySku)
            (@Html.DisplayFor(m => m.CartonVwhId))</span>
    }
    else
    {
        <span class="ui-state-error">
            @Html.DisplayFor(m => m.PalletSku.Quantity) * @Html.DisplayFor(m => m.PalletSkuCount)
            SKUs </span>
    }
</div>
@*
    $Id$ 
    $Revision$
    $URL$
    $Header$
    $Author$
    $Date$
*@ 
