@model DcmsMobile.Inquiry.Areas.Inquiry.PickslipEntity.PickslipViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    ViewBag.Title = Model.ModelTitle;
}
@section applinks{
    <li>
        @if (Model.AllSku.Count() > 0)
        {
            <a href="@Url.Action( MVC_Inquiry.Inquiry.PickslipEntity.PickslipImportedExcel(Model.PickslipId))">
                <span class="glyphicon glyphicon-export"></span> Excel
            </a>
        }

    </li>
}

@section script {
    <style type="text/css">
        /* h1 within header is specially styles so that the heading uses full width of the screen. Do not use buttons in this header.
            Use h2 to h9 if you want to obtain default jquery mobile styling.*/
        .ui-header h1.ui-title {
            margin-left: 1mm;
            margin-right: 1mm;
        }
    </style>
}

<div class="container">
    <h2 style="margin-top:0">
        @ViewBag.Title
    </h2>
    <ul class="list-group">
        @if (Model.PickslipCancelDate != null)
        {
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    Pickslip Cancel Date
                    @Html.DisplayFor(m => m.PickslipCancelDate)
                </h4>
            </li>
        }
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                <a href="@Url.Action(MVC_Inquiry.Inquiry.CustomerEntity.Customer(Model.CustomerId))">
                    @Model.CustomerDisplayName
                </a><small>
                    Dept: @Html.DisplayFor(m => m.CustomerDepartmentId) &bull;
                    DC : @Html.DisplayFor(m => m.CustomerDC) &bull; Store : @Html.DisplayFor(m => m.CustomerStore)
                    &bull; Vendor # @Html.DisplayFor(m => m.VendorNumber)
                </small>

            </h4>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                PO
                <a href="@Url.Action(MVC_Inquiry.Inquiry.PickslipEntity.ImportedPo(Model.PoId, Model.CustomerId))">
                    @Html.DisplayFor(m => m.PoId)
                </a>
                <small>
                    Start @Html.DisplayFor(m => m.StartDate) DC cancel @Html.DisplayFor(m => m.DcCancelDate)
                    @Html.DisplayFor(m => m.ImportDate)
                </small>
            </h4>
            <address>
                @Html.DisplayFor(m => m.ShipAddress)
            </address>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                Received from ERP - @Html.DisplayFor(m => m.ErpId)
                <small>Transfer on : @Html.DisplayFor(m => m.TransferDate)</small>
                <small class="pull-right"><span class="glyphicon glyphicon-@(Model.AsnFlag ? "ok text-success" : "remove")"></span> ASN Flag</small>
                <small class="pull-right"><span class="glyphicon glyphicon-@(Model.ExportFlag ? "ok text-success" : "remove")"></span> Export Flag</small>
            </h4>
        </li>


    </ul>
    @if (Model.AllSku.Any())
    {
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                @Model.AllSku.Count SKUs Ordered
            </li>
            @for (int i = 0; i < Model.AllSku.Count; i++)
            {
                <li class="list-group-item">
                  
                    <h4 class="list-group-item-heading">
                        <small>@(i + 1)</small>
                        @Html.ActionLink(Model.AllSku[i].DisplaySku, MVC_Inquiry.Inquiry.SkuEntity.Sku(Model.AllSku[i].SkuId))
                        <small>
                            VWH @Html.DisplayFor(m => Model.AllSku[i].VwhId)
                            Pcs @Html.DisplayFor(m => Model.AllSku[i].Pieces)
                            QC @Html.DisplayFor(m => Model.AllSku[i].QualityCode)
                            <span class="label label-default"> Price @Html.DisplayFor(m => Model.AllSku[i].RetailPrice)</span>
                        </small>
                    </h4>
                     @if(Model.AllSku[i].MinPiecesPerBox != null && Model.AllSku[i].MaxPiecesPerBox != null)
                     { 
                 <span class="badge pull-right">
                     @Html.DisplayFor(m => Model.AllSku[i].MinPiecesPerBox) to @Html.DisplayFor(m => Model.AllSku[i].MaxPiecesPerBox)
                 </span>
                     }  
                    Pcs Per Package @Html.DisplayFor(m => Model.AllSku[i].PiecesPerPackage)
                </li>
            }
        </ul>
    }
</div>
<div data-role="page">

    <h2 style="margin-top:0px">
        @Model.ModelTitle
    </h2>



    <div class="ui-content">
        <ul data-role="listview" data-inset="true">
            @if (Model.PickslipCancelDate != null)
            {
                <li class="ui-field-contain">
                    <label>Pickslip Cancel Date</label>
                    @Html.DisplayFor(m => m.PickslipCancelDate)
                </li>
            }
            <li class="ui-field-contain">
                <label>Customer</label>
                <a href="@Url.Action(MVC_Inquiry.Inquiry.CustomerEntity.Customer(Model.CustomerId))">
                    <h3>@Model.CustomerDisplayName</h3>
                    <p>
                        Dept: @Html.DisplayFor(m => m.CustomerDepartmentId) &bull;
                        DC : @Html.DisplayFor(m => m.CustomerDC) &bull; Store : @Html.DisplayFor(m => m.CustomerStore)
                        &bull; Vendor # @Html.DisplayFor(m => m.VendorNumber)
                    </p>
                </a>
            </li>
            <li class="ui-field-contain">
                <label>PO</label>
                <a href="@Url.Action(MVC_Inquiry.Inquiry.PickslipEntity.ImportedPo(Model.PoId, Model.CustomerId))">
                    <h3>@Html.DisplayFor(m => m.PoId)</h3>
                    <p>Start @Html.DisplayFor(m => m.StartDate) DC cancel @Html.DisplayFor(m => m.DcCancelDate)</p>
                    <p class="ui-li-aside">@Html.DisplayFor(m => m.ImportDate)</p>
                </a>
            </li>
            <li class="ui-field-contain">
                <label>Shipping Address</label>
                @Html.DisplayFor(m => m.ShipAddress)
            </li>
            <li class="ui-field-contain">
                <label>Transfer on </label>
                @Html.DisplayFor(m => m.TransferDate)
            </li>
            <li class="ui-field-contain">
                <label>Export Flag</label>
                @Html.DisplayFor(m => m.ExportFlag)
            </li>
            <li class="ui-field-contain">
                <label>Asn Flag</label>
                @Html.DisplayFor(m => m.AsnFlag)
            </li>
            <li class="ui-field-contain">
                <label>ERP</label>
                @Html.DisplayFor(m => m.ErpId)
            </li>
        </ul>
        @if (Model.AllSku.Any())
        {
            <div data-role="collapsible">
                <h4>@Model.AllSku.Count SKUs Ordered</h4>
                <table data-role="table" class="ui-body-d ui-shadow table-stripe ui-responsive" data-mode="columntoggle">
                    <thead>
                        <tr>
                            <th data-priority="6">#</th>
                            <th style="text-align:center"><abbr title="SKU">SKU<sup>&#8743;</sup></abbr></th>
                            <th data-priority="1">Pieces</th>
                            <th data-priority="2">VWH</th>
                            <th data-priority="4">Quality</th>
                            <th data-priority="3">$ Retail Price</th>
                            <th colspan="2" style="text-align:center" data-priority="6">Constraints</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:center">Pieces Per Box</th>
                            <th style="text-align:center">Pieces Per Package</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.AllSku.Count; i++)
                        {
                            <tr>
                                <td style="text-align:center">@(i + 1)</td>
                                <td style="text-align:center">
                                    @Html.ActionLink(Model.AllSku[i].DisplaySku, MVC_Inquiry.Inquiry.SkuEntity.Sku(Model.AllSku[i].SkuId))
                                </td>
                                <td style="text-align:center">@Html.DisplayFor(m => Model.AllSku[i].Pieces)</td>
                                <td style="text-align:center">@Html.DisplayFor(m => Model.AllSku[i].VwhId)</td>
                                <td style="text-align:center">@Html.DisplayFor(m => Model.AllSku[i].QualityCode)</td>
                                <td style="text-align:center">@Html.DisplayFor(m => Model.AllSku[i].RetailPrice)</td>
                                <td style="text-align:center">@Html.DisplayFor(m => Model.AllSku[i].MinPiecesPerBox) to @Html.DisplayFor(m => Model.AllSku[i].MaxPiecesPerBox)</td>
                                <td style="text-align:center">@Html.DisplayFor(m => Model.AllSku[i].PiecesPerPackage)</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td style="text-align:center">@string.Format("{0:N0}", Model.AllSku.Sum(c => c.Pieces))</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        }
        else
        {
            <span class="ui-bar ui-bar-a">No Orders SKUs</span>
        }
    </div>

</div>
