@model DcmsMobile.Inquiry.Areas.Inquiry.PickslipEntity.PoViewModel
@{
    var showExportFlag = Model.AllPickslips.Any(p => !(string.IsNullOrEmpty(p.ExportFlag)));
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    ViewBag.Title = Model.ModelTitle;
}

@section applinks{
    <li>
        <a href="@Url.Action(MVC_Inquiry.Inquiry.PickslipEntity.PoImportedExcel(Model.PoId, Model.CustomerId))">
            <span class="glyphicon glyphicon-export"></span> Excel
        </a>
    </li>
}
<div class="container">
        <h2 style="margin-top:0px">
            @Model.ModelTitle
            <small>
                @Html.LabelFor(m => m.CustomerId)
                <a href="@Url.Action(MVC_Inquiry.Inquiry.CustomerEntity.Customer(Model.CustomerId))">
                    @Model.CustomerDisplayName
                </a>
                <small>
                    &bull; @Html.DisplayFor(m => m.Iteration)
                    @if (Model.CountIterations > 1)
                    {

                        @Html.ActionLink(string.Format("See All {0:N0} Iterations", Model.CountIterations), MVC_Inquiry.Inquiry.Home.Search(Model.PoId))

                    }
                </small>
            </small>
        </h2>
    <div>
        <label> Ordered On</label>
        @Html.DisplayFor(m => m.StartDate) &bull;
        <label>
            Cancel Date
        </label>
        @Html.DisplayFor(m => m.CancelDate)
        <small>
            [DC Cancel Date
            @Html.DisplayFor(m => m.DcCancelDate)]
        </small>
    </div>
    @if (Model.AllPickslips.Count > 0)
    {
        <div class="list-group">
            <a class="list-group-item active">
                List of @Model.PickslipListCaption
            </a>
           @for (int i = 0; i < Model.AllPickslips.Count; i++)
           {
            <a href="@Url.Action(MVC_Inquiry.Inquiry.PickslipEntity.PickslipImported(Model.AllPickslips[i].PickslipId))" class="list-group-item">

             
                        <h4>
                            <span class="glyphicon glyphicon-chevron-right pull-right">
                            </span>
                            <strong>@Html.DisplayFor(m => m.AllPickslips[i].PickslipId)</strong>
                            <small>
                                @if (Model.AllPickslips[i].ImportDate != null)
                                {
                                    <span>Imported: @Html.DisplayFor(m => m.AllPickslips[i].ImportDate)</span>
                                }

                                @if (Model.AllPickslips[i].TransferDate != null)
                                {
                                    <span>Transferred: @Html.DisplayFor(m => m.AllPickslips[i].TransferDate)</span>
                                }
                                @if (Model.AllPickslips[i].PickslipCancelDate != null)
                                {
                                    <span>Cancelled on @Html.DisplayFor(m => m.AllPickslips[i].PickslipCancelDate)</span>
                                }
                            </small>                            
                            @if (showExportFlag)
                            {
                                <span class="pull-right" style="margin-right:1em;">Export: @Html.DisplayFor(m => m.AllPickslips[i].ExportFlag)</span>
                            }
                        </h4> 
            </a>
           }
        </div>
    }
    else
    {
        <div class="alert alert-info"> PO does not contain any pickslip.</div>

    }

</div>