@model DcmsMobile.BoxManager.ViewModels.VasConfiguration.CustomerVasViewModel
@{
    ViewBag.Title = Model.CustomerId + ":" + Model.CustomerName + " VAS Configuration";
}
@section sidebar{
    @Html.Action(MVC_BoxManager.BoxManager.VasConfiguration.CustomerList(Model.CustomerId, Model.VasId))
}


<div class="box">
    <div class="boxContent">
        <div>
            <span class="ui-state-highlight"><strong>@Model.CustomerName</strong> requires <strong>@Model.VasDescription</strong> for <em><strong>@Model.VasPatternDescription</strong></em></span>

            @if (Model.InactiveFlag)
            {
                <a style="font-size:1.4em;"  href="@Url.Action(MVC_BoxManager.BoxManager.VasConfiguration.EditCustomerVas(Model.CustomerId, Model.VasId))">Edit</a>
                <div>This setting is currently disabled, <a style="font-size:1.4em;"  href="@Url.Action(MVC_BoxManager.BoxManager.VasConfiguration.EnableVasConfiguration(Model.CustomerId, Model.VasId))">enable</a> it.</div>
            }
            else
            { 
                <span>To edit this setting, you must <a style="font-size:1.4em;" href="@Url.Action(MVC_BoxManager.BoxManager.VasConfiguration.DisableVasConfiguration(Model.CustomerId, Model.VasId))">disable</a> it first for all orders.</span>
            }
        </div>
        
        @using (Html.BeginForm(MVC_BoxManager.BoxManager.VasConfiguration.UpdateConfigurationRemark(), FormMethod.Post))
        {
            @Html.HiddenFor(m => m.CustomerId)
            @Html.HiddenFor(m => m.VasId)
            @Html.HiddenFor(m => m.InactiveFlag)
            <br />
            @Html.LabelFor(m => m.UserRemarks)
            <br />
            @Html.TextAreaFor(m => m.UserRemarks, new { rows = 5, cols = 50 })
            <sub style="color: darkred; font-weight: bold">Max 255 Characters</sub>
            <br />
            <button type="submit" data-icon="ui-icon-disk">Update Remark</button>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('button').each(function () {
                $(this).button({ icons: { primary: $(this).attr('data-icon') } });
            });
        })
    </script>

}