@model DcmsMobile.BoxManager.ViewModels.VasConfiguration.EditCustomerVasViewModel
@{
    ViewBag.Title = "Edit Customer VAS Setting";
}
@section sidebar{
    @Html.Action(MVC_BoxManager.BoxManager.VasConfiguration.CustomerList(Model.CustomerId, Model.VasId))
}

<div class="boxContent">
    <p>
        Currently <strong>@Model.VasDescription</strong> applies on 
            <span class="ui-state-highlight"><em><strong>@Model.RegExDescription</strong></em></span> for <strong>@Model.CustomerName</strong>
    </p>
    <fieldset style="padding: 1.5em">
        <legend>Change to</legend>

        @using (Html.BeginForm(MVC_BoxManager.BoxManager.VasConfiguration.VerifyVasPattern(), FormMethod.Get, new { @class = "divBoxManager" }))
        {
            @Html.HiddenFor(m => m.CustomerId)
            @Html.HiddenFor(m => m.VasId)
            <div>
                Apply VAS to orders of these labels:
            <br />
                <input autofocus="autofocus" type="text" title="Enter comma seperated labels" style="width: 20em" name="@Html.NameFor(m => m.Labels)" id = "txtLabels" data-autocomplete-url="@Url.Action(MVC_BoxManager.BoxManager.AutoComplete.GetLabels())" />&darr; 
            <span style="font-size: 0.9em">Comma separated list. Leave blank for all</span>

                <div style="padding: 1em">
                    @Html.CheckBoxFor(m => m.DoApplyPoPattern, new { id = "cbApplyPoPattern" })
                    <label for="@Html.NameFor(m => m.DoApplyPoPattern)">Only when the PO </label>
                    @Html.DropDownListFor(m => m.PoPatternType, Model.PatternTypes, new { id = "ddlPatternType" })
                    @Html.DropDownListFor(m => m.PoTextType, Model.PatternSubTypes, "this", new { id = "ddlPatternSubType" })
                    @Html.TextBoxFor(m => m.PoText, new { id = "txtAlphabets" })<span id="spnMessage"></span>
                </div>
                <button type="submit" data-icon="ui-icon-check" id="btnVerifySetting">Verify New Setting</button>
                @Html.ActionLink("Cancel", MVC_BoxManager.BoxManager.VasConfiguration.CustomerVas(Model.CustomerId, Model.VasId))
            </div>
        }
    </fieldset>
    <br />
    <br />
    <a href="@Url.Action(MVC_BoxManager.BoxManager.VasConfiguration.RemoveVasConfiguration(Model.CustomerId, Model.VasId))" data-icon="ui-icon-trash" onclick="return confirm('Are you sure, you want to delete?');">Delete this Setting</a>
</div>

@section scripts{
    <script src="@Links_BoxManager.Areas.BoxManager.Scripts.VasConfiguration_Edit_all_js" type="text/javascript"></script>

}