@*Inspired by http://line25.com/tutorials/design-and-code-a-cool-iphone-app-website-in-html5*@
@*This placeholder layout will be replaced by DcmsMobil's layout when Inquiry is run via DcmsMobile*@
<!DOCTYPE html>
<html>
<head>
    <title>Inquiry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
    <link rel="stylesheet" href="@Links_Receiving.Content.jquery_mobile_1_4_2_css" />
    <script src="@Links_Receiving.Scripts.jquery_2_1_1_js "></script>
    <script type="text/javascript">
        $(document).on("mobileinit", function () {
            //http://api.jquerymobile.com/global-config/
            $.mobile.ajaxEnabled = false;
            $.mobile.pushStateEnabled = false;
        });
    </script>
    <script src="@Links_Receiving.Scripts.jquery_mobile_1_4_2_js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#layout_header').toolbar({ theme: "a" });
        });
    </script>
    <style type="text/css">
        .validation-summary-errors {
            color: Red;
        }

        .ui-state-highlight {
            border: 1px solid #fcd113;
            background: #f8da4e;
            color: #915608;
        }

        .controlgroup-textinput {
            padding-top: .22em;
            padding-bottom: .22em;
        }
    </style>
    @RenderSection("script", false)
</head>
<body>
    <header data-role="header" id="layout_header">
        <h1>DCMS Connect Header Placeholder</h1>
    </header>
    @RenderBody()

</body>
</html>
