@model DcmsMobile.PickWaves.ViewModels.CreateWave.IndexViewModel
@{
    ViewBag.Title = string.Format("Create Pick Waves for {0}", Model.CustomerName);
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
@section sidebar {

    <div class="boxContent">
        @Html.ActionLink("All Pick Waves", MVC_PickWaves.PickWaves.Home.Customer(Model.CustomerId)) of <em>@Html.DisplayFor(m => m.CustomerName) (@Html.DisplayFor(m => m.CustomerId))</em>
    </div>
    <div class="boxContent">
        @Html.ActionLink("Change Customer", MVC_PickWaves.PickWaves.Home.Index())
    </div>
}

@if (Model.CustomerOrders.Count > 0)
{
    <fieldset>
        <legend style="font-size: 1.2em; font-weight : bold;">Add Pickslips</legend>

        @using (Html.BeginForm(MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDim(), FormMethod.Post, new
        {
            id = "frmMain"
        }))
        {
            <input type="hidden" name="@Model.NameFor(m => m.LastBucketId)" value="@Model.LastBucketId" />
            <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.viewPickslips" id="hfViewPickslips" />
            if (Model.LastBucketId.HasValue)
            {
                <blockquote>
                    Continue clicking on pickslip counts to add multiple pickslips to the pick wave.
                </blockquote>
                <div>
                    <span style="font-size: 1.2em; font-weight: bold;">Pick Wave @Html.DisplayFor(m => m.LastBucketId) </span>
                    @Html.ActionLink("View", MVC_PickWaves.PickWaves.ManageWaves.Wave(
            new DcmsMobile.PickWaves.ViewModels.ManageWaves.WaveViewModel
                (Model.LastBucketId.Value, DcmsMobile.PickWaves.ViewModels.ManageWaves.SuggestedNextActionType.UnfreezeMe))) /
                    @Html.ActionLink("Edit", MVC_PickWaves.PickWaves.ManageWaves.EditableWave(
            new DcmsMobile.PickWaves.ViewModels.ManageWaves.WaveViewModel
             (Model.LastBucketId.Value, DcmsMobile.PickWaves.ViewModels.ManageWaves.SuggestedNextActionType.CancelEditing)))
                    <br />
                    <span class="ui-state-highlight" style="font-size: 1.2em;">#Pickslip : @Model.PickslipCount</span>
                    @if (!string.IsNullOrWhiteSpace(Model.PullAreaShortName))
                    {
                        <div>Pull from : <span style="font-size: 1.2em;">@Model.PullAreaShortName</span> </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.PitchAreaShortName))
                    {
                        <div>Pitch from : <span style="font-size: 1.2em;">@Model.PitchAreaShortName</span> </div>
                    }
                </div>
                @Html.ActionLink("Create New Wave", MVC_PickWaves.PickWaves.CreateWave.Index(new DcmsMobile.PickWaves.ViewModels.CreateWave.IndexViewModel(Model.CustomerId, Model.RowDimIndex.Value,
                        Model.ColDimIndex.Value, Model.PullAreaId, Model.PitchAreaId)))

            }
            else
            {
                <blockquote>
                    Begin creating a new Pick Wave by clicking on one of the pickslip counts in the table below.
                </blockquote>
                <table>
                    <tbody>
                        @if (Model.PullAreas.Count > 1)
                        {
                            <tr>
                                <td>
                                    Pull From
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.PullAreaId, Model.PullAreas, "(Decide Later)")
                                </td>
                                <td>
                                    @Html.CheckBoxFor(m => m.PrePrintingPallets)
                                    @Html.LabelFor(m => m.PrePrintingPallets)
                                </td>
                            </tr>
                        }
                        @if (Model.PitchAreas.Count > 1)
                        {
                            <tr>
                                <td>
                                    Pitch From
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.PitchAreaId, Model.PitchAreas, "(Decide Later)")
                                </td>
                                <td>
                                    @Html.CheckBoxFor(m => m.QuickPitch)
                                    @Html.LabelFor(m => m.QuickPitch)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div id="matrixPartial" data-name-selected-dc="@Model.NameFor(m => m.ColDimVal)" data-name-selected-dim="@Model.NameFor(m => m.RowDimVal)"
                 data-url="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.RefreshPickslipMatrix())">
                @Html.Partial(MVC_PickWaves.PickWaves.CreateWave.Views._pickslipMatrixPartial, Model)
            </div>
        }
    </fieldset>
}
else
{
    <span class="ui-state-highlight" style="margin-top: 2em; display: inline-block">
        No imported orders found for Customer @Model.CustomerId
    </span>
}

<div id="divDlg" title="@string.Format(Model.LastBucketId.HasValue ? "Add pickslip to Pick Wave" : "Create New Pick Wave")">
    <em id="dlgColDimSpan" style="display: inline-block; width: 8em">@Model.ColDimDisplayName</em><span id="dlgColDimSpanVal"></span>
    <br />
    <em id="dlgRowDimSpan" style="display: inline-block; width: 8em">@Model.RowDimDisplayName</em> <span id="dlgRowDimSpanVal"></span>
    <hr />
    @if (Model.LastBucketId.HasValue)
    {
        <div>Add <span id="dlgSpanPsCount"></span> more pickslips to pick wave @Model.LastBucketId.</div>
        <a id="btnViewPickslips" href="#">View Pickslips</a>
    }
    else
    {
        <span>Create a pick wave containing <span id="dlgSpanPsCount"></span>pickslips ?</span>
    }
    <div id="dlgMessage" class="validation-summary-errors"></div>
</div>

@section Scripts{
    <link type="text/css" href="@Links_PickWaves.Areas.PickWaves.Content.CreateWave_Index_min_css" rel="stylesheet" />
    <script src="@Links_PickWaves.Areas.PickWaves.Scripts.CreateWave_Index_js" type="text/javascript"></script>
}

