@model DcmsMobile.PickWaves.ViewModels.CreateWave.IndexViewModel
@{
    ViewBag.Title = string.Format("Create Pick Waves for {0}", Model.CustomerName);
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
@section sidebar {
    <div class="boxContent">
        @Html.ActionLink("All Pick Waves", MVC_PickWaves.PickWaves.Home.Customer(Model.CustomerId)) of <em>@Html.DisplayFor(m => m.CustomerName) (@Html.DisplayFor(m => m.CustomerId))</em>
    </div>

    @if (Model.LastBucketId.HasValue)
    {
        <fieldset>
            <legend>
                Pick Wave @Html.DisplayFor(m => m.LastBucketId) @Html.ActionLink("View", MVC_PickWaves.PickWaves.ManageWaves.Wave(
            new DcmsMobile.PickWaves.ViewModels.ManageWaves.WaveViewModel
                (Model.LastBucketId.Value, DcmsMobile.PickWaves.ViewModels.ManageWaves.SuggestedNextActionType.UnfreezeMe))) /
                @Html.ActionLink("Edit", MVC_PickWaves.PickWaves.ManageWaves.Wave(
            new DcmsMobile.PickWaves.ViewModels.ManageWaves.WaveViewModel
             (Model.LastBucketId.Value, DcmsMobile.PickWaves.ViewModels.ManageWaves.SuggestedNextActionType.CancelEditing)))
            </legend>
            TODO: Display number of added pickslips
            <br />
            Selct pickslips from the table to add to this pick wave
        </fieldset>
    }

}
@if (Model.CustomerOrders.Count > 0)
{
    <fieldset>
        <legend>New Pick Wave</legend>
        @using (Html.BeginForm(MVC_PickWaves.PickWaves.CreateWave.CreatePickWave(), FormMethod.Post))
        {
            <div style="margin-top: 0.25em;">
                Pull From
                @Html.DropDownListFor(m => m.PullAreaId, Model.PullAreas, "(Decide Later)")
                @Html.CheckBoxFor(m => m.RequireBoxExpediting)
                @Html.LabelFor(m => m.RequireBoxExpediting)
            </div>
            <div style="margin-top: 0.25em;">
                Pitch From @Html.DropDownListFor(m => m.PitchAreaId, Model.PitchAreas, "(Decide Later)")
            </div>
            <input type="hidden" name="@Model.NameFor(m => m.CustomerId)" value="@Model.CustomerId" />
            <button type="submit" id="btnCreateBucket">Create</button>
        }
    </fieldset>
    <fieldset>
        <legend>Add Pickslips</legend>
        @if (Model.LastBucketId.HasValue)
        {
            using (Html.BeginForm(MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDim(), FormMethod.Post, new
        {
            id = "frmMain"
        }))
            {
                <div id="matrixPartial" data-name-selected-dc="@Model.NameFor(m => m.ColDimVal)" data-name-selected-dim="@Model.NameFor(m => m.RowDimVal)">
                    @Html.Partial(MVC_PickWaves.PickWaves.CreateWave.Views._pickslipMatrixPartial, Model)
                </div>
                <input type="hidden" name="@Model.NameFor(m => m.LastBucketId)" value="@Model.LastBucketId" />
            }
        }
        else
        {
            <blockquote>
                You will be able to add pickslips after you have created a new bucket
            </blockquote>
            <div id="matrix" data-name-selected-dc="@Model.NameFor(m => m.ColDimVal)" data-name-selected-dim="@Model.NameFor(m => m.RowDimVal)">
                @Html.Partial(MVC_PickWaves.PickWaves.CreateWave.Views._pickslipMatrixPartial, Model)
            </div>
        }
    </fieldset>
}
else
{
    <span class="ui-state-highlight" style="margin-top: 2em; display: inline-block">
        No imported orders found for Customer @Model.CustomerId
    </span>
}

<div id="divDlg" title="Create Pick Wave">
    <em id="dlgColDimSpan" style="display: inline-block; width: 8em"></em><span id="dlgColDimSpanVal"></span>
    <br />
    <em id="dlgRowDimSpan" style="display: inline-block; width: 8em">Customer DC</em> <span id="dlgRowDimSpanVal"></span>
    <hr />
    Add <span id="dlgSpanPsCount"></span>pickslips to wave @Model.LastBucketId.
    <div id="dlgMessage" class="validation-summary-errors"></div>
</div>

@section Scripts{
    <link type="text/css" href="@Links_PickWaves.Areas.PickWaves.Content.CreateWave_Index_min_css" rel="stylesheet" />
    <script src="@Links_PickWaves.Areas.PickWaves.Scripts.CreateWave_Index_js" type="text/javascript"></script>
}

