@model DcmsMobile.PickWaves.ViewModels.CreateWave.PickslipListViewModel
@{
    ViewBag.Title = string.Format("Pickslip list for Customer {0}: {1}", Model.CustomerId, Model.CustomerName);
}
@section sidebar {
    <div class="boxContent">
        If you want to create new wave for customer <em>@Model.CustomerId</em>
        @Html.ActionLink("Back to list", MVC_PickWaves.PickWaves.CreateWave.Index(new DcmsMobile.PickWaves.ViewModels.CreateWave.IndexViewModel(Model.CustomerId)))
    </div>
    <div class="boxContent">
        <ul>
            <li>
                If you want to
                @Html.ActionLink("Add more pickslip", MVC_PickWaves.PickWaves.CreateWave.Index(new DcmsMobile.PickWaves.ViewModels.CreateWave.IndexViewModel(Model.CustomerId,
               Model.RowDimIndex.Value, Model.ColDimIndex.Value, null, null, Model.BucketId))) in @Model.BucketId Pick Wave.
        </li>
        <li>
            To see Pick Wave <a href="@Url.Action(
                MVC_PickWaves.PickWaves.ManageWaves.Wave(new DcmsMobile.PickWaves.ViewModels.ManageWaves.WaveViewModel(Model.BucketId, DcmsMobile.PickWaves.ViewModels.ManageWaves.SuggestedNextActionType.UnfreezeMe)))">
                @Model.BucketId
            </a>detail
        </li>
    </ul>
</div>
}

<div class="boxContent">
    @Html.DisplayFor(m => m.Bucket, MVC_PickWaves.PickWaves.Shared.Views.DisplayTemplates.BucketModel)
    <div>
        @using (Html.BeginForm(MVC_PickWaves.PickWaves.CreateWave.AddPickslipsToBucket(), FormMethod.Post))
        {
            <input type="hidden" name="@Model.NameFor(m => m.BucketId)" value="@Model.BucketId" />
            <input type="hidden" name="@Model.NameFor(m => m.CustomerId)" value="@Model.CustomerId" />
            <input type="hidden" name="@Model.NameFor(m => m.RowDimVal)" value="@Model.RowDimVal" />
            <input type="hidden" name="@Model.NameFor(m => m.ColDimVal)" value="@Model.ColDimVal" />
            <input type="hidden" name="@Model.NameFor(m => m.RowDimIndex)" value="@Model.RowDimIndex" />
            <input type="hidden" name="@Model.NameFor(m => m.ColDimIndex)" value="@Model.ColDimIndex" />
            <input type="hidden" name="@Model.NameFor(m => m.VwhId)" value="@Model.VwhId" />

            if (Model.PickslipList.Count > 0)
            {

                <blockquote>
                    Select pickslips first from below list to add in Pick Wave @Model.BucketId.
                    <button type="submit" @Html.Raw(Model.UserIsManager ? "" : "disabled='disabled'")>Add pickslips</button>
                </blockquote>

                <table>
                    <caption>
                        @string.Format("Pickslips of {0}: {1}; {2}: {3}", Model.ColDimDisplayName, Model.ColDimVal, Model.RowDimDisplayName, Model.RowDimVal)
                        <span style="font-size: 0.7em;">(VWh : @Model.VwhId)</span>
                    </caption>
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="btnSelectAll" title="Select All/Clear" />
                                #
                            </th>
                            <th>
                                Pickslip<span class="ui-icon ui-icon-extlink" style="display: inline-block" title="Inquiry link"></span>
                            </th>
                            <th>
                                Purchase Order<span class="ui-icon ui-icon-extlink" style="display: inline-block" title="Inquiry link"></span>
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                Imported
                            </th>
                            <th>
                                Customer DC
                            </th>
                            <th>
                                Customer Store
                            </th>
                        </tr>
                    </thead>
                    <tbody id="pickslipListBody">
                        @for (var i = 0; i < Model.PickslipList.Count; ++i)
                        {
                            <tr class="@(i % 2 == 0 ? "rowA" : "rowB")">
                                <td style="white-space: nowrap; text-align: right">
                                    <input type="checkbox" class="ui-helper-hidden" name='@Model.NameFor(m => m.SelectedPickslip)' value="@Model.PickslipList[i].PickslipId" />
                                    @(i + 1)
                                </td>
                                <td style="text-align: center">
                                    <a href='@Url.Content(string.Format("~/Inquiry/Home/InquiryIndex?id={0}", Model.PickslipList[i].PickslipId))' target="PO">@Model.PickslipList[i].PickslipId</a>
                                </td>
                                <td style="text-align: center">
                                    <a href='@Url.Content(string.Format("~/Inquiry/Home/InquiryIndex?id={0}", Model.PickslipList[i].PurchaseOrder))' target="PO">@Model.PickslipList[i].PurchaseOrder</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.PickslipList[i].StartDate)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(m => m.PickslipList[i].PickslipImportDate)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(m => m.PickslipList[i].CustomerDcId)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(m => m.PickslipList[i].CustomerStoreId)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <span class="ui-state-highlight">No pickslips found for @Model.ColDimDisplayName : @Model.ColDimVal @Model.RowDimDisplayName : @Model.RowDimVal of this customer.</span>
            }
        }
    </div>
</div>
@section Scripts{
    <script src="@Links_PickWaves.Scripts.jquery_validate_js" type="text/javascript"></script>
    <script src="@Links_PickWaves.Scripts.jquery_validate_unobtrusive_js" type="text/javascript"></script>
    <script src="@Links_PickWaves.Areas.PickWaves.Scripts.CreateWave_PickslipList_js" type="text/javascript"></script>
    <link type="text/css" href="@Links_PickWaves.Areas.PickWaves.Content.CreateWave_PickslipList_min_css" rel="stylesheet" />
    <style type="text/css">
        .ui-selected {
            background-color: rgb(243,152,20) !important;
        }

        .ui-selectee {
            cursor: crosshair;
        }
        /*These styling is used to showing progress bar when showing bucket information*/
        .ui-progressbar-value {
            display: inline-block;
            text-align: center;
            font-size: 0.9em;
            overflow: hidden;
            font-weight: normal;
        }

        .ui-progressbar {
            width: 12em;
        }

        span.ui-icon {
            cursor: pointer;
            display: inline-block;
        }
    </style>
}