@model DcmsMobile.Inquiry.Areas.Inquiry.CartonAreaEntity.CartonAreaListViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    ViewBag.Title = "Carton Areas";
}
<div class="container">
   
        <h2 style="margin-top:0px;">
            @ViewBag.Title
            </h2>

    <p>
        Areas containing inventory are listed below.
    </p>
    <ul class="list-group">

        <li class="list-group-item list-group-item-success">
            <strong>Building</strong>
        </li>
        @for (int i = 0; i < Model.AllAreas.Count; i++)
        {
            if (i == 0 || Model.AllAreas[i].BuildingId != Model.AllAreas[i - 1].BuildingId)
            {
                <li class="list-group-item active">
                    <strong>@Html.DisplayFor(m => m.AllAreas[i].BuildingId) </strong><small>@Html.DisplayFor(m => m.AllAreas[i].BuildingDescription)</small>
                </li>
            }
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                        <h5>
                            <strong>@Html.ActionLink(Model.AllAreas[i].AreaShortName, MVC_Inquiry.Inquiry.CartonAreaEntity.CartonArea(Model.AllAreas[i].Area))</strong>:@Html.DisplayFor(m => m.AllAreas[i].Description)
                        </h5>
                    </div>
                    <div class="col-md-4">
                        @if (Model.AllAreas[i].TotalLocations > 0)
                        {
                            <div>
                                @Html.DisplayFor(m => m.AllAreas[i].UsedLocations) of @Html.DisplayFor(m => m.AllAreas[i].TotalLocations) locations used
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@Model.AllAreas[i].PercentUsed.ToString()" aria-valuemin="0" aria-valuemax="100" style="width: @Model.AllAreas[i].PercentUsed%;">
                                    @Model.AllAreas[i].PercentUsed%
                                </div>
                            </div>
                        }
                        @*else
                            {
                                <p>Non numbered area</p>
                            }*@
                    </div>
                    <div class="col-md-4">
                        @if (Model.AllAreas[i].Quantity != null)
                        {
                            <span>@Html.DisplayFor(m => m.AllAreas[i].Quantity) pieces of @Html.DisplayFor(m => m.AllAreas[i].DistinctSKUs) SKUs in @Html.DisplayFor(m => m.AllAreas[i].CartonCount) cartons</span>
                        }
                        else
                        {
                            <span>Empty Area</span>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
