@*    Contract:
    1. data-autocomplete-url: Needed for attaching auto complete on Carrier.
*@

@model DcmsMobile.Receiving.ViewModels.Home.IndexViewModel
@{
    Layout = MVC_Receiving.Receiving.SharedViews.Views._layoutReceiving;
    ViewBag.Title = "Receiving Process";
}

<div class="container">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="well well-sm">
        <p>To begin receivng, Select or <a href="@Url.Action(MVC_Receiving.Receiving.Home.CreateProcess())">Create</a> a Receiving Process</p>
        <form class="form-inline" role="form" action="@Url.Action(MVC_Receiving.Receiving.Home.Receiving())" method="get">
            <div class="form-group">
                <div class="input-group">
                    <input type="number" id="search" placeholder="Receiving Process Id" name="@MVC_Receiving.Receiving.Home.ReceivingParams.processId"
                           class="form-control" autofocus />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
            @*<div class="btn-group">
                <a href="@Url.Action(MVC_Receiving.Receiving.Home.CreateProcess())" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Create</a>
                <a href="@Url.Action(MVC_Receiving.Receiving.Home.ShipmentList())" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Open Shipments</a>
                <a href="@Url.Action(MVC_Receiving.Receiving.Rad.Index())" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span> Configure Receiving</a>
            </div>*@
        </form>
    </div>


    <div class="list-group">
        @for (var i = 0; i < Model.RecentProcesses.Count; ++i)
        {
            <a href="@Url.Action(MVC_Receiving.Receiving.Home.Receiving(Model.RecentProcesses[i].ProcessId))" class="list-group-item">
                <span class="badge ">
                    @Html.DisplayFor(m => m.RecentProcesses[i].CartonCount) of @Html.DisplayFor(m => m.RecentProcesses[i].ExpectedCartons)
                    ctn on @Html.DisplayFor(m => m.RecentProcesses[i].PalletCount) pallets
                </span>

                <h4 class="list-group-item-heading">@Html.DisplayFor(m => m.RecentProcesses[i].ProcessId) <small>by @Html.DisplayFor(m => m.RecentProcesses[i].OperatorName)</small></h4>
                <p class="pull-right label label-info list-group-item-text" @*style="font-size:1.05em"*@>
                    Started On @Html.DisplayFor(m => m.RecentProcesses[i].ReceivingStartDate) @Html.DisplayFor(m => m.RecentProcesses[i].ElapsedTime)
                </p>
                <p class="list-group-item-text">

                    PRO# @Html.DisplayFor(m => m.RecentProcesses[i].ProNumber) dated @Html.DisplayFor(m => m.RecentProcesses[i].ProDate) <mark>@Html.DisplayFor(m => m.RecentProcesses[i].CarrierDisplayName)</mark>
                </p>

            </a>
        }
    </div>
</div>


