@model DcmsMobile.Receiving.Areas.Receiving.Home.ShipmentListViewModel
@{
    Layout = MVC_Receiving.Receiving.SharedViews.Views._layoutReceiving;
    ViewBag.Title = "Shipment List";
}





<div class="container">
    <div id="message" class="alert hidden"></div>
    <div class="page-header">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
    <small class="text-info"><span class="glyphicon glyphicon-info-sign"></span> To update Shipment List please refresh the page.</small>
    <h4>List of open shipments(Max 200)</h4>
    <ul class="list-group" id="list">

        <li class="list-group-item list-group-item-success">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="list-group-item-heading">
                        Shipment #
                        <small>Shipment Date</small>
                    </h4>
                    <p class="list-group-item-text">
                        Last Received on <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="label label-success">PO #</span>
                    &nbsp;
                    <small>ERP</small>

                    <p class="list-group-item-text">
                        <span class="label label-info">
                            Receiving Process <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                        </span>
                        &nbsp;
                        <small>Order Type</small>
                    </p>
                </div>
                <div class="col-md-3">
                    Pieces received of pieces expected
                    <p class="list-group-item-text">
                        Carton received of carton expected
                    </p>

                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary pull-right" disabled>Action</button>
                </div>
            </div>
        </li>
        @for (int i = 0; i < Model.ShipmentList.Count; i++)
        {

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="list-group-item-heading">
                            @(i + 1))  <a href="@Url.Content(string.Format("~/Inquiry/IntransitShipment/{0}", Model.ShipmentList[i].ShipmentId))"
                                          target="_blank" title="Shipment Details">
                                @Html.DisplayFor(m => m.ShipmentList[i].ShipmentId)
                            </a>
                            <small>@Html.DisplayFor(m => m.ShipmentList[i].ShipmentDate)</small>
                        </h4>
                        <p class="list-group-item-text">
                            @Html.DisplayFor(m => m.ShipmentList[i].MaxReceiveDate)
                        </p>
                    </div>
                    <div class="col-md-3">
                        <span class="label label-success">
                            @Html.DisplayFor(m => m.ShipmentList[i].PoNumber)
                        </span>
                        &nbsp;
                        <small>@Html.DisplayFor(m => m.ShipmentList[i].ErpType)</small>


                        <p class="list-group-item-text">
                            <span class="label label-info">
                                @Html.DisplayFor(m => m.ShipmentList[i].ProcessNumber)
                            </span>
                            &nbsp;
                            <small>
                                @Html.DisplayFor(m => m.ShipmentList[i].IntransitType)
                            </small>
                        </p>
                    </div>
                    <div class="col-md-3">
                        @Html.DisplayFor(m => m.ShipmentList[i].ReceivedQuantity) of
                        @Html.DisplayFor(m => m.ShipmentList[i].ExpectedQuantity) pieces received
                        <p class="list-group-item-text">
                            @Html.DisplayFor(m => m.ShipmentList[i].CartonReceived) of
                            @Html.DisplayFor(m => m.ShipmentList[i].CartonCount) carton received
                        </p>

                    </div>
                    <div class="col-md-2">
                        <div class="btn-group pull-right btnGroupClose" title="Close Shipment @Model.ShipmentList[i].ShipmentId">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <img src="@Links_Receiving.Areas.Receiving.SharedViews.ajax_loader_gif" class="hidden" />  Close <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="padding-bottom:0px;">
                                <li>
                                    <center>Are you sure?</center>
                                    <div class="btn-group btn-group-justified">
                                        <button class="btn btn-primary" type="submit"
                                                data-shipment-close-url="@Url.Action(MVC_Receiving.Receiving.Home.CloseShipment(Model.ShipmentList[i].ShipmentId, @Model.ShipmentList[i].PoNumber))">
                                            Yes
                                        </button>
                                        <a class="btn btn-default">No</a>
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <button type="button" data-shipment-reopen-url="@Url.Action(MVC_Receiving.Receiving.Home.ReOpenShipment(Model.ShipmentList[i].ShipmentId, @Model.ShipmentList[i].PoNumber))"
                                class="btn btn-warning pull-right hidden">
                            <img src="@Links_Receiving.Areas.Receiving.SharedViews.ajax_loader_gif" class="hidden" /> Reopen
                        </button>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
@section script {
    <script type="text/javascript">
        $(document).ready(function () {

            // Add common events aroud ajax call
            function WrapDeferred(innerdef, $li) {
                // Disable button and show ajax image
                $('img', $li).removeClass('hidden').closest('button').prop('disabled', true);

                innerdef.fail(function (jqXHR, textStatus, errorThrown) {
                    // Show error message at top of page
                    $('#message').removeClass('hidden').html(jqXHR.responseText).addClass('alert-danger');
                }).done(function (msg) {
                    // Show success message at top of page
                    $('#message').removeClass('hidden').html(msg).addClass('alert-info');
                }).always(function ($li) {
                    // Hide ajax image and enable button
                    $('img', $li).addClass('hidden').closest('button').prop('disabled', false);
                }.bind(undefined, $li));
            }

            $('#list').on('click', 'button[data-shipment-close-url]', function (e) {
                //Make the ajax call to close the shipment
                var $li = $('> li', e.delegateTarget).has(e.target);
                var def = $.post($(this).attr('data-shipment-close-url')).then(function (data, textStatus, jqXHR) {
                    //Success. Hide the close button and show the open button
                    this.$li.addClass('list-group-item-warning')  // Highlight the clicked li
                        .find('.btnGroupClose').addClass('hidden').end()      // Hide the close button
                        .find('button[data-shipment-reopen-url]').removeClass('hidden');   // show the open button
                    return data;
                }.bind({ "$li": $li }));
                WrapDeferred(def, $li);
            }).on('click', 'button[data-shipment-reopen-url]', function (e) {
                var $li = $('> li', e.delegateTarget).has(e.target);
                var def = $.post($(this).attr('data-shipment-reopen-url')).then(function (data, textStatus, jqXHR) {
                    //Success
                    this.$li.removeClass('list-group-item-warning')
                        .find('.btnGroupClose').removeClass('hidden').end()
                        .find('button[data-shipment-reopen-url]').addClass('hidden');
                    return data;
                }.bind({ "$li": $('> li', e.delegateTarget).has(e.target) }));
                WrapDeferred(def, $li);
            });
        });
    </script>
}