@model DcmsMobile.Receiving.Areas.Receiving.Home.ShipmentListViewModel
@{
    Layout = MVC_Receiving.Receiving.SharedViews.Views._layoutReceiving;
    ViewBag.Title = "Shipment List";
}





<div class="container">
    <div id="message" class="alert alert-info" style="display:none"></div>
    <div class="page-header">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
    <small class="text-info"><span class="glyphicon glyphicon-info-sign"></span> To update Shipment List please refresh the page.</small>
    <h4>List of open shipments(Max 200)</h4>
    <ul class="list-group">

        <li class="list-group-item list-group-item-success">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="list-group-item-heading">
                        Shipment #
                        <small>Shipment Date</small>
                    </h4>
                    <p class="list-group-item-text">
                        Last Received on <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="label label-success">PO #</span>
                    &nbsp;
                    <small>ERP</small>

                    <p class="list-group-item-text">
                        <span class="label label-info">
                            Receiving Process <span class="glyphicon glyphicon-sort-by-order-alt"></span>
                        </span>
                        &nbsp;
                        <small>Order Type</small>
                    </p>
                </div>
                <div class="col-md-3">
                    Pieces received of pieces expected
                    <p class="list-group-item-text">
                        Carton received of carton expected
                    </p>

                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary pull-right">Action</button>
                </div>
            </div>
        </li>
        @for (int i = 0; i < Model.ShipmentList.Count; i++)
        {

            <li class="list-group-item shipmentList">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="list-group-item-heading">
                            @(i + 1))  <a href="@Url.Content(string.Format("~/Inquiry/IntransitShipment/{0}", Model.ShipmentList[i].ShipmentId))"
                                          target="_blank" title="Shipment Details">
                                @Html.DisplayFor(m => m.ShipmentList[i].ShipmentId)
                            </a>
                            <small>@Html.DisplayFor(m => m.ShipmentList[i].ShipmentDate)</small>
                        </h4>
                        <p class="list-group-item-text">
                            @Html.DisplayFor(m => m.ShipmentList[i].MaxReceiveDate)
                        </p>
                    </div>
                    <div class="col-md-3">
                        <span class="label label-success">
                            @Html.DisplayFor(m => m.ShipmentList[i].PoNumber)
                        </span>
                        &nbsp;
                        <small>@Html.DisplayFor(m => m.ShipmentList[i].ErpType)</small>


                        <p class="list-group-item-text">
                            <span class="label label-info">
                                @Html.DisplayFor(m => m.ShipmentList[i].ProcessNumber)
                            </span>
                            &nbsp;
                            <small>
                                @Html.DisplayFor(m => m.ShipmentList[i].IntransitType)
                            </small>
                        </p>
                    </div>
                    <div class="col-md-3">
                        @Html.DisplayFor(m => m.ShipmentList[i].ReceivedQuantity) of
                        @Html.DisplayFor(m => m.ShipmentList[i].ExpectedQuantity) pieces received
                        <p class="list-group-item-text">
                            @Html.DisplayFor(m => m.ShipmentList[i].CartonReceived) of
                            @Html.DisplayFor(m => m.ShipmentList[i].CartonCount) carton received
                        </p>

                    </div>
                    <div class="col-md-2">
                        <div class="btn-group pull-right btnGroupClose" title="Close Shipment @Model.ShipmentList[i].ShipmentId">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Close Shipment <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="padding-bottom:0px;">
                                <li>
                                    <center>Are you sure?</center>
                                    <div class="btn-group btn-group-justified">
                                        <button class="btn btn-primary btncloseShipment" type="submit" 
                                                data-shipment-close-url="@Url.Action(MVC_Receiving.Receiving.Home.CloseShipment(Model.ShipmentList[i].ShipmentId, @Model.ShipmentList[i].PoNumber))">
                                            Yes
                                        </button>
                                        <a class="btn btn-default">No</a>
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <button type="button" data-shipment-reopen-url="@Url.Action(MVC_Receiving.Receiving.Home.ReOpenShipment(Model.ShipmentList[i].ShipmentId, @Model.ShipmentList[i].PoNumber))"
                                class="btnReopenShipment btn btn-info pull-right hidden">
                            Reopen Shipment
                        </button>
                    </div>
                </div>
            </li>
        }
    </ul>  
</div>
@section script {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.shipmentList').on('click', '.btncloseShipment', function (e) {
                var $li = $(e.delegateTarget);
                $.post($(this).attr('data-shipment-close-url')).then(function (data, textStatus, jqXHR) {
                    //Success
                
                    $li.addClass('list-group-item-info');
                    $('.btnGroupClose', $li).hide();
                    $('.btnReopenShipment', $li).removeClass('hidden');
                    $('#message').show().html(data).addClass('bg-info');

                }, function (jqXHR, textStatus, errorThrown) {
                    //error
                    alert(jqXHR.responseText);
                });

            }).on('click', '.btnReopenShipment', function (e) {
               var $li = $(e.delegateTarget);
                $.post($(this).attr('data-shipment-reopen-url')).then(function (data, textStatus, jqXHR) {
                    //Success
                    $li.removeClass('list-group-item-info');
                    $('.btnGroupClose', $li).show();
                    $('.btnReopenShipment', $li).addClass('hidden');
                    $('#message').show().html(data).addClass('bg-info');
                }, function (jqXHR, textStatus, errorThrown) {
                    //error
                    alert(jqXHR.responseText);
                });
            });
                });
    </script>
}