@model DcmsMobile.BoxManager.ViewModels.Home.LocationViewModel
@{
    ViewBag.Title = "Scan Location";
}
@using (Html.BeginForm(MVC_BoxManager.BoxManager.Home.LocatePallet()))
{
    <input type="hidden" name="@Html.NameFor(p => p.PalletId)" value="@Model.PalletId" />
    <span>Scan Location</span><input  type="text" id="scan" name="@Html.NameFor(p => p.ScanText)"/>
}
<div>
    <strong>@Html.DisplayFor(m => m.BoxesOnPalletCount)</strong> Boxes on <strong>@Html.DisplayFor(m => m.PalletId)</strong>
    @if (Model.PercentFull > 0)
    { 
        <span class = "@(Model.PercentFull >= 100 ? "ui-state-error" : "ui-state-active")">@Html.DisplayFor(m => m.PercentFull)
            &#37 full.</span>
    }
</div>
<div>
    @Html.DisplayFor(m => m.CurrentPalletArea, MVC_BoxManager.BoxManager.Shared.Views.DisplayTemplates.ValueWithShortName)
    @Html.DisplayFor(m => m.CurrentPalletLocation, MVC_BoxManager.BoxManager.Shared.Views.DisplayTemplates.ValueWithShortName)
    @Html.DisplayFor(m => m.CustomerId, MVC_BoxManager.BoxManager.Shared.Views.DisplayTemplates.ValueWithShortName)
</div>
<div class="ui-state-active">@string.Format("Tip : If you do not want to locate pallet {0},press enter.", Model.PalletId)</div>
<span>Press Enter to start again.</span>
