@{
    ViewBag.Title = "Pick Waves Home";
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}


<div class="container">
    <h2 style="margin-top:0">
        Pick Wave Home
    </h2>

    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Customers())">
                    <h4 class="list-group-item list-group-item-success">
                        Manage Pick Waves
                        <span class="glyphicon glyphicon-adjust pull-right"></span>
                    </h4>
                </a>
                <a href="#" class="list-group-item">
                    TODO: Show recently created pick waves
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="list-group">
                <h4 class="list-group-item list-group-item-success">
                    Create Pick Waves
                    <span class="glyphicon glyphicon-folder-close pull-right"></span>
                </h4>
                <a href="#" class="list-group-item">
                    TODO: Show customer list whose pick waves can be created
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="list-group">
                <h4 class="list-group-item list-group-item-success">
                    Create Pitch Carts
                    <span class="glyphicon glyphicon-shopping-cart pull-right"></span>
                </h4>
                <a href="#" class="list-group-item">
                    TODO: List of pick waves for which MPC can be created
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>

            </div>

        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="@Url.Action(MVC_PickWaves.PickWaves.BoxPickPallet.Index())">
                    <h4 class="list-group-item list-group-item-success">
                        Box Expediting
                        <span class="glyphicon glyphicon-briefcase pull-right"></span>
                    </h4>
                </a>
                <a href="#" class="list-group-item">
                    TODO: List of pick waves for which boxes can be expedited
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </div>
        </div>
        <div class="col-md-4">

            <div class="list-group">
                <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.Index())">
                    <h4 class="list-group-item list-group-item-success">
                        Pick Wave Configuration
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </h4>
                </a>

                <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.SkuCase())" class="list-group-item">
                    Carton Sizes
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
                <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.StyleSkuCase())" class="list-group-item">
                    Style Cartons Sizes
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
                <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.CustSkuCase())" class="list-group-item">
                    Customer Carton Sizes
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
                <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.Constraint())" class="list-group-item">
                    Customer Weight and Volume Restrictions
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </div>

        </div>
    </div>
</div>
