@model DcmsMobile.PickWaves.Areas.PickWaves.Home.IndexViewModel
@{
    ViewBag.Title = "Pick Waves Home";
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}


<div class="container">
    <h2 style="margin-top:0">
        Pick Wave Home
    </h2>

    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Customers())" class="list-group-item list-group-item-success">
                    <h4 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-adjust"></span>
                        Manage Pick Waves
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </h4>
                </a>
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        Bucket <small>Created by</small>
                        <span class="badge">Date Created</span>
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </h4>
                </a>
                @for (var i = 0; i < Model.RecentBuckets.Count; ++i)
                {
                    <a href="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.WavePickslips(Model.RecentBuckets[i].BucketId))" class="list-group-item">

                        <h4 class="list-group-item-heading">
                            @Html.DisplayFor(m => m.RecentBuckets[i].BucketId)
                            <small>@Html.DisplayFor(m => m.RecentBuckets[i].CreatedBy)</small>
                            <span class="badge">@Html.DisplayFor(m => m.RecentBuckets[i].CreationDate)</span>
                            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                        </h4>
                    </a>
                }
                
            </div>
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    <h4 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        Create Pick Waves
                    </h4>
                </li>
                <li class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        <span class="label label-default">Picslips</span>                     
                                <span>
                                    Customer
                                </span>                          
                            <small>                              
                                <em>
                                   Import Date
                                </em>
                            </small>  
                    </h4>
                </li>
                @for (var i = 0; i < Model.ImportedOrders.Count; ++i)
                {
                    <li class="list-group-item"
                        title="@string.Format("Create Pick Waves for {0}", Model.ImportedOrders[i].CustomerName)">
                        <h4 class="list-group-item-heading">
                            <span class="label label-default">@Html.DisplayFor(m => m.ImportedOrders[i].PickslipCount)</span>
                            <span @Html.Raw(Model.ImportedOrders[i].IsCustomerActive ? "" : "style=text-decoration:line-through")>
                                @if (Model.UserIsManager)
                                {
                                    <a href="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.Index(Model.ImportedOrders[i].CustomerId))">
                                        @Html.DisplayFor(m => m.ImportedOrders[i].CustomerId):
                                    </a>
                                }
                                else
                                {
                                    <span>
                                        @Html.DisplayFor(m => m.ImportedOrders[i].CustomerId):
                                    </span>
                                }
                                <small>
                                    @Html.DisplayFor(m => m.ImportedOrders[i].CustomerName)

                                    <em>
                                        @Html.DisplayFor(m => m.ImportedOrders[i].ImportDateRange)
                                    </em>
                                </small>
                            </span>
                        </h4>
                    </li>
                }
            </ul>

        </div>

        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item list-group-item-success">
                    <h4 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-shopping-cart "></span>
                        Create Pitch Carts
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </h4>
                </div>
                <a href="#" class="list-group-item">
                    TODO: List of pick waves for which MPC can be created
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>

            </div>

        </div>
        <div class="col-md-4">       
            <div class="list-group">
                <a href="@Url.Action(MVC_PickWaves.PickWaves.BoxPickPallet.Index())" class="list-group-item list-group-item-success">
                    <h4 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        Box Expediting
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </h4>
                </a>
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        Bucket <small>Created by</small>
                        <span class="badge">Date Created</span>
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </h4>
                </a>
                @for (var i = 0; i < Model.ExpediteBuckets.Count; ++i)
                {
                    <a href="@Url.Action(MVC_PickWaves.PickWaves.BoxPickPallet.Index())" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            @Html.DisplayFor(m => m.ExpediteBuckets[i].BucketId)
                            <small>@Html.DisplayFor(m => m.ExpediteBuckets[i].CreatedBy)</small>
                            <span class="badge">@Html.DisplayFor(m => m.ExpediteBuckets[i].CreationDate)</span>
                            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                        </h4>
                    </a>
                }
            </div>
            </div>
        <div class="col-md-4">

            <div class="list-group">
                <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.Index())" class="list-group-item list-group-item-success">
                    <h4 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-cog"></span>
                        Pick Wave Configuration
                    </h4>
                </a>

                <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.SkuCase())" class="list-group-item">
                    Carton Sizes
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
                <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.StyleSkuCase())" class="list-group-item">
                    Style Cartons Sizes
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
                <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.CustSkuCase())" class="list-group-item">
                    Customer Carton Sizes
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
                <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.Constraint())" class="list-group-item">
                    Customer Weight and Volume Restrictions
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </div>

        </div>
        </div>
       
    </div>
