@model DcmsMobile.PickWaves.Areas.PickWaves.Home.IndexViewModel
@{
    ViewBag.Title = "Pick Waves Home";
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}


<div class="container">
    <h2 style="margin-top:0">
        Pick Wave Home
    </h2>

    <div class="row">
        <div class="col-md-5">
            <div class="list-group">
                <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Customers())" class="list-group-item list-group-item-success">
                    <span>
                        <span class="glyphicon glyphicon-adjust"></span>
                        Manage Pick Waves
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </span>
                </a>
                <div class="list-group-item">
                    <strong>
                        Recently Created
                    </strong>
                    <ul class="list-inline">
                        @for (var i = 0; i < Model.RecentBuckets.Count; ++i)
                        {
                        <li style="width:18em">
                            <a href="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.WavePickslips(Model.RecentBuckets[i].BucketId))">
                                @Html.DisplayFor(m => m.RecentBuckets[i].BucketId)
                            </a>
                            <small>

                                <span>@Html.DisplayFor(m => m.RecentBuckets[i].CreationDate)</span>
                                by @Html.DisplayFor(m => m.RecentBuckets[i].CreatedBy)
                            </small>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-7">

            <div class="list-group">
                <span class="list-group-item list-group-item-success">
                    <span>
                        <span class="glyphicon glyphicon-folder-close"></span>
                        Create Pick Waves
                    </span>
                </span>
                <div class="list-group-item">
                    <strong>You can create Pickwave for these customer</strong>
                    <ul class="list-inline">
                        @for (var i = 0; i < Model.ImportedOrders.Count; ++i)
                        {

                            <li title="@string.Format("Create Pick Waves for {0}", Model.ImportedOrders[i].CustomerName)"
                                @Html.Raw(Model.ImportedOrders[i].IsCustomerActive ? "" : "style=text-decoration:line-through")>


                                <a href="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.Index(Model.ImportedOrders[i].CustomerId))">
                                    @Html.DisplayFor(m => m.ImportedOrders[i].CustomerId):

                                    <small>
                                        @Html.DisplayFor(m => m.ImportedOrders[i].CustomerName)
                                    </small>
                                </a>
                                <small>
                                    <span>@Html.DisplayFor(m => m.ImportedOrders[i].PickslipCount) pickslips</span>
                                    <em>
                                        Imported @Html.DisplayFor(m => m.ImportedOrders[i].ImportDateRange)
                                    </em>
                                </small>
                            </li>
                        }

                    </ul>
                </div>

            </div>




        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="list-group">
                <div class="list-group-item list-group-item-success">
                    <h4 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-shopping-cart "></span>
                        Create Pitch Carts
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </h4>
                </div>
                <a href="#" class="list-group-item">
                    TODO: List of pick waves for which MPC can be created
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>

            </div>

        </div>

        <div class="col-md-6">
            <div class="list-group">
                <a href="@Url.Action(MVC_PickWaves.PickWaves.BoxPickPallet.Index())" class="list-group-item list-group-item-success">
                    <h4 class="list-group-item-heading">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        Box Expediting
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </h4>
                </a>
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        Bucket <small>Created by</small>
                        <span class="badge">Date Created</span>
                    </h4>
                </a>
                @for (var i = 0; i < Model.ExpediteBuckets.Count; ++i)
                {
                    <a href="@Url.Action(MVC_PickWaves.PickWaves.BoxPickPallet.Index())" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            @Html.DisplayFor(m => m.ExpediteBuckets[i].BucketId)
                            <small>@Html.DisplayFor(m => m.ExpediteBuckets[i].CreatedBy)</small>
                            <span class="badge">@Html.DisplayFor(m => m.ExpediteBuckets[i].CreationDate)</span>
                            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                        </h4>
                    </a>
                }
            </div>
        </div>
       </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.Index())">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-cog"></span>
                    Pick Wave Configuration
                </h4>
            </a>
        </div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    
                    <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.SkuCase())" >
                        Carton Sizes                        
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.StyleSkuCase())">
                        Style Cartons Sizes
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.CustSkuCase())" >
                        Customer Carton Sizes
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.Constraint())" >
                        Customer Weight and Volume Restrictions
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
