@model IList<DcmsMobile.Inquiry.Areas.Inquiry.SkuAreaEntity.LocationAuditModel>


<h4 style="text-align:center">Location Assignment Audit</h4>
<ul class="list-group">
    <li class="list-group-item list-group-item-success">
        <div class="row">
            <div class="col-md-5">
                <h4 class="list-group-item-heading">
                    Action Performed
                </h4>
            </div>
            <div class="col-md-5">
                <h4 class="list-group-item-heading">
                    UPC
                    <small>
                        &bull; Module
                    </small>
                </h4>
            </div>
            <div class="col-md-2">
                <span class="badge pull-right">Created on by </span>
            </div>
        </div>
    </li>
   @for (int n = 0; n < Model.Count; n++)
   {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-5">
                    <h4 class="list-group-item-heading">
                        <small>@(n + 1)</small>
                        @Html.DisplayFor(m => m[n].ActionPerformed)
                    </h4>
                </div>
                <div class="col-md-5">
                    <h4 class="list-group-item-heading">
                       @Html.DisplayFor(m => m[n].UpcCode)
                        <small>
                            &bull; @Html.DisplayFor(m => m[n].ModuleCode)
                        </small>
                    </h4>
                </div>
                <div class="col-md-2">
                    <span class="badge pull-right">@Html.DisplayFor(m => m[n].DateCreated) by @Html.DisplayFor(m => m[n].CreatedBy)</span>
                </div>
            </div>
        </li>
    }
</ul>

@*<div class="table-responsive">
    <table class="table table-striped table-condensed table-bordered">
        <caption>
            <h3>Location Assignment Audit</h3>
        </caption>
        <thead>
            <tr>
                <th style="text-align:center">#</th>
                <th style="text-align:center">Action Performed</th>
                <th style="text-align:center">Created By</th>
                <th style="text-align:center">Date<span class="glyphicon glyphicon-sort-by-order-alt"></span></th>
                <th style="text-align:center">Module</th>
                <th style="text-align:center">UPC</th>
            </tr>
        </thead>
        <tbody>
            @for (int n = 0; n < Model.Count; n++)
            {
                <tr>
                    <td>@(n + 1)</td>
                    <td>@Html.DisplayFor(m => m[n].ActionPerformed)</td>
                    <td>@Html.DisplayFor(m => m[n].CreatedBy)</td>
                    <td>@Html.DisplayFor(m => m[n].DateCreated)</td>
                    <td>@Html.DisplayFor(m => m[n].ModuleCode)</td>
                    <td>@Html.DisplayFor(m => m[n].UpcCode)</td>
                </tr>
            }
        </tbody>
    </table>

</div>*@

