@model DcmsMobile.MainArea.Logon.LogonModel
@{
    ViewBag.Title = "DCMS Web Login";
    Layout = @MVC_DcmsMobile.SharedViews.Views._layoutMain;
}
<div data-role="page">
    <div data-role="content">
        @using (Html.BeginForm(MVC_DcmsMobile.Logon.Login()))
        {
            @Html.HiddenFor(m => m.ReturnUrl)
            <div class="ui-field-contain">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </div>
            <div class="ui-field-contain">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </div>


            <button type="submit">Sign in</button>
            <a class="ui-btn ui-btn-a" href="@(string.IsNullOrWhiteSpace(Model.ReturnUrl) ? Url.Content("~") : Model.ReturnUrl)">Skip</a>


        }
    </div>
</div>

