@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
@model DcmsMobile.PickWaves.ViewModels.Config.CustomerConstraintEditorModel



<form class="form-horizontal" id="frmAddCustomerConstraint" role="form" action="@Url.Action(MVC_PickWaves.PickWaves.Config.UpdateCustomerConstraints())" method="post">
    <input id="hfActiveTabIndex" type="hidden" name="@MVC_PickWaves.PickWaves.Config.UpdateCustomerConstraintsParams.activeTab" />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <label for="case" class="col-sm-3 control-label">
            Customer<sup><span class="glyphicon glyphicon-asterisk"></span></sup>
            @Html.TextBoxFor(m => m.CustomerId, new { @id = "hfCustomer", @style = "visibility:hidden" })
        </label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control typeahead" placeholder="Search Customer" id="tbCustomer" />
                <span class="input-group-btn">
                    <span class="btn btn-default"><span class="glyphicon glyphicon-search"></span></span>
                </span>
            </div>

            @Html.ValidationMessageFor(m => m.CustomerId, null, new
           {
               @class = "help-block"
           })

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelFor(m => m.MaxBoxWeight)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.MaxBoxWeight, new
{
    maxlength = 2,
    size = 2,
    @class = "form-control",
    placeholder = "Blank means no limit"
})
            @Html.HiddenFor(m => m.OrigMaxBoxWeight)


        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelFor(m => m.MaxSkuWithinBox)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.MaxSkuWithinBox, new
{
    maxlength = 2,
    size = 2,
    @class = "form-control",
    placeholder = "Blank means no limit"

})
            @Html.HiddenFor(m => m.OrigMaxSkuWithinBox)

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelFor(m => m.RequiredMinSkuPieces)
        </div>


        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.RequiredMinSkuPieces, new
{
    maxlength = 2,
    size = 2,
    @class = "form-control",
    placeholder = "Blank means no limit"
})
            @Html.HiddenFor(m => m.OrigRequiredMinSkuPieces)


        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3 control-label">
            @Html.LabelFor(m => m.RequiredMaxSkuPieces)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.RequiredMaxSkuPieces, new
{
    maxlength = 2,
    size = 2,
    @class = "form-control",
    placeholder = "Blank means no limit"

})
            @Html.HiddenFor(m => m.OrigRequiredMaxSkuPieces)

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(p => p.IsSingleStyleColor) @Html.LabelFor(p => p.IsSingleStyleColor)
                </label>
                @Html.HiddenFor(p => p.OrigIsSingleStyleColor)
            </div>
        </div>
    </div>
</form>




<script src="@Links_PickWaves.Areas.PickWaves.Config._custSkuCasePreferenceEditor_js"></script>


@*<script type="text/ecmascript">
    $(document).ready($(function () {
        // Force the unobtrusive validation script to run
        // http://forums.asp.net/t/1651961.aspx/1
        $.validator.unobtrusive.parse("#frmAddCustomerConstraint");
        $('#tbCustomer').autocompleteEx();
    }));
</script>*@
