@model DcmsMobile.PickWaves.ViewModels.Config.SkuCaseModel
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}




<form class="form-horizontal" id="frmSkuCaseEditor" role="form" action="@Url.Action(MVC_PickWaves.PickWaves.Config.AddOrUpdateSkuCase())" method="post">
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-sm-5 control-label">Case <sup><span class="glyphicon glyphicon-asterisk"></span></sup></label>
        @if (Model.CaseId != null)
        {
            
            <div class="col-sm-7">
                @Html.DisplayFor(m => m.CaseId, new
           {
               @class = "form-control",
               @required = "required"
           })

                @Html.HiddenFor(m => m.CaseId)
            </div>
        }
        else
        {
            <div class="col-sm-7">
                @Html.TextBoxFor(m => m.CaseId, new
           {
               @class = "form-control",
               @required = "required",
               MaxLength = "6"
           })
                @Html.ValidationMessageFor(m => m.CaseId, null, new
           {
               @class = "help-block"
           })
            </div>
        }
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Discription</label>
        <div class="col-sm-7">
            @Html.TextAreaFor(m => m.Description, new
            {
                MaxLength = "50",
                @class = "form-control",
                placeholder = "Max 50 characters"
            })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Empty Weight(lbs) <sup><span class="glyphicon glyphicon-asterisk"></span></sup></label>
        <div class="col-sm-7">
            @Html.TextBoxFor(m => m.EmptyWeight, new
            {
                @class = "form-control",
                @required = "required"
            })
            @Html.ValidationMessageFor(m => m.EmptyWeight, null, new
           {
               @class = "help-block"
           })

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Max Content Volume(ft) <sup><span class="glyphicon glyphicon-asterisk"></span></sup></label>
        <div class="col-sm-7">
            @Html.TextBoxFor(m => m.MaxContentVolume, new
            {
                @class = "form-control",
                @required = "required"
            })
            @Html.ValidationMessageFor(m => m.MaxContentVolume, null, new
           {
               @class = "help-block"
           })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label">Outer Cube Volume(ft)<sup><span class="glyphicon glyphicon-asterisk"></span></sup></label>
        <div class="col-sm-7">
            @Html.TextBoxFor(m => m.OuterCubeVolume, new
            {
                @class = "form-control",
                @required = "required"
            })
        
            @Html.ValidationMessageFor(m => m.OuterCubeVolume, null, new
           {
               @class = "help-block"
           })
          
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-7">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.IsAvailable) Is Available
                </label>
            </div>
        </div>
    </div>
</form>


<script src="@Links_PickWaves.Areas.PickWaves.Config._skuCaseEditor_js"></script>
@*<script type="text/javascript">
        $(document).ready($(function () {
            // Force the unobtrusive validation script to run
            // http://forums.asp.net/t/1651961.aspx/1
            $.validator.unobtrusive.parse("#frmSkuCaseEditor");
        }));
    </script>*@
