@model DcmsMobile.PickWaves.ViewModels.ManageWaves.IndexViewModel
@{
    ViewBag.Title = Model.PageTitle;
}
@section sidebar {
    <div class="box">
        <h3>Reports</h3>
        <div class="boxContent">
            <dl>
                <dt><a href="@(string.Format("{0}?customer_id={1}", DcmsMobile.PickWaves.ViewModels.ManageWaves.IndexViewModel.InventoryShortageReportUrl, Model.CustomerId))" target="report">
                    <em>130.28</em>. Inventory Shortages.</a> </dt>
                <dd>This report will identify those SKUs which cannot be shipped due to insufficient
                    inventory. It will also tell you which areas these
                    SKUs can be pulled from.
                </dd>
            </dl>
        </div>
    </div>
    <div class="boxContent">
        <fieldset style="padding: 1em 3em 1em 1em;">
            <legend>Legend</legend>
            <div style="width: 9em; background-color: antiquewhite; text-align: center">
                Pulling Boxes
            </div>
            <div style="width: 9em; background-color: paleturquoise; text-align: center">
                Pitching Boxes
            </div>
        </fieldset>
    </div>
}
<div class="box">
    @if (Model.Buckets.Count > 0)
    { 
        <div class="boxContent">
            <span style="font-size: 1em">This list is order by priority and then DcCancel Date</span>
            <table>
                <tbody id="tbody">
                    @for (var i = 0; i < Model.Buckets.Count; ++i)
                    {
                        <tr>
                            <td style="text-align: left; vertical-align: top">
                                <span style="margin-top: 2mm; margin-left: 2mm; display: inline-block">@(i + 1).</span>
                                <ul class="waveActionMenu" style="margin-top: 25%">
                                    <li><a href="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.Wave(new DcmsMobile.PickWaves.ViewModels.ManageWaves.WaveViewModel(Model.Buckets[i].BucketId,
                                                            DcmsMobile.PickWaves.ViewModels.ManageWaves.SuggestedNextActionType.BackTo)))" title="Pick Wave Details">
                                        <span class="ui-icon ui-icon-zoomin"></span>
                                        @Model.Buckets[i].BucketId</a>
                                        <ul>
                                            <li @Html.Raw(Model.UserIsManager && Model.Buckets[i].IsFrozen ? "" : "class='ui-state-disabled'")>
                                                <a href="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.EditableWave(new DcmsMobile.PickWaves.ViewModels.ManageWaves.WaveViewModel(
                                                        Model.Buckets[i].BucketId,
                                                    DcmsMobile.PickWaves.ViewModels.ManageWaves.SuggestedNextActionType.CancelEditing)))">
                                                    <span class="ui-icon ui-icon-pencil"></span>Edit</a></li>
                                            <li>-</li>
                                            <li class="increase-action @Html.Raw(Model.UserIsManager ? "" : "ui-state-disabled")">
                                                <a>
                                                    <span class="ui-icon ui-icon-arrowthick-1-n" title="Increase priority"></span>
                                                    Increase Priority
                                                </a>
                                            </li>
                                            <li class="decrease-action @Html.Raw(Model.UserIsManager ? "" : "ui-state-disabled")">
                                                <a>
                                                    <span class="ui-icon ui-icon-arrowthick-1-s" title="Decrease priority"></span>
                                                    Decrease Priority
                                                </a>
                                            </li>
                                            <li>-</li>
                                            <li @Html.Raw(Model.UserIsManager && Model.Buckets[i].IsFrozen ? "" : "class='ui-state-disabled'")>
                                                <a href="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.PickslipListSelector(new DcmsMobile.PickWaves.ViewModels.CreateWave.PickslipListSelectorViewModel(Model.Buckets[0].MaxCustomerId, Model.Buckets[0].BucketId)))">Add Pickslips</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <div class="bucketModelPartial" style="padding-top: 1em; padding-bottom: 0.5em">
                                    @Html.DisplayFor(m => m.Buckets[i], MVC_PickWaves.PickWaves.Shared.Views.DisplayTemplates.BucketModel, new
                               {
                                   IsEditable = false
                               })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <span class="ui-state-highlight">@string.Format("No Pick Waves found for customer {0}", Model.CustomerId)</span>
    }

</div>

@section scripts{
    <script src= "@Links_PickWaves.Areas.PickWaves.Scripts.ManageWave_Index_js"></script>
    <link type="text/css" href="@Links_PickWaves.Areas.PickWaves.Content.ManageWave_Index_min_css" rel="stylesheet"/>
}