@model DcmsMobile.Receiving.ViewModels.ViewModelBase
@{
    var model1 = Model as DcmsMobile.Receiving.ViewModels.ViewModelBase;
}
<!DOCTYPE html>
<!--
    Design by Free CSS Templates
    http://www.freecsstemplates.org
    Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="@Links_Receiving.Areas.Receiving.Content.Receiving_all_css" rel="stylesheet" type="text/css" />
    <link href="@(Links_Receiving.Content.themes.Start1_10_0.jquery_ui_css)" rel="stylesheet" type="text/css" />
    <script src="@Links_Receiving.Scripts.jquery_2_1_1_js"  type="text/javascript"></script>
    <script>$.uiBackCompat = false;</script>
    <script src="@Links_Receiving.Scripts.jquery_ui_1_10_0_js" type="text/javascript"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <div id="outer">
        <div id="header">
            <h1>
                @ViewBag.Title</h1>
            <h2>
                @ViewBag.Subtitle</h2>
        </div>
        <div id="menu">
            <ul>
                <li class="banner"><span>DCMS Connect - Receiving</span></li>
                <li><a href="@Url.Content("~")" >DCMS Connect Home</a></li>
                <li><a href="@Url.Action(MVC_Receiving.Receiving.Rad.Index())" >Configure Receiving</a></li>
                <li><a href="@Url.Action(MVC_Receiving.Receiving.Home.Tutorial())" >Tutorial</a></li>
                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <li>Welcome @ViewContext.HttpContext.User.Identity.Name</li>
                }
                @if (ViewContext.HttpContext.Trace.IsEnabled)
                {
                    <li><a href="@Url.Content("~/trace.axd")" target="trace" >Trace</a> </li>
                }
            </ul>
        </div>
        <div id="content">
            <div id="primaryContentContainer">
                <div id="primaryContent">
                    @RenderBody()
                </div>
            </div>
            <div id="secondaryContent">
                @if (HttpContext.Current.IsDebuggingEnabled && model1 != null)
                {
                    <div>
                        Debug Info:
                        @model1.QueryCount queries executed
                    </div>
                }
                @RenderSection("sidebar", false)
            </div>
            <div class="clear">
            </div>
        </div>
        <div id="footer">
            <p>
                Copyright &copy; 2013 Eclipse Systems <a href="http://www.eclsys.com" target="_blank">
                    http://www.eclsys.com</a></p>
        </div>
    </div>
</body>
</html>


<!--$Id$-->
