@*Inspired by http://line25.com/tutorials/design-and-code-a-cool-iphone-app-website-in-html5*@
@*@model DcmsMobile.Inquiry.ViewModels.InquiryViewModel*@
<!DOCTYPE html>
<html>
<head>
    <title>@*JQuery Mobile sets the title to the deader title*@</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
    <link rel="stylesheet" href="@Links_Receiving.Content.jquery_mobile_1_4_2_css" />
    <script src="@Links_Receiving.Scripts.jquery_2_0_3_js "></script>
    <script type="text/javascript">
        $(document).on("mobileinit", function () {
            //http://api.jquerymobile.com/global-config/
            $.mobile.ajaxEnabled = false;
            $.mobile.pushStateEnabled = false;
        });
    </script>
    <script src="@Links_Receiving.Scripts.jquery_mobile_1_4_2_js"></script>
    <style type="text/css">
        .validation-summary-errors {
            color: Red;
        }

        .ui-state-highlight {
            border: 1px solid #fcd113;
            background: #f8da4e;
            color: #915608;
        }
    </style>
    @RenderSection("scripts", false)
</head>
<body>
    <div data-role="page" id="mainpage">
        <header data-role="header">

            <div data-role="controlgroup" data-type="horizontal" class="ui-btn ui-mini ui-btn-left">
                <a href="@Url.Action(MVC_Receiving.Receiving.Home.Index())" class="ui-btn ui-icon-home ui-btn-icon-notext" data-transition="pop">.</a>
            </div>
            <h1>Receiving @ViewBag.Title</h1>
            <a href="#popupLayout" data-rel="popup" data-transition="slidedown" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-bars ui-btn-icon-notext ui-btn-a ui-btn-right">.</a>
        </header>

        <section data-role="content">
            <aside>
                @*<form action="Sharad" method="get" class="ui-field-contain">
                        <label>Search DCMS</label>
                        <input type="search" placeholder="Scan something" name="@MVC_Inquiry.Inquiry.Home.IndexParams.id" autofocus="autofocus" />
                    </form>*@
                @Html.StatusSummary()
                @Html.ValidationSummary()
            </aside>
            @RenderBody()
        </section>
        <div data-role="popup" id="popupLayout" data-theme="b" class="ui-mini">
            <ul data-role="listview" data-inset="true">
                <li><a href="@Url.Content(Links_Receiving.Areas.Receiving.Content.Guided_Receiving_pps)">Tutorial (PPT)</a></li>
                <li><a href="@(Url.Content("~/Logon"))">Login</a></li>
                <li data-icon="home"><a href="@Url.Content("~")">DCMS Connect</a></li>

                @if (ViewContext.HttpContext.Trace.IsEnabled)
                {
                    <li><a href="@Url.Content("~/trace.axd")" target="trace">Trace</a> </li>
                }
            </ul>
        </div>
        @*<div data-role="popup" id="searchlayout">
                <form action="@Url.Action(MVC_Inquiry.Inquiry.Home.Index())" method="get">
                    <label>Search DCMS</label>
                    <input type="search" placeholder="Scan something" name="@MVC_Inquiry.Inquiry.Home.IndexParams.id" autofocus="autofocus" />
                </form>
            </div>*@
    </div>
    @*Can add capability to render other pages here*@
</body>
</html>
