@model DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.IntransitShipmentListViewModel
@* Date Model biding explained in http://weblogs.asp.net/melvynharbour/archive/2008/11/21/mvc-modelbinder-and-localization.aspx*@

@using EclipseLibrary.Mvc.Helpers
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    //Html.EnableClientValidation();
    //Html.EnableUnobtrusiveJavaScript();
    ViewBag.Title = "Inbound Shipment Summary";

}
@section applinks{
    <li>
        @if (Model.Shipments.Count > 0)
        {
            <a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentListExcel(Model.Filters))">
                <span class="glyphicon glyphicon-export"></span> Excel
            </a>
        }
    </li>
    <li>
        <a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.InboundShipmentDetail())">Closed Shipment SKU</a>
    </li>

    <li class="divider"></li>
}

<div class="container" id="mypage">
    <h2 style="margin-top:0px;">
        @ViewBag.Title
    </h2>

    <span class="text-success h5">@Html.DisplayFor(m => m.Filters.DisplayFilters)</span>
    @if (Model.Filters.HasFilters)
    {
        <a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentList())" class="btn btn-link"><span class="glyphicon glyphicon-refresh"></span> Reset Filters</a>
    }


    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid  bg-info">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#filters">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand bg-success" href="#">
                    <span class="glyphicon glyphicon-filter"></span>

                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="filters">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @Html.DisplayFor(m => m.Filters.Source)
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            @if (Model.Filters.Source != DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentSourceType.Vendor)
                            {
                                <li>
                                    <a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentList(new DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentListFilterModel(Model.Filters)
                            {
                                Source = DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentSourceType.Vendor

                            }))">Vendor Shipments</a>
                                </li>
                            }
                            @if (Model.Filters.Source != DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentSourceType.Transfer)
                            {
                                <li>
                                    <a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentList(new DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentListFilterModel(Model.Filters)
                            {
                                Source = DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentSourceType.Transfer
                            }))">Transfer Shipments</a>
                                </li>
                            }
                            @if (Model.Filters.Source.HasValue)
                            {
                                <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentList(new DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentListFilterModel(Model.Filters)
                            {
                                Source = null
                            }))">All Shipment Types</a>
                                </li>
                            }
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @Html.DisplayFor(m => m.Filters.DisplayStatus) Shipments
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            @if (Model.Filters.Status != DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentStatusType.Open)
                            {
                                <li>
                                    <a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentList(new DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentListFilterModel(Model.Filters)
                            {
                                 Status = DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentStatusType.Open,

                            }))">Open Shipments</a>
                                </li>
                            }
                            @if (Model.Filters.Status != DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentStatusType.Closed)
                            {
                                <li>
                                    <a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentList(new DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentListFilterModel(Model.Filters)
                            {
                                 Status = DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentStatusType.Closed
                            }))">Closed Shipments</a>
                                </li>
                            }
                            <li class="divider"></li>
                            <li><a href="#datesPopup" data-toggle="modal">Shipment Close Dates...</a></li>
                        </ul>
                    </li>

                </ul>


                <form method="get" action="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentList())"
                      id="frmSewingPlant"
                      class="navbar-form navbar-left">
                    <input name="@Model.NameFor(m => m.Filters.Source)" type="hidden" value="@Model.Filters.Source" />
                    <input name="@Model.NameFor(m => m.Filters.Status)" type="hidden" value="@Model.Filters.Status" />
                    <input name="@Model.NameFor(m => m.Filters.MinClosedDate)" type="hidden" value="@Model.Filters.MinClosedDate" />
                    <input name="@Model.NameFor(m => m.Filters.MaxClosedDate)" type="hidden" value="@Model.Filters.MaxClosedDate" />
                    @Html.DropDownListFor(m => m.Filters.SewingPlantCode, Model.SewingPlantList, "Sewing Plant", new { @class = "form-control" })

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="@Model.NameFor(m => m.Filters.VariancesOnly)"
                                   value="true" id="cbVarianceOnly" @Html.Raw(Model.Filters.VariancesOnly ? "checked='checked'" : "") />   Variance Only
                        </label>
                    </div>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <ul class="list-group">

        <!--Start the main list  -->
        <li class="h4 list-group-item  list-group-item-info">
            <h4 class="list-group-item-heading">
                @Model.Shipments.Count Shipments
            </h4>
        </li>
        <li class="list-group-item list-group-item-success">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="list-group-item-heading">
                        Shipment
                        <small>
                            Sent to ERP
                        </small>
                    </h4>
                    <p class="list-group-item-text">
                        Sewing Palnt
                    </p>
                </div>
                <div class="col-md-3">
                    Recived Ctns of Expected Ctns <span class="label label-info">Variance</span>
                    <p class="list-group-item-text">
                        Recived Pcs of Expected Pcs <span class="label label-info">Variance</span>
                    </p>
                </div>
                <div class="col-md-5">
                    Recieved on
                    <span class="badge pull-right">Shipment Date</span>
                </div>
            </div>
        </li>
        @for (var j = 0; j < Model.Shipments.Count; ++j)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="list-group-item-heading">

                            <small>@(j + 1)</small><a href="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipment(Model.Shipments[j].ShipmentId))"> @Model.Shipments[j].ShipmentId</a>
                            <small>
                                @Html.DisplayFor(m => m.Shipments[j].ShipmentCloseDate)
                            </small>
                        </h4>
                        <p class="list-group-item-text">
                            @Html.DisplayFor(m => m.Shipments[j].SewingPlant)
                        </p>
                    </div>
                    <div class="col-md-3">
                        @Html.DisplayFor(m => m.Shipments[j].ReceivedCartonCount)
                        of @Html.DisplayFor(m => m.Shipments[j].ExpectedCartonCount)
                        <span class="label label-info">@Html.DisplayFor(m => Model.Shipments[j].TotalCartonVariance)</span>
                        <p class="list-group-item-text">
                            @Html.DisplayFor(m => m.Shipments[j].ReceivedPieces) of
                            @Html.DisplayFor(m => m.Shipments[j].ExpectedPieces)
                            <span class="label label-info">@Html.DisplayFor(m => m.Shipments[j].TotalPiecesVariance)</span>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <span class="badge pull-right">
                            @Html.DisplayFor(m => m.Shipments[j].ShipmentDate)
                        </span>
                        <span class="text-success">
                            @Html.DisplayFor(m => m.Shipments[j].DisplayReceivedDate)
                        </span>
                        @if (!string.IsNullOrEmpty(Model.Shipments[j].VarianceCommentsExcel))
                        {
                            <p class="list-group-item-text bg-info">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                @Html.DisplayFor(m => m.Shipments[j].VarianceCommentsExcel)
                            </p>
                        }

                    </div>

                </div>
            </li>

        }
        <!--main list closed-->
    </ul>

    <div class="modal fade" id="datesPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Shipment Close Dates</h4>
                </div>
                <form role="form" method="get" action="@Url.Action(MVC_Inquiry.Inquiry.IntransitEntity.IntransitShipmentList())">
                    <div class="modal-body">

                        <input name="@Model.NameFor(m => m.Filters.Source)" type="hidden" value="@Model.Filters.Source" />
                        <input name="@Model.NameFor(m => m.Filters.Status)" type="hidden" value="@DcmsMobile.Inquiry.Areas.Inquiry.IntransitEntity.ShipmentStatusType.Closed" />
                        <input name="@Model.NameFor(m => m.Filters.SewingPlantCode)" type="hidden" value="@Model.Filters.SewingPlantCode" />
                        <input name="@Model.NameFor(m => m.Filters.VariancesOnly)" type="hidden" value="@Model.Filters.VariancesOnly.ToString()" />
                        <div class="form-group">
                            <label>From</label>
                            <input name="@Model.NameFor(m => m.Filters.MinClosedDate)" type="date"
                                   placeholder="mm/dd/yyyy"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>To</label>
                            <input name="@Model.NameFor(m => m.Filters.MaxClosedDate)" type="date"
                                   placeholder="mm/dd/yyyy"
                                   class="form-control">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Apply
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section script {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#frmSewingPlant').on('change', 'select, input', function (e) {
                $('form#frmSewingPlant').submit();
            });
        });
    </script>
}
