@model DcmsMobile.MainArea.Home.LauncherViewModel
@{
    ViewBag.Title = "DCMS Connect Home";
}

@section script {
    <script type="text/javascript">
        var _rcBaseUrl = '@Model.UrlRcBase';
        var _rcItemsUrl = '@Url.Action(MVC_DcmsMobile.Home.RcItems(1))';
    </script>
    <script src="@Links_DcmsMobile.MainArea.Home.Index_js" type="text/javascript"></script>
}


@for (var i = 0; i < Model.Categories.Count; ++i)
{
    <div data-role="page" id="page_@Model.Categories[i].Id">
        <div data-role="content">
            <ul data-role="listview">
                @for (var j = 0; j < Model.Categories[i].MenuItems.Count; ++j)
                {
                    <li>
                        <a href="@Model.Categories[i].MenuItems[j].Url">
                            <h3><small>@Html.DisplayFor(m => m.Categories[i].MenuItems[j].ShortCut)</small> @Html.DisplayFor(m => m.Categories[i].MenuItems[j].Name)</h3>
                            <p>@Html.DisplayFor(m => m.Categories[i].MenuItems[j].Description)</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}

<div data-role="footer" data-position="fixed" data-theme="a" id="footermenu">
    <div data-role="navbar" id="navbarFixed">
        <ul>
            @for (var i = 0; i < Model.Categories.Count; ++i)
            {
                <li><a href="#page_@Model.Categories[i].Id" data-transition="flip">@Html.DisplayFor(m => m.Categories[i].Name)</a></li>
            }
        </ul>

    </div><!-- /navbar -->
</div><!-- /footer -->
