@model DcmsMobile.MainArea.Home.LauncherViewModel
@{
    ViewBag.Title = "DCMS Connect Home";
}

@section script {
    <script type="text/javascript">
        var _rcBaseUrl = '@Model.UrlRcBase';
        var _rcItemsUrl = '@Url.Action(MVC_DcmsMobile.Home.RcItems(1))';
    </script>
    <script src="@Links_DcmsMobile.MainArea.Home.Index_js" type="text/javascript"></script>
}
<div data-role="page" id="mainpage">
    <div data-role="content">
        <input type="search" id="searchInMenu" placeholder="Search in menu" data-theme="b" />
        <ol data-filter="true" id="menulist" data-input="#searchInMenu" data-role="listview" data-inset="true" data-filter-reveal="true" data-theme="b">
            @foreach (var item in Model.MenuItems.Where(p => p.SubMenu != null).SelectMany(p => p.SubMenu).Concat(Model.MenuItems))
            {
                <li data-filtertext="@item.ShortName;@item.Description">
                    <a href="@item.Url">
                        @if (item.IsMobileOptimized)
                        {
                            <img src="@Links_DcmsMobile.MainArea.Home.wifi_jpg" class="ui-li-icon" alt="Optimized for mobile screens" />
                        }
                        @item.Name
                    </a>
                </li>
            }
        </ol>

        <ul data-role="listview" data-inset="true" id="topmenu">
            @for (var i = 0; i < Model.MenuItems.Count; ++i)
            {
                <li>
                    @if (Model.MenuItems[i].IsMobileOptimized)
                    {
                        <img src="@Links_DcmsMobile.MainArea.Home.wifi_jpg" alt="Optimized for mobile screens" class="ui-li-icon" />
                    }
                    <div data-role="controlgroup" data-type="horizontal" class="ui-mini">

                        <a href="@Model.MenuItems[i].Url" class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right"><em>@Html.DisplayFor(m => m.MenuItems[i].ShortName)</em> @Html.DisplayFor(m => m.MenuItems[i].Name)</a>
                        @if (Model.MenuItems[i].SubMenu != null)
                        {
                            <a href="#@Model.MenuItems[i].PanelId" class="ui-btn ui-corner-all ui-icon-bullets ui-btn-icon-notext">More</a>
                        }
                        <a class="ui-btn ui-corner-all ui-btn-b ui-icon-carat-r ui-btn-icon-right" id="@Model.MenuItems[i].AreaName" style="display:none">Release Candidate</a>
                    </div>
                    <p>@Html.DisplayFor(m => m.MenuItems[i].Description)</p>
                </li>
            }
        </ul>



        <div data-role="navbar" id="rcNavBar" class="ui-mini">
            <a id="linkRc" data-role="button">
                Release Candidates
                <small>Contacting...</small>
            </a>
        </div>
    </div>
    @foreach (var item in Model.MenuItems.Where(p => p.SubMenu != null))
    {
        <div data-role="panel" id="@item.PanelId" data-display="overlay" data-position-fixed="true">
            <ol data-role="listview">
                @for (var j = 0; j < item.SubMenu.Count; ++j)
                {
                    <li>
                        <a href="@item.SubMenu[j].Url">
                            @if (item.SubMenu[j].IsMobileOptimized)
                            {
                                <img src="@Links_DcmsMobile.MainArea.Home.wifi_jpg" class="ui-li-icon" alt="Optimized for mobile screens" />
                            }
                            <p>@Html.DisplayFor(m => item.SubMenu[j].Name)</p>
                            <p><em>@Html.DisplayFor(m => item.SubMenu[j].ShortName)</em> @Html.DisplayFor(m => item.SubMenu[j].Description)</p>
                        </a>
                    </li>
                }
                <li data-icon="delete">
                    <a href="#mainpage" data-rel="close">Close</a>
                </li>
            </ol>
        </div><!-- /panel -->
    }
</div>
<div data-role="page" id="page_ship">
    <div data-role="content">
        <ul data-role="listview">
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_ApplyVasToBox")">Apply VAS to Boxes</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_ScanToPallet")">Scan To Pallet</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_MoveBoxPallet")">Move Pallet</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_RoutingSummary")">Customer Order Routing</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_Appointment")">Manage Appointment</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_ScanToTruck")">Scan To Truck</a></li>
            
            
        </ul>
    </div>
</div>

<div data-role="page" id="pick_page">
    <div data-role="content">
        <ul data-role="listview">
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_BoxPick")">Box Pick</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_PieceReplenish")">Piece Replenish</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_Restock")">Restock</a></li>
        </ul>
    </div>
</div>

<div data-role="page" id="page_inventory">
    <div data-role="content">
        <ul data-role="listview">
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_AbondonRework")">Abondon Rework</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_BulkUpdateCarton")">Bulk Update Carton</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_CartonEditor")">Carton Editor</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_CartonLocating")">Carton Locating</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_CartonToPallet")">Carton To Pallet</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_MarkReworkComplete")">Mark Rework Complete</a></li>
        </ul>
    </div>
</div>

<div data-role="page" id="page_order_processing">
    <div data-role="content">
        <ul data-role="listview">
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_ManagePickWave")">Manage PickWave</a></li>
            <li><a href="@Model.UrlOf(Url, "DcmsConnect_BoxPickPallet")">Create Box Pick Pallet</a></li>            
        </ul>
    </div>
</div>

<div data-role="footer" data-position="fixed" data-theme="a" id="footermenu">
    <div data-role="navbar" id="navbarFixed">
        <ul>
            <li><a href="#mainpage" data-transition="fade" class="ui-btn ui-btn-active">Home</a></li>
            <li><a href="#pick_page" data-transition="fade">Pick</a></li>
            <li><a href="#page_ship" data-transition="flip">Ship</a></li>
            <li><a href="page-c.html" data-transition="turn">Receive</a></li>
            <li><a href="#page_inventory" data-transition="flip">Inventory</a></li>
            <li><a href="#page_order_processing" data-transition="flip">Order Processing</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
