@model DcmsMobile.MainArea.Home.LauncherViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="@Links_DcmsMobile.Content.bootstrap_css" rel="stylesheet">

    <style type="text/css">
    </style>


</head>
<body>

    <div class="container">

        <ul class="nav nav-tabs nav-justified" role="tablist">
            @for (var i = 0; i < Model.Categories.Count; ++i)
            {
                <li class="@(i == 0 ? "active" : (string)null)"><a href="#@Model.Categories[i].Id" role="tab" data-toggle="tab">@Model.Categories[i].Name</a></li>
            }
        </ul>

        <div class="tab-content">

            @for (var i = 0; i < Model.Categories.Count; ++i)
            {
                <div class="tab-pane @(i == 0 ? "active" : "")" id="@Model.Categories[i].Id">
                    <div class="page-header">
                        <h3>@Html.DisplayFor(m => m.Categories[i].Description)</h3>
                    </div>

                    @for (var j = 0; j < Model.Categories[i].MenuItems.Count; j += 4)
                    {
                        <div class="row">
                            @for (var k = 0; k < 4 && (j + k) < Model.Categories[i].MenuItems.Count; ++k)
                            {
                                <div class="thumbnail col-md-3">
                                    <div class="caption">
                                        <h3>@Html.DisplayFor(m => m.Categories[i].MenuItems[j + k].Name)</h3>
                                        <p>@Html.DisplayFor(m => m.Categories[i].MenuItems[j + k].Description)</p>
                                        <p><a class="btn btn-primary" role="button" href="@Model.Categories[i].MenuItems[j + k].Url">@Html.DisplayFor(m => m.Categories[i].MenuItems[j + k].ShortCut) </a></p>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                </div>
            }
        </div>

        <footer>
            <p>&copy; Company 2014</p>
        </footer>

    </div><!--/.container-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Links_DcmsMobile.Scripts.jquery_2_1_1_js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Links_DcmsMobile.Scripts.bootstrap_js"></script>

    <script type="text/javascript">
    </script>
</body>
</html>
