@model DcmsMobile.MainArea.Home.LauncherViewModel
@{
    Layout = @MVC_DcmsMobile.SharedViews.Views._layoutBootstrap;
}


<div class="container">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        @for (var i = 0; i < Model.Categories.Count; ++i)
        {
            <li class="@(i == 0 ? "active" : (string)null)"><a href="#@Model.Categories[i].Id" role="tab" data-toggle="tab">@Model.Categories[i].Name</a></li>
        }
    </ul>

    <div class="tab-content">

        @for (var i = 0; i < Model.Categories.Count; ++i)
        {
            <div class="tab-pane @(i == 0 ? "active" : "")" id="@Model.Categories[i].Id">
                <div class="page-header">
                    <h3>@Html.DisplayFor(m => m.Categories[i].Description)</h3>
                </div>

                @for (var j = 0; j < Model.Categories[i].MenuItems.Count; j += 4)
                {
                    <div class="row">
                        @for (var k = 0; k < 4 && (j + k) < Model.Categories[i].MenuItems.Count; ++k)
                        {
                            <div class="thumbnail col-md-3">
                                <div class="caption">
                                    <h3>@Html.DisplayFor(m => m.Categories[i].MenuItems[j + k].Name)</h3>
                                    <p>@Html.DisplayFor(m => m.Categories[i].MenuItems[j + k].Description)</p>
                                    <p><a class="btn btn-primary" role="button" href="@Model.Categories[i].MenuItems[j + k].Url">@Html.DisplayFor(m => m.Categories[i].MenuItems[j + k].ShortCut) </a></p>
                                </div>
                            </div>
                        }
                    </div>
                }

            </div>
        }
    </div>

</div>

