<!--This document is HTML5 Validated by "W3C Markup Validation Service" at http://validator.w3.org/ on 15 Dec 2014 by apanwar-->
@model DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.WavePickslipsViewModel
<blockquote>
    <p>
        Pickslips of Wave @Html.DisplayFor(m => m.BucketId)
        @if (Model.UserIsManager && Model.IsFrozenBucket)
        {
            <a href="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.Index(customerId: Model.CustomerId, lastBucketId: Model.BucketId))">Add more Pickslips</a>
        }
    </p>
    <footer>Unpicked pickslips can be removed from frozen pick waves</footer>
</blockquote>

<ul class="list-group">
    <li class="list-group-item active">
        <div class="row">
            <div class="col-md-5">
                @if (Model.PickslipList.Count > 0)
                {
                    <button class="pull-left btn btn-default btn-xs" type="submit"
                            @(Model.UserIsManager ? "" : "disabled=disabled")>
                        Remove Pickslip
                    </button>
                }
                <h4 class="list-group-item-heading">
                    &nbsp;
                    Pickslip
                    <small>
                        Purchase Order
                    </small>
                    <span class="label label-default">
                        <abbr title="Virtual Wearhouse">VWH</abbr>
                    </span>
                </h4>
            </div>
            <div class="col-md-3">
                <small class="label label-info">
                    Customer DC
                    &bull; Store
                </small>
            </div>
            <div class="col-md-4">
                <div class="progress" style="margin-bottom:0">
                    <div style="width: @Model.TotalPercentPickedPieces%; overflow:visible; padding-left:1mm" class="progress-bar progress-bar-info">
                        <span style="white-space:nowrap" class="text-info">@Html.DisplayFor(m => m.TotalPickedPieces) of  @Html.DisplayFor(m => m.TotalOrderedPieces) Pieces picked <em>&bull;@Model.TotalPercentPickedPieces% picked</em></span>
                    </div>
                </div>
            </div>
        </div>
    </li>

    @for (var i = 0; i < Model.PickslipList.Count; ++i)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-5">
                    <h4 class="list-group-item-heading">
                        <small>@(i + 1)</small>
                        @if (Model.UserIsManager && Model.PickslipList[i].CurrentPieces == 0 && Model.IsFrozenBucket)
                        {
                            <input type="checkbox" />
                        }
                        else
                        {
                            <input type="checkbox" disabled title="Can't select because some pieces are pulled or picked or Wave is unfreeze.">
                        }
                        <a href='@Model.PickslipList[i].UrlInquiryPickslip' target="_inquiry"
                           class="pickslip">@Html.DisplayFor(m => m.PickslipList[i].PickslipId)</a>
                        <small>
                            <a href='@Model.PickslipList[i].UrlInquiryPurchaseOrder' target="_inquiry">@Html.DisplayFor(m => m.PickslipList[i].PurchaseOrder)</a>
                        </small>
                        <span class="label label-default">
                            @Html.DisplayFor(m => m.PickslipList[i].VwhId)
                        </span>
                    </h4>





                </div>
                <div class="col-md-3">
                    <small class="label label-info">
                        @Html.DisplayFor(m => m.PickslipList[i].CustomerDcId)
                        &bull;  @Html.DisplayFor(m => m.PickslipList[i].CustomerStoreId)
                    </small>
                </div>
                <div class="col-md-4">
                    @if (Model.PickslipList[i].CancelledBoxCount > 0)
                    {
                        <strong class="text-danger">
                            &bull; @Html.DisplayFor(m => m.PickslipList[i].CancelledBoxCount) Boxes cancelled
                        </strong>
                    }
                    <div class="progress" style="margin-bottom:0">
                        <div style="width:@Model.PickslipList[i].PercentCurrentPieces%; overflow:visible; padding-left:1mm" class="progress-bar progress-bar-info" title="@Html.DisplayFor(m => m.PickslipList[i].CurrentPieces) pieces in box">
                            <span style="white-space:nowrap" class="text-info">@Html.DisplayFor(m => m.PickslipList[i].CurrentPieces) of  @Html.DisplayFor(m => m.PickslipList[i].OrderedPieces) Pieces picked <em>&bull; @Model.PickslipList[i].PercentCurrentPieces% picked</em></span>
                        </div>
                    </div>
                </div>

                @*@if (Model.UserIsManager && Model.PickslipList[i].CurrentPieces == 0 && Model.IsFrozenBucket)
                {
                    <div class="col-md-1">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation" style="text-align:center">

                                    <span>Sure?</span>&nbsp;
                                    <button class="btn btn-primary" type="submit"
                                            data-pickslip-remove-url="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.RemovePickslipFromBucket
                                                         (Model.BucketId, Model.PickslipList[i].PickslipId))">
                                        Yes
                                    </button>
                                </li>

                            </ul>
                        </div>
                    </div>
                }*@
            </div>
        </li>
    }
</ul>
