<!--This document is HTML5 Validated by "W3C Markup Validation Service" at http://validator.w3.org/ on 15 Dec 2014 by apanwar-->
@model DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.IndexViewModel
@{
    ViewBag.Title = string.Format("Pick Waves - {0}:{1}", Model.CustomerId, Model.CustomerName);
    Layout = MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
    var obj = ViewBag.IsEditable;
    var isEditable = obj != null && (bool)obj;
}
@section applinks{

    <li title="This report will identify those SKUs which cannot be shipped due to insufficient inventory. It will also tell you which areas these SKUs can be pulled from.">
        <a href="@(string.Format("{0}?customer_id={1}", DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.IndexViewModel.InventoryShortageReportUrl, Model.CustomerId))"
           target="report">
            <span class="glyphicon glyphicon-new-window"></span> 130.28: Inventory Shortages
        </a>

    </li>
    <li title="This report will display all PO or Waves with no. of boxes for 23008 Customer.">
        <a href="@(string.Format("{0}?customer_id={1}", DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.IndexViewModel.UnshippedboxesReportUrl, Model.CustomerId))"
           target="report">
            <span class="glyphicon glyphicon-new-window"></span> 110.16: No. of Unshipped Boxes.
        </a>

    </li>
    <li class="divider">
    </li>
    <li title="Pick Waves to be created by Customer @Model.CustomerId: @Model.CustomerName">
        <a href="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.Index(Model.CustomerId))">
            Create Pick Waves of  @Model.CustomerName
        </a>
    </li>
    <li class="divider">
    </li>
}

@helper BucketListGroup(IList<DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.IndexBucketModel> list) {
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="list-group-item-heading">
                        <small>
                            <mark>
                                Priority
                            </mark>
                        </small> 
                        Bucket
                        <small>Name</small>

                    </h4>
                    <p class="list-group-item-text">
                        <em class="h6">Comment</em>
                    </p>
                </div>
                <div class="col-md-1">
                    <strong>
                        Pieces Ordered
                    </strong>
                </div>
                <div class="col-md-3">
                    <h4 class="list-group-item-heading">
                        <span class="label label-success">
                            Pickslips
                        </span>
                        &nbsp;
                        <span class="label label-info">
                            POs
                        </span>
                        &nbsp;
                        <span class="label label-default">
                            Pitch Limit
                        </span>
                    </h4>

                    <p class="list-group-item-text">
                        Created on
                        <small>
                            <em>
                                by User
                            </em>
                        </small>

                    </p>
                </div>
                <div class="col-md-3">
                    <div class="bg-info" title="Building: Area <-- ReplenishArea">
                        Pitching
                    </div>
                    <div class="bg-success" title="Building: Area">
                        Pulling
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="badge pull-right">
                        DC Cancel
                    </span>
                </div>
            </div>
        </li>
        @for (var i = 0; i < list.Count; ++i)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="list-group-item-heading">
                            <small>
                                @(i + 1)
                            <mark>
                                @Html.DisplayFor(m => list[i].Priority)
                            </mark>
                        </small>
                            <a title="Pick Wave details"
                               href="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.WavePickslips(list[i].BucketId))">
                                @Html.DisplayFor(m => list[i].BucketId)
                            </a>
                            <small>
                                @Html.DisplayFor(m => list[i].BucketName)
                            </small>
                        </h4>
                        <p class="list-group-item-text">
                            <em class="h6">@Html.DisplayFor(m => list[i].BucketComment)</em>
                        </p>
                    </div>
                    <div class="col-md-1">
                        <strong>
                            @Html.DisplayFor(m => list[i].OrderedPieces)
                        </strong>
                    </div>
                    <div class="col-md-3">
                        <h4 class="list-group-item-heading">
                            <span class="label label-success">
                                @Html.DisplayFor(m => list[i].PickslipCount)
                            </span>
                            &nbsp;
                            <span class="label label-info">
                                @Html.DisplayFor(m => list[i].PoCount)
                            </span>
                            &nbsp;
                            <span class="label label-default">
                                <em>@Html.DisplayFor(m => list[i].PitchLimit)</em>
                            </span>
                        </h4>

                        <p class="list-group-item-text">
                            @Html.DisplayFor(m => list[i].CreationDate)
                            <small>
                                <em>
                                    by @Html.DisplayFor(m => list[i].CreatedBy)
                                </em>
                            </small>
                        </p>
                    </div>
                    <div class="col-md-3">

                        @if (list[i].PitchAreaBuildingId.Count() > 0)
                        {
                            <div class="bg-info" title="@Html.DisplayFor(m => list[i].PitchAreaBuildingId): @Html.DisplayFor(m => list[i].PitchAreaDescription) ">

                                Pitching
                                <strong>
                                    @Html.DisplayFor(m => list[i].PitchAreaBuildingId):                                
                                        @Html.DisplayFor(m => list[i].PitchAreaShortName)
                                    &larr;  @Html.DisplayFor(m => list[i].ReplenishAreaId)
                                </strong>
                            </div>
                        }
                        @if (list[i].PullAreaBuildingId.Count() > 0)
                        {
                            <div class="bg-success" title="@Html.DisplayFor(m => list[i].PullAreaBuildingId): @Html.DisplayFor(m => list[i].PullAreaDescription)">

                                Pulling&nbsp;&nbsp;
                                <strong>

                                    @Html.DisplayFor(m => list[i].PullAreaBuildingId):
                                  @Html.DisplayFor(m => list[i].PullAreaShortName)
                                </strong>
                            </div>
                        }
                    </div>
                    <div class="col-md-2">
                        <span class="badge pull-right">
                            @Html.DisplayFor(m => list[i].DcCancelDateRange)
                        </span>
                    </div>
                </div>
            </li>
        }
    </ul>
}
<div class="container">
    @if (!string.IsNullOrWhiteSpace(Model.UserName))
    {
        <div class="alert alert-info">
            Showing Pick Waves created by @Model.UserName  @Html.ActionLink("Show all", MVC_PickWaves.PickWaves.ManageWaves.Index(Model.CustomerId, null))
        </div>
    }

    <h2 style="margin-top:0">
        @Html.DisplayFor(m => m.BucketCount) Pick Waves of
        <small>
            <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Customer(Model.CustomerId))"
               title="See other pick waves of this customer">@Model.CustomerId:@Model.CustomerName</a>
        </small>
    </h2>


    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs bg-info" role="tablist" style="margin-bottom:.5em">
            <li role="presentation" class="active">
                <a href="#frozen" aria-controls="home" role="tab" data-toggle="tab">Frozen <span class="badge">@Model.FrozenBuckets.Count</span></a>
            </li>
            <li role="presentation">
                <a href="#inProgress" aria-controls="profile" role="tab" data-toggle="tab">In Progress <span class="badge">@Model.InProgressBuckets.Count</span></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="frozen">
                @BucketListGroup(Model.FrozenBuckets)
            </div>
            <div role="tabpanel" class="tab-pane" id="inProgress">
                @BucketListGroup(Model.InProgressBuckets)
            </div>
         
        </div>
    </div>







</div>


@section script {
    <script src="@Links_PickWaves.Areas.PickWaves.SharedViews.BucketModel_js"></script>
}
















