<!--This document is HTML5 Validated by "W3C Markup Validation Service" at http://validator.w3.org/ on 15 Dec 2014 by apanwar-->
@model DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.IndexViewModel
@{
    ViewBag.Title = string.Format("{0} wave of {1}:{2}",Model.PickWaveState,Model.CustomerId,Model.CustomerName);
    Layout = MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
    var obj = ViewBag.IsEditable;
    var isEditable = obj != null && (bool)obj;
}
@section applinks{

    <li title="This report will identify those SKUs which cannot be shipped due to insufficient inventory. It will also tell you which areas these SKUs can be pulled from.">
        <a href="@(string.Format("{0}?customer_id={1}", DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.IndexViewModel.InventoryShortageReportUrl, Model.CustomerId))"
           target="report">
            <span class="glyphicon glyphicon-new-window"></span> 130.28: Inventory Shortages
        </a>

    </li>
<li title="This report will display all PO or Waves with no. of boxes for 23008 Customer.">
    <a href="@(string.Format("{0}?customer_id={1}", DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.IndexViewModel.UnshippedboxesReportUrl, Model.CustomerId))"
       target="report">
        <span class="glyphicon glyphicon-new-window"></span> 110.16: No. of unshipped boxes. 
    </a>

</li>
    <li class="divider">
    </li>
}
<div class="container">
    @if (!string.IsNullOrWhiteSpace(Model.UserName))
    {
        <div class="alert alert-info">
            Showing PickWave created by @Model.UserName  @Html.ActionLink("Show all", MVC_PickWaves.PickWaves.ManageWaves.Index(Model.CustomerId, null, Model.BucketState))
        </div>
    }
   
    <h2 style="margin-top:0">
       @Html.DisplayFor(m => m.BucketCount)  @Model.PickWaveState Pick Waves of
        <small>
            <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Search(Model.CustomerId))"
               title="See other pick waves of this customer">@Model.CustomerId: @Model.CustomerName</a>
        </small>
    </h2>

    <p>This list is order by priority and then DC Cancel Date</p>
    @if (Model.Buckets.Count > 0)
    {
        for (var i = 0; i < Model.Buckets.Count; ++i)
        {
            @Html.Partial(MVC_PickWaves.PickWaves.SharedViews.Views._bucketModelPartial, Model.Buckets[i], new ViewDataDictionary
                               {
                                   {"IsAuthorized", Model.UserIsManager}
                               })
        }
    }
    else
    {
        <div class="alert alert-info">@string.Format("No Pick Waves found for customer {0}", Model.CustomerId)</div>
    }
</div>


@section script {
    <script src="@Links_PickWaves.Areas.PickWaves.ManageWaves.Index_js"></script>

    @*<link type="text/css" href="@Links_PickWaves.Areas.PickWaves.ManageWaves.ManageWave_Index_css" rel="stylesheet" />*@
}
















