@model DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.IndexViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves2;
    var obj = ViewBag.IsEditable;
    var isEditable = obj != null && (bool)obj;
}
@section applinks{

    <li title="This report will identify those SKUs which cannot be shipped due to insufficient inventory. It will also tell you which areas these SKUs can be pulled from.">
        <a href="@(string.Format("{0}?customer_id={1}", DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.IndexViewModel.InventoryShortageReportUrl, Model.CustomerId))"
           target="report">
            <span class="glyphicon glyphicon-new-window"></span> 130.28: Inventory Shortages
        </a>

    </li>
    <li class="divider">
    </li>
}
<div class="container">
    @if (!string.IsNullOrWhiteSpace(Model.UserName))
    {
        <div class="alert alert-info">
            Showing PickWave created by @Model.UserName  @Html.ActionLink("Show all", MVC_PickWaves.PickWaves.ManageWaves.Index(new DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.IndexViewModel(Model.CustomerId, Model.BucketState, null)))
        </div>
    }
   
        <h2 style="margin-top:0px;">
            @Model.PageTitle
        </h2>

    <p>This list is order by priority and then DC Cancel Date</p>
    @if (Model.Buckets.Count > 0)
    {
        for (var i = 0; i < Model.Buckets.Count; ++i)
        {
            @Html.Partial(MVC_PickWaves.PickWaves.SharedViews.Views._bucketModelPartial, Model.Buckets[i], new ViewDataDictionary
                               {
                                   {"IsAuthorized", Model.UserIsManager}
                               })
        }
    }
    else
    {
        <div class="alert alert-info">@string.Format("No Pick Waves found for customer {0}", Model.CustomerId)</div>
    }
</div>
@Html.Partial(MVC_PickWaves.PickWaves.SharedViews.Views._bucketModelModalPartial);


@section script {
    <script src="@Links_PickWaves.Areas.PickWaves.ManageWaves.Index_js"></script>

    @*<link type="text/css" href="@Links_PickWaves.Areas.PickWaves.ManageWaves.ManageWave_Index_css" rel="stylesheet" />*@
}
















