@using DcmsMobile.PickWaves.Helpers
@model DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.WaveSkuListModel
@{
    ViewBag.Title = "Pick Wave # " + Model.Bucket.BucketId;
    Layout = MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}

@section applinks{
    <li title="This report display details of pick wave.">
        <a href="@(string.Format("{0}?bucket_id={1}", DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.ManageWavesController.BucketSummaryReportUrl, Model.Bucket.BucketId))" target="report">
            Report 140.02: Pick Wave Summary
        </a>
    </li>
    <li>
        <a href="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.Index(Model.Bucket.CustomerId, null))"
           title="See other Pick Waves of Customer @Model.Bucket.CustomerId: @Model.Bucket.CustomerName">Other Pick Waves of@Model.Bucket.CustomerName</a>
    </li>
    <li class="divider"></li>
}

@helper AlertType(int j)
{
    var activity = Model.Bucket.Activities.SingleOrDefault(p => p.AreaId == Model.AllAreas[j].AreaId);
    if (activity == null)
    {
        @:well well-sm
    }
    else
    {
        if (activity.ActivityType == BucketActivityType.Pulling)
        {
            @:alert alert-success
        }
        else
        {
            @:alert alert-info
        }
    }
}

<div class="container">

    <h2 style="margin-top:0">
        @ViewBag.Title
        <small>
            <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Customer(Model.Bucket.CustomerId))"
               title="See other pick waves of this customer">@Model.Bucket.CustomerId:@Model.Bucket.CustomerName</a>
        </small>
    </h2>

    <div role="tabpanel" style="margin-bottom:0.5em">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs bg-success" role="tablist">
            <li>
                <a href="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.WavePickslips(Model.Bucket.BucketId)) role=" tab">
                    Pickslips
                </a>

            </li>
            <li>
                <a href="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.WaveBoxes(Model.Bucket.BucketId))" role="tab">
                    Boxes
                </a>
            </li>
            <li class="active">
                <a role="tab">
                    SKUs
                </a>
            </li>
        </ul>
    </div>
    @Html.Partial(MVC_PickWaves.PickWaves.SharedViews.Views._bucketModelPartial, Model.Bucket, new ViewDataDictionary
                                   {
                                       {"IsAuthorized", Model.UserIsManager}
                                   })
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active">
            <blockquote>
                @string.Format("SKUs List of wave {0}", Model.Bucket.BucketId)
            </blockquote>


            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    <div class="row">
                        <div class="col-md-4">
                            <s>Ordered Pieces @Html.DisplayFor(m => m.TotalOrderedPieces)</s>
                            <h4>
                                SKU
                                <span class="label label-info">@Html.DisplayFor(m => m.TotalWeight) Weight</span>
                                <span class="label label-success"> @Html.DisplayFor(m => m.TotalVolume) Volume</span>
                                <abbr title="Virtual Warehouse">VWH</abbr>

                            </h4>
                            <div class="bg-info" style="display:inline-block; width:48%">
                                <em>Picked</em>  <span style="white-space:nowrap">@Html.DisplayFor(m => m.TotalPiecesPulled) of @Html.DisplayFor(m => m.TotalPullablePieces) Pieces;</span>
                                <span style="white-space:nowrap">x boxes</span>
                            </div>
                            <div class="bg-success text-center" style="display:inline-block; width:48%">
                                @Html.DisplayFor(m => m.TotalPiecesPulled) of @Html.DisplayFor(m => m.TotalPullablePieces) Pieces Pulled
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                @for (var i = 0; i < Model.AllAreas.Count; i++)
                                {
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                                        <div class="@AlertType(i)">

                                            <span class="pull-right">Pieces</span>
                                            <span style="white-space:nowrap">
                                                @Model.AllAreas[i].BuildingId-@Model.AllAreas[i].ShortName
                                            </span>
                                            @if (!string.IsNullOrEmpty(Model.AllAreas[i].ReplenishAreaId))
                                            {
                                                <small title="Replenish from @Model.AllAreas[i].ReplenishAreaId">
                                                    &larr;@Model.AllAreas[i].ReplenishAreaId
                                                </small>
                                            }


                                            <div class="label label-primary">
                                                Pieces @@ location
                                            </div>
                                        </div>

                                        @*<div class="alert @AlertType(j)">
                                        <div>
                                            <span class="pull-right" title="Total pieces at @Model.AllAreas[j].BuildingId-@Model.AllAreas[j].ShortName">
                                                @Html.DisplayFor(m => m.BucketSkuList[i].InventoryByArea[j].InventoryPieces)
                                            </span>
                                            @Model.AllAreas[j].BuildingId-@Model.AllAreas[j].ShortName
                                        </div>
                                        @if (!string.IsNullOrWhiteSpace(Model.BucketSkuList[i].InventoryByArea[j].BestLocationId))
                                        {
                                            <div class="label label-primary" title="Best Location with maximum number of pieces">
                                                @Html.DisplayFor(m => m.BucketSkuList[i].InventoryByArea[j].PiecesAtBestLocation)
                                                @Html.DisplayFor(m => m.BucketSkuList[i].InventoryByArea[j].BestLocationId)
                                            </div>
                                        }
                                    </div>*@

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </li>

                @for (var i = 0; i < Model.BucketSkuList.Count; ++i)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-5">
                                <h4>
                                    <small>@(i + 1)</small>
                                    @Html.DisplayFor(m => m.BucketSkuList[i].DisplaySku)
                                    <span class="label label-info">@Html.DisplayFor(m => m.BucketSkuList[i].Weight)</span>
                                    <span class="label label-success">@Html.DisplayFor(m => m.BucketSkuList[i].Volume)</span>
                                    @Html.DisplayFor(m => m.BucketSkuList[i].VwhId)
                                    <span class="badge">@Html.DisplayFor(m => m.BucketSkuList[i].OrderedPieces)</span>
                                </h4>


                                @if (Model.BucketSkuList[i].Activities.Count > 0)
                                {
                                    for (var j = 0; j < Model.BucketSkuList[i].Activities.Count; ++j)
                                    {
                                        <div class='alert alert-@Html.Raw(Model.BucketSkuList[i].Activities[j].ActivityType == BucketActivityType.Pulling ? "success" : "info")'>
                                            <div>
                                                @Html.DisplayFor(m => m.BucketSkuList[i].Activities[j].DisplayName)
                                                @Html.DisplayFor(m => m.BucketSkuList[i].Activities[j].PickingDateRange)
                                                <em>@Model.BucketSkuList[i].Activities[j].PercentPiecesComplete%</em>
                                            </div>
                                            <div class="progress" style="margin-bottom:0;text-align:center">
                                                <div style="width: @Model.BucketSkuList[i].Activities[j].PercentPiecesComplete%" class="progress-bar progress-bar-success">
                                                    <span style="white-space:nowrap">
                                                        @Html.DisplayFor(m => m.BucketSkuList[i].Activities[j].PiecesComplete)
                                                    </span>
                                                </div>
                                                @Html.DisplayFor(m => m.BucketSkuList[i].Activities[j].PiecesIncomplete)

                                            </div>
                                            @if (Model.BucketSkuList[i].Activities[j].UnderPickedPieces.HasValue || Model.BucketSkuList[i].Activities[j].CancelledPieces.HasValue)
                                            {
                                                <ul class="list-inline">
                                                    @if (Model.BucketSkuList[i].Activities[j].UnderPickedPieces.HasValue)
                                                    {
                                                        <li class="list-group-item list-group-item-danger"> @Html.DisplayFor(m => m.BucketSkuList[i].Activities[j].UnderPickedPieces) Under picked</li>
                                                    }
                                                    @if (Model.BucketSkuList[i].Activities[j].CancelledPieces.HasValue)
                                                    {
                                                        <li class="list-group-item list-group-item-danger">@Html.DisplayFor(m => m.BucketSkuList[i].Activities[j].CancelledPieces) Cancelled</li>
                                                    }
                                                </ul>
                                            }
                                        </div>

                                    }
                                }
                                else
                                {
                                    <div class='alert alert-warning'>
                                        Not picked or pulled yet
                                    </div>
                                }
                            </div>

                            <div class="col-md-7">

                                @{
                    var hasInventory = false;
                                }
                                <div class="row">
                                    @for (var j = 0; j < Model.AllAreas.Count; ++j)
                                    {
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            @if (Model.BucketSkuList[i].InventoryByArea != null && Model.BucketSkuList[i].InventoryByArea[j].InventoryPieces != null)
                                            {
                                                hasInventory = true;


                                                <div class="@AlertType(j)">
                                                    <div>
                                                        <span class="pull-right" title="Total pieces at @Model.AllAreas[j].BuildingId-@Model.AllAreas[j].ShortName">
                                                            @Html.DisplayFor(m => m.BucketSkuList[i].InventoryByArea[j].InventoryPieces)
                                                        </span>
                                                        @Model.AllAreas[j].BuildingId-@Model.AllAreas[j].ShortName
                                                    </div>
                                                    @if (!string.IsNullOrWhiteSpace(Model.BucketSkuList[i].InventoryByArea[j].BestLocationId))
                                                    {
                                                        <div class="label label-primary" title="Best Location with maximum number of pieces">
                                                            @Html.DisplayFor(m => m.BucketSkuList[i].InventoryByArea[j].PiecesAtBestLocation)
                                                            @Html.DisplayFor(m => m.BucketSkuList[i].InventoryByArea[j].BestLocationId)
                                                        </div>
                                                    }
                                                </div>

                                            }
                                        </div>

                                    }
                                    @if (!hasInventory)
                                    {
                                        <div class="col-md-12">
                                            <div class="alert alert-danger text-center">
                                                No Inventory
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>


                        </div>

                    </li>
                }
            </ul>



        </div>



    </div>




</div>


@section script {
    <script src="@Links_PickWaves.Areas.PickWaves.SharedViews.BucketModel_js"></script>
}




