@model DcmsMobile.PalletLocating.ViewModels.ViewModelBase
<!DOCTYPE html>
<!--
    Design by Free CSS Templates
    http://www.freecsstemplates.org
    Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="@Links_PalletLocating.Areas.PalletLocating.Content.PalletLocating_all_css" rel="stylesheet" type="text/css" />
    <link href="@Links_PalletLocating.Content.themes.Start1_10_0.jquery_ui_css" rel="stylesheet" type="text/css" />
    <script src="@Links_PalletLocating.Scripts.jquery_2_1_1_js"  type="text/javascript"></script>
    <script src="@Links_PalletLocating.Scripts.jquery_ui_1_10_0_js" type="text/javascript"></script>
</head>
<body>
    <div id="outer">
        <div id="header">
            @*<h1>
                @ViewBag.Title</h1>*@ @*<h2>
                @ViewBag.Subtitle</h2>*@
        </div>
        <div id="menu">
            <ul>
                <li class="banner"><span>DCMS Connect - Pallet Locating</span></li>
                <li><a href="@Url.Content("~")" >DCMS Connect Home</a></li>
                <li><a href="@Url.Content(Links_PalletLocating.Areas.PalletLocating.Content.Specifications_htm)" target="_blank">Documentation</a></li>
                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <li>@PalletLocatingResource.Welcome @ViewContext.HttpContext.User.Identity.Name</li>
                }
                @if (ViewContext.HttpContext.Trace.IsEnabled)
                {
                    <li><a href="@Url.Content("~/trace.axd")" target="trace" >Trace</a> </li>
                }
            </ul>
        </div>
        <div id="content">
            <div id="primaryContentContainer">
                <div id="primaryContent">
                    @if (Model != null)
                    {
                        @Html.Partial(MVC_PalletLocating.PalletLocating.Shared.Views._soundPartial, Model.Sound)
                    }
                    @RenderBody()
                    @if (HttpContext.Current.IsDebuggingEnabled)
                    {
                        <div class="ui-state-highlight" style="font-size: 1.4em">
                            Debug Info: @Model.QueryCount Queries executed</div>
                    }
                </div>
            </div>
            <div id="secondaryContent">
@*                <a href="@Url.Action(MVC_PalletLocating.PalletLocating.Home.Building())">Mobile
                    View</a>*@
                @RenderSection("sidebar", false)
            </div>
            <div class="clear">
            </div>
        </div>
        <div id="footer">
            <p>
                Copyright &copy; 2011 Eclipse Systems <a href="http://www.eclsys.com" target="_blank">
                    http://www.eclsys.com</a></p>
        </div>
    </div>
    @*    <script src="@Links.PalletLocating.Scripts.jquery_js"  type="text/javascript"></script>
    <script src="@Links.PalletLocating.Scripts.jquery_ui_js" type="text/javascript"></script>*@
    @RenderSection("scripts", false)
    <script type="text/javascript">
        var input = document.getElementById('scan');
        if (input) {
            input.focus();
        }
    </script>
</body>
</html>
@*
    $Id$ 
    $Revision$
    $URL$
    $Header$
    $Author$
    $Date$
*@