@*Inspired by http://line25.com/tutorials/design-and-code-a-cool-iphone-app-website-in-html5*@
@{
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutBootstrap;
}

@section areatitle {
<ul class="nav navbar-nav">
    <li>
        <div class="btn-group navbar-btn navbar-left">
            <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Index())" class="btn" style="background:none;border:hidden">
                <span class="glyphicon glyphicon-th-large"></span>  Pick Waves
            </a>
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" >
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                @RenderSection("areatitle", false)
                @*<li><a href="@Url.Action(MVC_Receiving.Receiving.Home.CreateProcess())">Receive New Shipment</a></li>
                <li><a href="@Url.Action(MVC_Receiving.Receiving.Home.ShipmentList())">Manage Open Shipments</a></li>
                <li><a href="@Url.Action(MVC_Receiving.Receiving.Rad.Index())">Spotcheck Settings</a></li>*@
            </ul>
        </div>
    </li>
</ul>

}

@section script {
    @RenderSection("script", false)
}
@RenderBody()