@model DcmsMobile.DcmsLite.ViewModels.Ship.IndexViewModel

@{
    ViewBag.Title = "Ship";
}

<div>

    <table>
        <caption>
            @Model.PoList.Select(p => p.CustomerId).FirstOrDefault() :
            @Model.PoList.Select(p => p.CustomerName).FirstOrDefault()
        </caption>
        <thead>
            <tr>
                <th>#</th>
                <th>
                    DC
                </th>
                <th>
                    PO
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    Pieces
                </th>
                <th>
                    #Boxes
                </th>
                <th>
                    Wave
                </th>
                <th>
                    Building
                </th>
                <th>
                    DcCancelDate
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.PoList.Count; ++i)
            {
                <tr class="@(i % 2 == 0 ? "rowA" : "rowB")">
                    <td>
                        @(i + 1)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.PoList[i].CustomerDcId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.PoList[i].PoId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.PoList[i].StartDate)
                    </td>
                    <td>
                        <span>
                            @Html.DisplayFor(m => m.PoList[i].PickedPieces) of @Html.DisplayFor(m => m.PoList[i].PiecesOrdered)
                            Picked
                        </span>
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.PoList[i].NumberOfBoxes)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.PoList[i].BucketId)
                    </td>

                    <td>
                        @Html.DisplayFor(m => m.PoList[i].BuildingId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.PoList[i].MinDcCancelDate)
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>
