@model DcmsMobile.DcmsLite.ViewModels.Ship.IndexViewModel

@{
    ViewBag.Title = "Ship";
}
@section sidebar {
    <div class="box boxB">
        <div class="boxContent">
            @Html.ActionLink("DCMS Lite Home", MVC_DcmsLite.DcmsLite.Home.Index())
        </div>
    </div>
}
<div class="box">
    @using (Html.BeginForm(MVC_DcmsLite.DcmsLite.Ship.SearchCustomer(), FormMethod.Post))
    {
        <strong style="font-size: 1.8em">Search Customer</strong>
        <input id="tbScanBox" name="@MVC_DcmsLite.DcmsLite.Ship.SearchCustomerParams.customerId" size="30" style="font-size:2em;" />
        <input type="submit" value="Search" style="font-size: 1.5em" />
    }
</div>
<div class="boxContent">
    @if (Model.PoList.Count > 0)
    {
        using (Html.BeginForm(MVC_DcmsLite.DcmsLite.Ship.CreateBol(), FormMethod.Post))
        {
            <table>
                <caption>
                    @Model.PoList.Select(p => p.CustomerId).FirstOrDefault() :
                    @Model.PoList.Select(p => p.CustomerName).FirstOrDefault()
                    <input type="submit" value="Create BOL" />
                </caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            DC
                        </th>
                        <th>
                            PO
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            Pieces
                        </th>
                        <th>
                            #Boxes
                        </th>
                        <th>
                            Wave
                        </th>
                        <th>
                            Building
                        </th>
                        <th>
                            DcCancelDate
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    @for (var i = 0; i < Model.PoList.Count; ++i)
                    {
                        <tr class="@(i % 2 == 0 ? "rowA" : "rowB")">
                            <td>
                                @(i + 1)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.PoList[i].CustomerDcId)
                            </td>
                            <td>
                                <input type="checkbox" name="@Model.NameFor(m => m.SelectedKeys)" value="@Model.PoList[i].Key" />
                                @Html.DisplayFor(m => m.PoList[i].PoId)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.PoList[i].StartDate)
                            </td>
                            <td>
                                <span>
                                    @Html.DisplayFor(m => m.PoList[i].PickedPieces) of @Html.DisplayFor(m => m.PoList[i].PiecesOrdered)
                                    Picked
                                </span>
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.PoList[i].NumberOfBoxes)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.PoList[i].BucketId)
                            </td>

                            <td>
                                @Html.DisplayFor(m => m.PoList[i].BuildingId)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.PoList[i].MinDcCancelDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <span>Please enter the Customer you want to creating BOL</span>
    }

</div>
@section scripts{
    <style type="text/css">
        .ui-selected {
            background-color: rgb(243,152,20) !important;
        }

        .ui-selectee {
            cursor: crosshair;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbScanBox').focus();
            $('input[type=submit]').button();
        }); $(function () {
            $.widget("ui.selectable", $.ui.selectable, {
                _mouseStart: function (event) {
                    event.ctrlKey = true;
                    this._super(event);
                },
                _mouseDrag: function (event) {
                    event.ctrlKey = true;
                    this._super(event);
                },
                _mouseStop: function (event) {
                    // Do not let the base class select items which were already selected. Instead, we want to unselect them.
                    event.ctrlKey = true;
                    this._super(event);
                },
                _trigger: function (type, event, ui) {
                    if (type == 'selecting') {
                        $(ui.selecting).addClass('ui-selected');
                    }
                    this._super(type, event, ui);
                }
            });
        }); $('.tbody').selectable({
            filter: 'tr',
            stop: function (event, ui) {
                $('tr', this).each(function () {
                    //Check the hidden check boxes for each row selected by user.
                    if ($(this).is('.ui-selected')) {
                        $('input:checkbox', this).attr('checked', 'checked');
                    } else {
                        $('input:checkbox', this).removeAttr('checked');
                    }
                });
            }
        }) </script>
}
