@model  DcmsMobile.Inquiry.Areas.Inquiry.ShipmentEntity.ParentShipmentListViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    ViewBag.Title = "Bill of Ladings";
}

<div class="container">
   
        <h2 style="margin-top:0px">
            @ViewBag.Title

        </h2>
  
    <p>This is the list of BOLs</p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">
            <span class="badge pull-right">Cartons</span>
            <h4 class="list-group-item-heading">
               BOL
                <small>
                    Carrier
                </small>
            </h4>
                Customer
        </li>

        @for (var i = 0; i < Model.ParentShipmentList.Count; i++)
        {
            <li class="list-group-item">
                <span class="badge pull-right">@Html.DisplayFor(m => m.ParentShipmentList[i].BoxCount)</span>
                <h4 class="list-group-item-heading">
                    <small>@(i+1)</small>
                    @Html.ActionLink(Model.ParentShipmentList[i].ParentShippingId,MVC_Inquiry.Inquiry.ShipmentEntity.OutboundShipment(Model.ParentShipmentList[i].ParentShippingId))
                    <small>
                        @if (Model.ParentShipmentList[i].StatusShippedDate.HasValue)
                        {
                            <small class="label label-success">Shipped @Html.DisplayFor(m => m.ParentShipmentList[i].ShippingDate)</small>

                        }
                        via
                        @Html.DisplayFor(m => m.ParentShipmentList[i].CarrierId): @Html.DisplayFor(m => m.ParentShipmentList[i].CarrierName)
                    </small>
                </h4>
                <a class="list-group-item-text text-info" href="@Url.Action(MVC_Inquiry.Inquiry.CustomerEntity.Customer(Model.ParentShipmentList[i].CustomerID))">
                    Customer @Html.DisplayFor(m => m.ParentShipmentList[i].CustomerID): @Html.DisplayFor(m => m.ParentShipmentList[i].CustomerName)
                    <strong class="pull-right text-success"> @Html.DisplayFor(m => m.ParentShipmentList[i].MBolID)</strong>

                </a>
            </li>
        }
    </ul>
</div>