@model DcmsMobile.PieceReplenish.ViewModels.CartonViewModel
@{
    ViewBag.Title = "Carton - " + Model.Context.BuildingId + " : " + Model.Context.CartonAreaId + " => " + Model.Context.RestockAreaId;
    var i = 0;
    var tbAttr = new Dictionary<string, object>
    {
        {"id", "scan"},
        {"style", "text-transform: uppercase"},
        {"onkeypress", "return RedirectToChoice(this)"}
    };
    if (!Model.IsPuller)
    {
        // Disable the text box
        tbAttr.Add("disabled", "disabled");
    }
}
@using (Html.BeginForm(MVC_PieceReplenish.PieceReplenish.Home.PullCarton(), FormMethod.Post))
{
    @Html.ValidationSummary()
    <span style="font-size: 0.8em">@Html.StatusSummary()
    </span>
    <span>Scan</span>@Html.TextBoxFor(m => m.CartonId, tbAttr)
    <span>Aisle <strong>@Html.DisplayFor(m => m.RestockAisleId)</strong></span>
    <input type="hidden" name="@Html.NameFor(m => m.PalletId)" value='@Model.PalletId' />
    <input type="hidden" name="@Html.NameFor(m => m.Context.Serialized)" value='@Model.Context.Serialized' />
    <input type="hidden" name="@Html.NameFor(m => m.RestockAisleId)" value='@Model.RestockAisleId' />
}
<div>
    <strong>@Html.DisplayFor(m => m.CountCartonsOnPallet)</strong> crtn on Pallet <strong>@Html.DisplayFor(m => m.PalletId)</strong>.
        <span style="font-size: 0.8em;">Season code <strong>@Html.DisplayFor(m => m.PriceSeasonCode)</strong></span>
</div>
<span style="font-size: 0.8em;" class="ui-state-active">To skip carton, enter its sequence.</span>

@if (Model.CartonList.Any())
{
    <table>
        <thead>
            <tr>
                <th>#
                </th>
                <th>Location
                </th>
                <th>Carton
                </th>
                <th>SKU
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartonList)
            {
                ++i;
                <tr class="@(i == 1 ? "ui-state-highlight" : (i % 2 == 1 ? "rowA" : "rowB"))">
                    <td style="text-align: right">
                        <a id="choice_@(i)" href="@Url.Action(MVC_PieceReplenish.PieceReplenish.Home.SkipCarton(Model.Context.Serialized, Model.PalletId, item.LocationId, item.CartonId))">
                            @(i)
                        </a>
                    </td>
                    <td>
                        @if (item.SkuReplenishmentPriority.HasValue)
                        {
                            <span style="color: red; display: inline-block; font-weight: bold; font-size: medium;">&#33;</span>
                        }
                        <span @Html.Raw(i == 1 ? "style='font-weight: bold;font-size: 1.05em;'" : "style='font-weight: normal'")>
                            @item.LocationId
                        </span>
                    </td>
                    <td>
                        @item.CartonId
                    </td>
                    <td>
                        @item.SkuInCarton
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script src="@Links_PieceReplenish.Areas.PieceReplenish.Scripts.RedirectToChoice_js" type="text/javascript"></script>
@*
    $Id: Carton.mobile.cshtml 17725 2012-07-26 08:18:57Z bkumar $ 
    $Revision: 17725 $
    $URL: svn://vcs/net4/Projects/Mvc/DcmsMobile.Pull/trunk/Pull/Areas/PieceReplenish/Views/Home/Carton.mobile.cshtml $
    $Header: svn://vcs/net4/Projects/Mvc/DcmsMobile.Pull/trunk/Pull/Areas/PieceReplenish/Views/Home/Carton.mobile.cshtml 17725 2012-07-26 08:18:57Z bkumar $
    $Author: bkumar $
    $Date: 2012-07-26 13:48:57 +0530 (Thu, 26 Jul 2012) $
*@ 