@model DcmsMobile.PieceReplenish.ViewModels.SkipCartonViewModel
@{
    ViewBag.Title = "Confirm Skip Crtn " + Model.CartonId;
}
<div class="ui-state-highlight">
    @Html.DisplayFor(m => m.CountCartonsOnPallet) Cartons on Pallet @Html.DisplayFor(m => m.PalletId)
</div>
<div>
    @using (Html.BeginForm(MVC_PieceReplenish.PieceReplenish.Home.MoveCartonToSuspense(), FormMethod.Post))
    {
        @Html.ValidationSummary()
        <span style="font-size: 0.8em">@Html.StatusSummary()
        </span>
        <span style="font-size: 0.8em;">Why are you skipping Crtn @Model.CartonId ?</span>
        @Html.TextBoxFor(m => m.Choice, new { id = "scan", style = "text-transform: uppercase", maxlength = 1, size = 2 })
        <input type="hidden" name="@Html.NameFor(m => m.PalletId)" value='@Model.PalletId' />
        <input type="hidden" name="@Html.NameFor(m => m.Context.Serialized)" value='@Model.Context.Serialized' />
        <input type="hidden" name="@Html.NameFor(m => m.SourceLocationId)" value='@Model.SourceLocationId' />
        <input type="hidden" name="@Html.NameFor(m => m.CartonId)" value='@Model.CartonId' />
    }
    <ol style="padding-left: 2em;">
        <li>Carton is not at Location @Model.SourceLocationId. Send it to suspense. </li>
        <li>I just don't want to pull it. Remove it from my list of suggestions. </li>
    </ol>
</div>
<script src="@Links_PieceReplenish.Areas.PieceReplenish.Scripts.PieceReplenish_js" type="text/javascript"></script>
@*
    $Id$ 
    $Revision$
    $URL$
    $Header$
    $Author$
    $Date$
*@ 