@model DcmsMobile.Inquiry.Areas.Inquiry.SkuEntity.SkuListViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    ViewBag.Title = "SKUs";
}



<div class="container">
    <h2 style="margin-top:0px">
        @ViewBag.Title
    </h2>
    
    <p>This is a list of some recently orderd SKUs</p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            <form action="@Url.Action(MVC_Inquiry.Inquiry.SkuEntity.Sku())" method="get">
                <div class="input-group">
                    <input id="tbSkuId" placeholder="Search SKU"
                           class="form-control typeahead" />
                    <span class="input-group-btn">
                        <span class="btn btn-default"><span class="glyphicon glyphicon-search"></span></span>
                    </span>
                </div>
                <input type="hidden" name="@MVC_Inquiry.Inquiry.SkuEntity.SkuParams.id" id="hfSkuId" />
            </form>
        </li>
        <li class="list-group-item list-group-item-success">
            <span class="badge pull-right">Order Date</span>
            <h4 class="list-group-item-heading">
                UPC
                <small>SKU</small>
            </h4>
        </li>
        @for (var i = 0; i < Model.SkuList.Count; ++i)
        {

            <li class="list-group-item">
                <span class="badge pull-right"> @Html.DisplayFor(m => m.SkuList[i].PickslipOrderDate)</span>
                <h4 class="list-group-item-heading">
                    <small>@(i+1)</small>
                    <a href="@Url.Action(MVC_Inquiry.Inquiry.SkuEntity.Sku(Model.SkuList[i].sku_id))">@Html.DisplayFor(m => m.SkuList[i].Upc)</a>
                    <small>@Html.DisplayFor(m => m.SkuList[i].DisplaySku)</small>
                </h4>
            </li>
        }
    </ul>
</div>
@section script {
    <link href="@Links_Inquiry.Areas.Inquiry.SharedViews.typeahead_css" rel="stylesheet" />
    <script type="text/javascript">
        var _autocompleteUrl = '@Url.Action(MVC_Inquiry.Inquiry.SkuEntity.SkuAutocomplete("~"))';
    </script>

    <script src="@Links_Inquiry.Areas.Inquiry.SkuEntity.SkuList_js"></script>
}