@model DcmsMobile.Inquiry.Areas.Inquiry.SkuEntity.StyleViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    ViewBag.Title = string.Format("Style {0}", Model.StyleId);
}
<div class="container">
    
    <h2 style="margin-top:0px">
        @string.Format("Style {0}", Model.StyleId)
        <small>
            @Html.DisplayFor(m => m.Description)

          
                &bull; &nbsp;Label
                @if (!string.IsNullOrEmpty(Model.LabelId))
                {

                    @Html.ActionLink(Model.LabelId, MVC_Inquiry.Inquiry.SkuEntity.Label(Model.LabelId))
                }
                else
                {
                    <span>@Html.DisplayFor(m => m.LabelId)</span>
                }
            
        </small>
    </h2>


        @if (Model.CountryOfOrigins.Count() > 0)
        {


            <ul class="list-group">
                @if (Model.CountryOfOrigins.Any(c => c.CountryId != ""))
                {

                    <li class="list-group-item active">Countries of origin</li>
                    foreach (var item in Model.CountryOfOrigins)
                    {
                        <li class="list-group-item">
                            @item.CountColors color <em>from</em> @if (!string.IsNullOrEmpty(@item.CountryId))
                            {
                                @item.CountryId
                                <em>[@item.CountryName]</em>
                            }
                            else
                            {
                                @:Unknown
                        }
                        </li>
                    }
                }
            </ul>
        }
</div>



@*<div data-role="page">
        <div data-role="header">
            <h1>@string.Format("Style {0}", Model.StyleId)</h1>
        </div>
        <div class="ui-content">
            <ul data-role="listview" data-inset="true">
                <li data-role="list-divider">
                    Style @Html.DisplayFor(m => m.StyleId)
                </li>
                <li class="ui-field-contain">
                    <label>Description</label>
                    @Html.DisplayFor(m => m.Description)
                </li>
                <li class="ui-field-contain">
                    <label>Label</label>
                    @if (!string.IsNullOrEmpty(Model.LabelId))
            {

                        @Html.ActionLink(Model.LabelId, MVC_Inquiry.Inquiry.SkuEntity.Label(Model.LabelId))
            }
            else
            {
                        <span>@Html.DisplayFor(m => m.LabelId)</span>
            }
                </li>
                @if (Model.CountryOfOrigins.Count() > 0)
        {
                    <li data-role="list-divider">Countries of origin :</li>

            if (Model.CountryOfOrigins.Any(c => c.CountryId != ""))
            {
                foreach (var item in Model.CountryOfOrigins)
                {
                    <li>
                        @item.CountColors color from @if (!string.IsNullOrEmpty(@item.CountryId))
                        {
                            @item.CountryId
                            <em>[@item.CountryName]</em>
                        }
                        else
                        {
                            <text>Unknown</text>
                        }
                    </li>
                }
            }

        }
            </ul>
        </div>
    </div>*@
