@model DcmsMobile.PalletLocating.ViewModels.PalletViewModel
@using (Html.BeginForm(MVC_PalletLocating.PalletLocating.Home.Location(), FormMethod.Get))
{
    @Html.HiddenFor(m => m.AreaId)
    @Html.HiddenFor(m => m.BuildingId)
    if (!string.IsNullOrEmpty(Model.ReplenishmentAreaId))
    {
    @Html.HiddenFor(m => m.ReplenishmentAreaId)
    }
    <div>
        <strong>Scan Pallet/Carton</strong>
        <input id="scan" style="text-transform: uppercase" type="text" name="@Html.NameFor(m => m.PalletOrCartonId)" />
        <input id="lastScan" name="@Html.NameFor(m => m.LastScan)" type="hidden" value="@Model.LastScan"/>
        @Html.StatusSummary()
        @Html.ValidationSummary()
    </div>
}
@*
    $Id$ 
    $Revision$
    $URL$
    $Header$
    $Author$
    $Date$
*@