@using DcmsMobile.PickWaves.ViewModels.Config
@model ConstraintModel
@if (Model.MaxSkuWithinBox != null)
{ 
    <div>
        <span style="display: inline-block; width: 25em">@Html.LabelFor(m => m.MaxSkuWithinBox)</span>
        <span>@Html.DisplayFor(m => m.MaxSkuWithinBox)</span>
    </div>
    <br />
}

@if (Model.MaxBoxWeight != null)
{
    <div>
        <span style="display: inline-block; width: 25em">@Html.LabelFor(m => m.MaxBoxWeight)</span>
        <span>@Html.DisplayFor(m => m.MaxBoxWeight) lbs</span>
    </div>    <br />
}
@if (Model.RequiredMinSkuPieces != null)
{
    <div>
        <span style="display: inline-block; width: 25em">@Html.LabelFor(m => m.RequiredMinSkuPieces)</span>
        <span>@Html.DisplayFor(m => m.RequiredMinSkuPieces)</span>
    </div>    <br />
}

@if (Model.RequiredMaxSkuPieces != null)
{
    <div>
        <span style="display: inline-block; width: 25em">@Html.LabelFor(m => m.RequiredMaxSkuPieces)</span>
        <span>@Html.DisplayFor(m => m.RequiredMaxSkuPieces)</span>
    </div>    <br />
}
@if (Model.IsSingleStyleColor)
{
    <div>
        <span style="display: inline-block; width: 25em">@Html.LabelFor(m => m.IsSingleStyleColor)</span>
    </div>    
}
