@{    
    ViewBag.Title = "Shipping";
}
<ol>
    <li>
        @Html.ActionLink("Routing Summary", MVC_Shipping.Shipping.Home.RoutingSummaryAll()). View the routing status of all open orders.
        <ol style="list-style-type:lower-alpha">
            <li>@Html.ActionLink("Unrouted", MVC_Shipping.Shipping.Home.Unrouted()). View a list of unrouted orders.</li>
            <li>@Html.ActionLink("Routing Orders", MVC_Shipping.Shipping.Home.Routing()). View a list of orders for which ATS date has been specified.</li>
            <li>@Html.ActionLink("Routed Orders", MVC_Shipping.Shipping.Home.Routed()). View a list of orders for which load has been specified.</li>
            <li>@Html.ActionLink("Bill of Ladings", MVC_Shipping.Shipping.Home.Bol()). View a list of orders for which BOL has been created.</li>
        </ol>
    </li>
    <li>
        @Html.ActionLink("Manage Appointments",MVC_Shipping.Shipping.Home.AllAppointments())
    </li>
    <li>
    @Html.ActionLink("Scan To Truck",MVC_Shipping.Shipping.ScanToTruck.Index())
    </li>
</ol>
@section scripts {
   <script src="@Links_Shipping.Areas.Shipping.Home.Scripts.Index_desktop_js" type="text/javascript"></script>
}