@model DcmsMobile.DcmsLite.ViewModels.Receive.IndexViewModel
@{
    ViewBag.Title = "Receive Cartons";
}
@section sidebar {
    <div class="box boxB">
        <div class="boxContent">
            @Html.ActionLink("DCMS Lite Home", MVC_DcmsLite.DcmsLite.Home.Index())
        </div>
    </div>
}
<div style="font-size: 1.2em;">Receiving Area : <strong>@Html.DisplayFor(m => m.RecevingAreaId)</strong></div>
<table>
    <caption>List of Recent ASNs</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>VWh<span style="display: inline-block" class="ui-icon ui-icon-circle-triangle-n"></span><sup>2</sup></th>
            <th>ASN<span style="display: inline-block" class="ui-icon ui-icon-circle-triangle-n"></span><sup>3</sup></th>
            <th>Intransit<span style="display: inline-block" class="ui-icon ui-icon-circle-triangle-n"></span><sup>4</sup></th>
            <th>#Cartons</th>
            <th>#Pieces</th>
            <th>Received on<span style="display: inline-block" class="ui-icon ui-icon-circle-triangle-s"></span><sup>1</sup></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.AsnList.Count; i++)
        {
            <tr class="@(i % 2 == 0 ? "rowA" : "rowB")">
                <td>@(i + 1)</td>
                <td>
                    @Html.DisplayFor(m => m.AsnList[i].VwhId)
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(m => m.AsnList[i].ShipmentId)
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(m => m.AsnList[i].IntransitId)
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(m => m.AsnList[i].CartonCount)
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(m => m.AsnList[i].Pieces)
                </td>
                <td>
                    @if (Model.AsnList[i].IsReceived)
                    {
                        @Html.DisplayFor(m => m.AsnList[i].ReceivedDate)
                    }
                    else
                    {
                        using (Html.BeginForm(MVC_DcmsLite.DcmsLite.Receive.ReceiveCartonsOfAsn(), FormMethod.Post))
                        {
                        <input type="hidden" name="@Html.NameFor(m => m.IntransitId)" value="@Model.AsnList[i].IntransitId" />
                        <input type="hidden" name="@Html.NameFor(m => m.ShipmentId)" value="@Model.AsnList[i].ShipmentId" />
                        @Html.HiddenFor(m => m.RecevingAreaId)
                        @Html.HiddenFor(m => m.BuildingId)
                        <button data-icon="ui-icon-seek-next" type="submit" @Html.Raw(string.IsNullOrWhiteSpace(Model.RecevingAreaId) || !Model.IsEditable ? "disabled='disabled'" : "")>Receive...</button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="divReceivingDialog">
    This will receive all cartons of the ASN and Shipment you selected.<br />
    <br />
    Press OK to confirm.
    <br />
    <br />
    <div style="float: right; padding-top: 3em;">
        It might take few minutes.. <span class="ui-icon ui-icon-clock" style="display: inline-block"></span>
    </div>
</div>
@section scripts{
    <script src="@Links_DcmsLite.Areas.DcmsLite.Scripts.Receive_js" type="text/javascript"></script>
}