@*Inspired by http://line25.com/tutorials/design-and-code-a-cool-iphone-app-website-in-html5*@
@{
    Layout = "~/MainArea/SharedViews/_layoutBootstrap.cshtml";
}

@section areatitle {
<div class="btn-group navbar-btn navbar-left">    
        <a href="@Url.Action(MVC_Receiving.Receiving.Home.Index())" class="navbar-link btn btn-link"><span class="glyphicon glyphicon-home"></span> Receiving</a>
      <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="@Url.Action(MVC_Receiving.Receiving.Home.CreateProcess())" class="navbar-link"><span class="glyphicon glyphicon-plus"></span> Create</a></li>
        <li><a href="@Url.Action(MVC_Receiving.Receiving.Home.ShipmentList())" class="navbar-link"><span class="glyphicon glyphicon-list"></span> Open Shipments</a></li>
        <li><a href="@Url.Action(MVC_Receiving.Receiving.Rad.Index())" class="navbar-link"><span class="glyphicon glyphicon-cog"></span> Configure Receiving</a></li>
    </ul>
</div>
    }

@section script {
    @RenderSection("script", false)
}
@RenderBody()