@*Does not display the value since a scan text box should always be empty. The label is displayed along with the textbox.

The input element contains the data-scan="true" attribute. The InitScanTextBox() function in scan.js searches for the first scan text box using this
attribute.
 *@

<label for="@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)">@ViewData.ModelMetadata.DisplayName</label>
<input id='@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)' name='@ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)' type="text"
    maxlength="24"
    style="text-transform:uppercase" data-scan="true" tabindex="1" />

@if (!ViewData.ModelState.IsValidField(ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)))
{
    <span class="ui-state-error ui-priority-secondary" style="font-size: 0.8em">@ViewData.TemplateInfo.FormattedModelValue</span> 
}






@*$Id$*@