@{
    ViewBag.Title = "Carton Manager - Home";
    ViewBag.Subtitle = "Edit carton properties; Move carton from one area to another; Change carton location.";
}
@Html.StatusSummary()
@Html.ValidationSummary()
<div class="box">
    <h2>Select the task you wish to perform</h2>
    <div class="boxContent">
        <blockquote>
            <ol>
                <li>
                    @Html.ActionLink("Carton Locating (CLOC)", MVC_CartonManager.CartonManager.Locating.Pallet())<span>.
                        Use this UI to locate cartons on a pallet. Cartons of scanned pallet, which were
                        not located will be marked in suspense.</span> </li>
                <li>
                    @Html.ActionLink("Carton to Pallet (C2P)", MVC_CartonManager.CartonManager.Home.PalletizeUi())<span>.
                                                                                                                      Scan a Pallet and then scan Cartons which you wish to place on the Pallet. You can
                                                                                                                      also merge Pallets here.</span></li>
                <li>
                    @Html.ActionLink("Mark Rework Complete (MRC)", MVC_CartonManager.CartonManager.Home.MarkReworkCompleteUi())<span>.
                                                                                                                                   Use this to Mark Rework Complete of those Cartons on which rework has to be done.
                                                                                                                                   Palletization of such Cartons can also be done here.</span></li>
                <li>
                    @Html.ActionLink("Abandon Rework (ARW)", MVC_CartonManager.CartonManager.Home.AbandonReworkUi())<span>.
                                                                                                                        If you no longer want to perform rework on Cartons which had been marked for rework,
                                                                                                                        use this UI to let the system know.</span></li>
                <li>
                    @Html.ActionLink("Carton Editor (CED)", MVC_CartonManager.CartonManager.Home.CartonEditorIndex())<span>.
                                                                                                                         Scan Carton to Edit</span></li>

                <li>
                    @Html.ActionLink("Bulk Update Cartons (BCED)", MVC_CartonManager.CartonManager.Home.AdvancedUi())<span>.
                                                                                                                     This is an advanced UI which enables you to update multiple properties of Cartons.
                                                                                                                     You specify the properties you want to update and then scan Cartons whose properties
                                                                                                                     need to be updated.</span>
                </li>
            </ol>
        </blockquote>
    </div>
     @Html.ActionLink("Toggle Mobile Emulation", MVC_CartonManager.CartonManager.Home.ToggleEmulation())
</div>
@*$Id$*@ 