@model DcmsMobile.CartonManager.ViewModels.PalletizeViewModel
@{
    ViewBag.Title = "Palletize Cartons";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
<p>
    Use this to quickly place Cartons on a new or existing Pallet.
</p>
@using (Html.BeginForm(MVC_CartonManager.CartonManager.Home.UpdateCartonOrPallet(), FormMethod.Post, new
{

    id = "frmMain"

}))
{
    @Html.HiddenFor(m => m.ViewModelType)
    <audio id="sound_success" src="@Links_CartonManager.Areas.CartonManager.Content.Sounds.success_wav" >
        <span class="ui-state-highlight">
            Your browser will not play sounds. IE9 or higher is recommended.
        </span>
    </audio>
    <audio id="sound_error" src="@Links_CartonManager.Areas.CartonManager.Content.Sounds.Error_wav">
    </audio>
    <div class="box">
        <h3>
            Step 1: Provide Area and Pallet to be created.</h3>
        <div class="boxContent">
            Area
            @Html.GroupDropListFor(m => m.DestinationAreaId, Model.AreaList, "(Please Select)", new
       {
           tabindex = 1,
           id = "ddlArea"
       })<sup>*</sup>
            @Html.ValidationMessageFor(m => m.DestinationAreaId)
            for Pallet
            @Html.EditorFor(m => m.DestinationPalletId, MVC_CartonManager.CartonManager.Shared.Views.EditorTemplates.DestPallet, new
       {
           tabindex = 2
       })
        </div>
    </div>
    <div class="box">
        <h3>
            Step 2: Scan each Carton to place on the Pallet</h3>
        <div class="boxContent">
            @Html.HiddenFor(m => m.ConfirmScanText, new { id = "tbConfirm" })
            @Html.LabelFor(m => m.ScanText)
            @Html.TextBoxFor(m => m.ScanText, new
       {
           id = "tbScan",
           style = "text-transform: uppercase;",
           tabindex = 3
       })
            <button type="button" id="btnGo">
                Go</button>
            <br />
            Tip: Scan an existing Pallet or Carton requiring no rework, to merge or palletize.
        </div>
        <div id="ajaxErrors">
        </div>
    </div>    

}
@section scripts{
    <script src="@Links_CartonManager.Areas.CartonManager.Scripts.CommonPalletize_all_js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlArea').focus();
            $('#tbPallet').keypress(function (e) {
                if (e.keyCode === $.ui.keyCode.ENTER && $(this).val()) {
                    $('#tbScan').focus();
                    return false;
                }
            });
        });
    </script>
}
@*$Id$*@ 