@model DcmsMobile.DcmsRights.ViewModels.IndexViewModel
@{
    ViewBag.Title = "DCMS Roles";
    int i = 0;                              
}
@section sidebar {
    <div class="box">
        <div class="boxContent">
            <dl>
                <dt>@Html.ActionLink("List of all users", MVC_DcmsRights.DcmsRights.Home.UserList())</dt>
                <dd>
                    Reset password, unlock or delete user, grant or revoke DCMS privileges.</dd>
            </dl>
        </div>
    </div>
    @if (Model.IsEditable.Value)
    {
        <div class="box boxB">
            <h2>
                Create users</h2>
            @using (Html.BeginForm(MVC_DcmsRights.DcmsRights.Home.CreateUsers(), FormMethod.Post))
            {
                <div class="boxContent">
                    User names one per line
                    @Html.TextAreaFor(m => m.UserNames, 8, 17, null)
                    <br />
                    <br />
                    Initial Password.
                    @Html.TextBoxFor(m => m.Password, new
           {
               size = 15,
               maxlength = 15
           })
                    <sup>*</sup> Users will be forced to change their password on first login.
                    <br />
                    <br />
                    Roles to Assign
                    <div id="listSelectedRoles" data-name="@Html.NameFor(m => m.RoleNames)">
                        <span class="ui-state-highlight @(Model.RoleNames.Length == 0 ? "" : "ui-helper-hidden")">
                            Select one or more roles by checking the check boxes on the right</span>
                        @foreach (var role in Model.RoleNames)
                        {
                            <input type="text" readonly="readonly" value="@role" name="@Html.NameFor(m => m.RoleNames)" />
                        }
                    </div>
                    <button type="submit" id="btnCreateUsers">
                        Create Users</button>
                </div>
            }
        </div>
    }
    else
    {
        <div class="box">
            <div class="boxContent">
                <blockquote>
                    <a href="@(Url.Content("~/Logon?returnUrl=") + Url.Action(MVC_DcmsRights.DcmsRights.Home.Index()))">
                        Login</a> as a Security Administrator to create users and assign roles to them.
                    If you are a supervisor, you can request the Help Desk to grant the role <em>@Model.EditableRoleName</em>
                    to you.
                </blockquote>
            </div>
        </div>
    }
}
<style type="text/css">
    #listSelectedRoles
    {
        margin-left: 1em;
    }
    #listSelectedRoles input
    {
        border: none;
        color: inherit;
        background-color: transparent;
        font-size: inherit;
        cursor: default;
        display: block;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnCreateUsers').button({ icons: { primary: 'ui-icon-plusthick'} });
        //Trying to reset all checkboxes on page load/reload
        $('#tblRoles').click(function (e) {
            if ($(e.target).is(':checkbox')) {
                var $list = $('#listSelectedRoles');
                if ($(e.target).is(':checked')) {
                    // Add role to list
                    $('<input />').attr({
                        type: 'text',
                        value: $(e.target).val(),
                        readonly: true,
                        name: $list.attr('data-name')
                    }).appendTo($list);
                    $('span', $list).hide();
                } else {
                    // remove role from list
                    $('input[value="' + $(e.target).val() + '"]', $list).remove();
                    if ($('input', $list).length == 0) {
                        // Show the help message again
                        $('span', $list).show();
                    }
                }
            }
        });
    });
</script>
<p>
    This is a list of all DCMS programs along with the roles required to run each program.
    Click on a role to see which users have been granted that role.</p>
<blockquote>
    The shaded programs in <a href="@Links_DcmsRights.Areas.DcmsRights.Content.RestrictedPrograms_PDF" target="_blank">
        this list (PDF)</a> have been excluded from this application due to the power
    they provide. For these programs, authorization must still be requested using the
    paper based authorization form.
</blockquote>
<table id="tblRoles">
    <thead>
        <tr>
            <th>
                Program
            </th>
            <th>
                Roles
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            i = 0;
        }
        @foreach (var item in Model.Areas)
        {
            <tr class="row@(i % 2 == 0 ? "A" : "B")">
                <td>
                    <em>@item.AreaName</em>. @(item.AreaDescription).
                </td>
                <td>
                    <ul @Html.Raw(item.Roles.Count() == 1 ? "style=\"list-style-type: none\"" : "")>
                        @foreach (var role in item.Roles)
                        {
                            <li>
                                @if (Model.IsEditable.Value)
                                {
                                    <input type="checkbox" value='@role.RoleName' @Html.Raw(Model.RoleNames.Contains(role.RoleName) ? "checked='checked'" : "")/>
                                }
                                @Html.ActionLink(role.RoleName, MVC_DcmsRights.DcmsRights.Home.UsersInRole(role.RoleName))
                                &raquo; @role.Purpose
                            </li>
                        }
                    </ul>
                </td>
            </tr>
                        ++i;
        }
    </tbody>
</table>
