@model DcmsMobile.DcmsRights.ViewModels.UserListViewModel
@{
    ViewBag.Title = "List of all users";
    var rowIndex = 0;   
}
@section sidebar {
    <div class="box boxB">
        <div class="boxContent">
            @using (Html.BeginForm(MVC_DcmsRights.DcmsRights.Home.ManageUser(), FormMethod.Get))
            {
                @Html.LabelFor(m => m.Users.UserName)   
                <br />  
                <input name="userName" class="ui-autocomplete-input" style="text-transform: uppercase;"
                       type="text" size="14" data-ac-list-url="@Url.Action(MVC_DcmsRights.DcmsRights.AutoComplete.UserAutocomplete())"
                       autocomplete="off" />
                <span title="Double click to quickly see suggestions">↓</span>
                <span class="success-display" data-ac-msg-for="userName"></span>
                <input type="submit" value="Go" id="btnGo" />
            }
            @Html.ActionLink("Show locked users", MVC_DcmsRights.DcmsRights.Home.LockedUserList())
        </div>
    </div>
}


<div>
    <table>
        <caption>Pending Activities</caption>
        <thead>
            <tr>
                <th>#</th> 
                <th>User Name</th>
                <th>Create Date</th>
                <th>Password Expiring on</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UsersList)
            {
                <tr class="@(rowIndex % 2 == 0 ? "rowA" : "rowB")">
                    <td style="text-align:right">@(rowIndex + 1) </td>
                    <td>
                        @if (item.IsLocked)
                        {
                            <span class="ui-icon ui-icon-locked"
                                  title="@string.Format("Account has been locked on {0}", item.LastLockoutDate)" style="display: inline-block"></span>
                        }
                        @Html.ActionLink(item.UserName, MVC_DcmsRights.DcmsRights.Home.ManageUser(item.UserName))
                    </td>
                    <td>@item.CreateDate</td>
                    <td class="@(item.PasswordExpired ?"ui-state-error":"")">@item.PasswordExpiryDate</td>
                </tr>
                        ++rowIndex;
            }

        </tbody>
    </table>
</div>










<script type="text/javascript" src="@Links_DcmsRights.Areas.DcmsRights.Scripts.DcmsRights_all_js"></script>
<link href="@Links_DcmsRights.Areas.DcmsRights.Content.DcmsRights_all_css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
        $('input:submit').button();
    });
</script>


