@model DcmsMobile.Models.DiagnosticModel
@{
    ViewBag.Title = "Diagnostics";
}
<script type="text/javascript">
    var _emptyOk = true;
</script>
@Html.Partial("_soundPartial", Model.Sound)

@using (Html.BeginForm("Index", "Diagnostic"))
{
    @Html.LabelFor(m => m.Choice)
    @Html.TextBoxFor(m => m.Choice) @Model.LastScan
}
<ul>
    <li>1 character input for error scan.</li>
    <li>2 character input for warning scan.</li>
    <li>3 characters or more is a valid scan.</li>
    <li>Enter to go back</li>
</ul>
<div>
    <a href="@Url.Content("~/MvcDiagnostics.aspx")">System Info</a>
    @Html.ActionLink("Test E-mail", "Email", "Diagnostic")
</div>
<fieldset>
    <legend>Browser</legend>IsMobile: @this.ViewContext.HttpContext.Request.Browser.IsMobileDevice
    <br />
    Platform: @this.ViewContext.HttpContext.Request.Browser.Platform
    <br />
    Id: @this.ViewContext.HttpContext.Request.Browser.Id
    <br />
    MajorVersion: @this.ViewContext.HttpContext.Request.Browser.MajorVersion
    <br />
    MinorVersion: @this.ViewContext.HttpContext.Request.Browser.MinorVersion
</fieldset>
<fieldset>
    <legend>Connection Strings</legend>
    @foreach (var conn in Model.ConnectionStrings)
    {
        <div>
            <em>@conn.Name</em>: @conn.ProxyUserId@@@conn.DataSource
        </div>
    }
</fieldset>

<script src="@Links_DcmsMobile.DcmsMobile.Scripts.launcher_mobile_js" type="text/javascript"></script>
