@model DcmsMobile.Models.DiagnosticModel
@{
    ViewBag.Title = "Diagnostics";
}
<div data-role="page">
    @Html.Partial(@MVC_DcmsMobile.Shared.Views._soundPartial, Model.Sound)

    <div data-role="content">
        <a href="@Url.Action(MVC_DcmsMobile.Diagnostic.CheckSound('E'))" data-role="button" data-inline="true">Error Sound</a>
        <a href="@Url.Action(MVC_DcmsMobile.Diagnostic.CheckSound('W'))" data-role="button" data-inline="true">Warning Sound</a>
        <a href="@Url.Action(MVC_DcmsMobile.Diagnostic.CheckSound('S'))" data-role="button" data-inline="true">Success Sound</a>
    </div>
    <div>
        <a href="@Url.Content("~/MvcDiagnostics.aspx")">System Info</a>
        @Html.ActionLink("Test E-mail", "Email", "Diagnostic")
    </div>
    <fieldset>
        <legend>Browser</legend>
        IsMobile: @this.ViewContext.HttpContext.Request.Browser.IsMobileDevice
        <br />
        User Agent: <em>@ViewContext.HttpContext.GetOverriddenUserAgent()</em>
        <br />
        Platform: @this.ViewContext.HttpContext.Request.Browser.Platform
        <br />
        Id: @this.ViewContext.HttpContext.Request.Browser.Id
        <br />
        MajorVersion: @this.ViewContext.HttpContext.Request.Browser.MajorVersion
        <br />
        MinorVersion: @this.ViewContext.HttpContext.Request.Browser.MinorVersion
    </fieldset>
    <fieldset>
        <legend>Connection Strings</legend>
        @foreach (var conn in Model.ConnectionStrings)
        {
            <div>
                <em>@conn.Name</em>: @conn.ProxyUserId@@@conn.DataSource
            </div>
        }
    </fieldset>
</div>
