<!DOCTYPE html>
<!--
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<title>@ViewBag.Title</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="@Links_CartonAreas.Areas.CartonAreas.Content.CartonAreas_all_css" rel="stylesheet" type="text/css" />
	<link href="@Links_CartonAreas.Content.themes.Start1_10_0.jquery_ui_min_css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="outer">
		<div id="header">
			<h1>
				@ViewBag.Title</h1>
			<h2>
				@ViewBag.Subtitle</h2>
		</div>
		<div id="menu">
			<ul>
				<li class="banner"><span>DCMS Connect - CartonAreas</span></li>
				<li><a href="@Url.Content("~")">DCMS Connect Home</a></li>
				@if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
				{
					<li style="color: white;">@CartonAreasResource.Welcome @ViewContext.HttpContext.User.Identity.Name</li>
				}
				@if (ViewContext.HttpContext.Trace.IsEnabled)
				{
					<li><a href="@Url.Content("~/trace.axd")" target="trace" >Trace</a> </li>
				}
				<li><a href="@Url.Action(MVC_CartonAreas.CartonAreas.Home.Tutorial())">Tutorial</a></li>
			</ul>
		</div>
		<div id="content">
			<div id="primaryContentContainer">
				<div id="primaryContent">
					@Html.StatusSummary()
					@RenderBody()
				</div>
			</div>
			<div id="secondaryContent">
				@RenderSection("sidebar", false)
			</div>
			<div class="clear">
			</div>
		</div>
		<div id="footer">
			<p>
				Copyright &copy; 2011 Eclipse Systems <a href="http://www.eclsys.com" target="_blank">
					http://www.eclsys.com</a></p>
		</div>
	</div>
	<script src="@Links_CartonAreas.Scripts.jquery_1_8_2_js"  type="text/javascript"></script>
	<script src="@Links_CartonAreas.Scripts.jquery_ui_1_10_0_js" type="text/javascript"></script>
	<script src="@Links_CartonAreas.Scripts.jquery_validate_js" type="text/javascript"></script>
	<script src="@Links_CartonAreas.Scripts.jquery_validate_unobtrusive_js" type="text/javascript"></script>
	@RenderSection("scripts", false)
</body>
</html>
@*$Id$*@