@model DcmsMobile.Inquiry.Areas.Inquiry.ShipmentEntity.AppointmentViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    ViewBag.Title = string.Format("Appointment {0}", Model.AppointmentNumber);
}

<div class="container">
   
    <h2 style="margin-top:0px">
        Appointment @Html.DisplayFor(m => m.AppointmentNumber)
        @if (Model.ShipmentCount == 0)
        {
            <small> &bull; No shipment assigned</small>
        }
        </h2>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="pull-right">
                        <span class="glyphicon glyphicon glyphicon-new-window"></span>
                        <a href="@Model.UrlManageAppointmentLink" target="_blank">Manage Appointment</a>
                    </span>
                    Appoinment Date @Html.DisplayFor(m => m.AppointmentDate)
                </h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Arrived on</dt>
                    <dd>
                        @Html.DisplayFor(m => m.AppointmentArrivalDate) <em>by</em> <label>Carrier</label>
                        @Html.DisplayFor(m => m.Carrier)

                        <a href="@Model.UrlLoadTruck" target="_blank"><span class="glyphicon glyphicon glyphicon-new-window"></span> Load Truck</a>
                    </dd>

                    <dt>Box in Areas</dt>
                    @if (Model.BoxesInAreas.Any())
                    {
                        <dd>
                            @foreach (var line in Model.BoxesInAreas)
                            {
                                <text>&bull; @line</text>

                            }
                        </dd>
                    }
                    <dt>Customer</dt>
                    @if (Model.CustomerList.Any())
                    {
                        <dd>
                            @foreach (var line in Model.CustomerList)
                            {
                                <text>&bull; @line</text>

                            }
                        </dd>
                    }
                </dl>

            </div>
        </div>
        <div class="alert alert-info">
            @Html.DisplayFor(m => m.LoadedBoxes) out of @Html.DisplayFor(m => m.TotalBoxes) boxes and @Html.DisplayFor(m => m.LoadedPallets) out of  @Html.DisplayFor(m => m.TotalPallets) pallets loaded on truck<br />
            @if (Model.SuspensePallets > 0)
            {
                <span>@Html.DisplayFor(m => m.SuspensePallets) pallets in suspense.</span>
            }
        </div>
</div>