@model  DcmsMobile.Inquiry.Areas.Inquiry.ShipmentEntity.MasterBolViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
    ViewBag.Title = string.Format("Master BOL {0}", Model.MBolID);
}

@section applinks{
    <li>
    @if (Model.ShipmentList.Count > 0)
    {
        <a href="@Url.Action(MVC_Inquiry.Inquiry.ShipmentEntity.MasterBolExcel(Model.MBolID))">
            <span class="glyphicon glyphicon-export"></span> Excel
        </a>
    }
</li>
}

<div class="container">
   
    <h2 style="margin-top:0px">
        @ViewBag.Title
        <small>
            Via
            @Html.DisplayFor(m => m.CarrierId): @Html.DisplayFor(m => m.CarrierName)
        </small>
      
    </h2>


    
    <div class="panel panel-success">
        <div class="panel-heading">
            <!-- Button trigger modal -->
            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#printControls">
                Print
            </button>
            <h6>
                Customer   <a href="@Url.Action(MVC_Inquiry.Inquiry.CustomerEntity.Customer(Model.CustomerID))">
                    @Html.DisplayFor(m => m.CustomerID) : @Html.DisplayFor(m => m.CustomerName)
                </a>
            </h6>

        </div>
        <div class="panel-body">
            <strong>Ship From</strong>
            <address>
                <div>
                    @Html.DisplayFor(m => m.FromCompany)
                </div>
                @foreach (var line in Model.FromAddress.Where(p => !string.IsNullOrEmpty(p)))
                {
                    <div>
                        @line
                    </div>
                }
                <div>
                    @Model.FromCity, @Model.FromState @Model.FromZipCode
                </div>
                <div>
                    @Model.FromCountry
                </div>
            </address>
        </div>
    </div>





    <div class="modal fade" id="printControls" tabindex="-1" role="dialog" aria-labelledby="printDialogLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content list-group">
                <div class="list-group-item list-group-item-success">
                    <span class="close glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true"></span>
                    <h4 class="modal-title">Print Master BOL</h4>
                </div>
                <form role="form" action="@Url.Action(MVC_Inquiry.Inquiry.ShipmentEntity.PrintMasterBol())" id="frmPrintMasterBol" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="@MVC_Inquiry.Inquiry.ShipmentEntity.PrintMasterBolParams.mBolId" value="@Model.MBolID" />
                        <div>
                            <label for="tbAddress">Address Line<abbr>*</abbr></label>
                            <textarea class="form-control" id="tbAddress" rows="4" cols="50" style="height:6.9em;" name="@MVC_Inquiry.Inquiry.ShipmentEntity.PrintMasterBolParams.address" required></textarea>
                        </div>
                        <div>
                            <label for="tbCity">City<abbr>*</abbr></label>
                            <input class="form-control" type="text" id="tbCity" name="@MVC_Inquiry.Inquiry.ShipmentEntity.PrintMasterBolParams.city" required placeholder="Enter City" />
                        </div>
                        <div>
                            <label>State<abbr>*</abbr></label>
                            <input class="form-control" type="text" id="tbState" name="@MVC_Inquiry.Inquiry.ShipmentEntity.PrintMasterBolParams.state" required placeholder="Enter State" />
                        </div>
                        <div>
                            <label>Zip Code<abbr>*</abbr></label>
                            <input class="form-control" type="text" id="tbZipCode" name="@MVC_Inquiry.Inquiry.ShipmentEntity.PrintMasterBolParams.zipcode" required placeholder="Enter Zip Code" />
                        </div>
                        <div>
                            <label>Country Code<abbr>*</abbr></label>
                            <input class="form-control" type="text" id="tbCountry" name="@MVC_Inquiry.Inquiry.ShipmentEntity.PrintMasterBolParams.country" required placeholder="Enter Country Code" />
                        </div>
                        <div>
                            <label>Printer<abbr>*</abbr></label>
                            @Html.DropDownListFor(m => m.PrinterId, Model.PrinterList, "Printer...", new
                                {
                                    id = "ddlPrinter",
                                    required = "required",
                                    @class = "form-control"
                                })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        <button id="btnPrintBox" class="btn btn-success" type="submit">Print</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="list-group">
        <a class="list-group-item active h4">List of  @Model.shipmentListCount Bol</a>
        
        @for (var i = 0; i < Model.ShipmentList.Count; i++)
        {

            <a class="list-group-item" href="@Url.Action(MVC_Inquiry.Inquiry.ShipmentEntity.OutboundShipment(Model.ShipmentList[i].ShippingId))">

                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                @if (Model.ShipmentList[i].OnHold)
                {
                    <span class="badge">
                        Hold
                    </span>
                }
                else
                {
                    <span class="badge"> Not Hold</span>
                }
                <span class="pull-right" style="margin-right:1em">ETA @Html.DisplayFor(m => m.ShipmentList[i].ArrivalDate)</span>
                <h4>

                   @Html.DisplayFor(m => m.ShipmentList[i].ShippingId)
                    <small>On @Html.DisplayFor(m => m.ShipmentList[i].ShippingDate)</small>
                </h4>

            </a>
        }

    </div>
</div>


@section script {

    <script type="text/javascript">
        $(document).ready(function () {
            var textArea = $('#tbAddress');
            var maxRows = textArea.attr('rows');
            var maxChars = textArea.attr('cols');
            textArea.keypress(function (e) {
                var text = textArea.val();
                var lines = text.split('\n');
                if (e.keyCode == 13) {
                    return lines.length < maxRows;
                }
                else { //Should check for backspace/del/etc.
                    var caret = textArea.get(0).selectionStart;
                    var line = 0;
                    var charCount = 0;
                    $.each(lines, function (i, e) {
                        charCount += e.length;
                        if (caret <= charCount) {
                            line = i;
                            return false;
                        }
                        //\n count for 1 char;
                        charCount += 1;
                    });
                    return lines[line].length < maxChars;
                }
            });

            //Placeholder for address textarea.
            $('#tbAddress').attr('placeholder', 'Enter Line 1\nEnter Line 2\nEnter Line 3\nEnter Line 4');

        });


    </script>
}
