@model DcmsMobile.Models.LauncherViewModel
@{
    ViewBag.Title = "DCMS Connect Home";
}

<ul data-role="listview" data-filter="true" data-filter-placeholder="Search Menu" data-inset="true">
    @for (var i = 0; i < Model.MenuItems.Count; ++i)
    {
        <li data-role="list-divider">
            @Html.DisplayFor(m => m.MenuItems[i].Name)
        </li>


        <li>
            <a href="@Model.MenuItems[i].Url">
                @if (Model.MenuItems[i].IsMobileOptimized)
                {
                    <img src="@Links_DcmsMobile.DcmsMobile.Content.Images.wifi_jpg" />
                }
                <h2>@Html.DisplayFor(m => m.MenuItems[i].Name) @Html.DisplayFor(m => m.MenuItems[i].ShortName) Menu</h2>
                <p>@Html.DisplayFor(m => m.MenuItems[i].Description)</p>
            </a>
        </li>

        if (Model.MenuItems[i].SubMenu != null)
        {
            for (var j = 0; j < Model.MenuItems[i].SubMenu.Count; ++j)
            {
                <li>
                    <a href="@Model.MenuItems[i].SubMenu[j].Url">
                        @if (Model.MenuItems[i].SubMenu[j].IsMobileOptimized)
                        {
                            <img src="@Links_DcmsMobile.DcmsMobile.Content.Images.wifi_jpg" />
                        }
                        <h2>@Html.DisplayFor(m => m.MenuItems[i].SubMenu[j].Name) @Html.DisplayFor(m => m.MenuItems[i].SubMenu[j].ShortName)</h2>
                        <p>@Html.DisplayFor(m => m.MenuItems[i].SubMenu[j].Description)</p>
                    </a>
                </li>

            }
        }

    }
</ul>

<div data-role="navbar">
    <a href="@Model.UrlRc" data-role="button"><small>Release Candidates</small></a>
</div>


