@model DcmsMobile.Models.LauncherViewModel
@{
    ViewBag.Title = "DCMS Connect Home";
}
@*<style type="text/css">
    .ui-li-static.ui-collapsible > .ui-collapsible-heading {
        margin: 0;
    }

    .ui-li-static.ui-collapsible {
        padding: 0;
    }

        .ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
            border-top-width: 0;
        }

        .ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
        .ui-li-static.ui-collapsible > .ui-collapsible-content {
            border-bottom-width: 0;
        }
</style>*@
<div data-role="page">
    <div data-role="header">
        <h1>DCMS Main Menu</h1>
    </div>

    <div data-role="content">
        <ul data-role="listview" data-inset="true">
            @foreach (var choice in Model.MenuItems.Where(p => p.IsMobileOptimized))
            {
                if (choice.SubMenu == null)
                {
                    <li>
                        <a href="@choice.Url"><h3>@choice.Name</h3><p>@choice.Description</p></a>
                    </li>
                }
                else
                {
                    <li data-role="list-divider" style="font-size:large">
                        <a href="@choice.Url"><h2>@choice.Name</h2></a>
                        <p>@choice.Description</p>
                    </li>
                    foreach (var submenu in choice.SubMenu)
                    {

                        <li style="font-size:small" data-theme="a">
                            <a href="@submenu.Url">@submenu.Name<p>@submenu.Description</p></a>
                        </li>

                    }
                    @*<li data-role="collapsible" data-inset="false" data-iconpos="right">
                        <h2>@choice.Name</h2>
                        <ul data-role="listview">
                            <li data-role="list-divider">
                                <a href="@choice.Url"><h3>@choice.Name Menu</h3><p>@choice.Description</p></a>
                            </li>
                            @foreach (var submenu in choice.SubMenu)
                            {

                                <li>
                                    <a href="@submenu.Url"><h3>@submenu.Name</h3><p>@submenu.Description</p></a>
                                </li>

                            }
                        </ul>
                    </li>*@
                }

            }
        </ul>

        <h3>Options</h3>
        <ul data-role="listview" data-inset="true" data-theme="b">
            @foreach (var choice in Model.MasterMenuItems)
            {
                <li><a href="@choice.Url"><small>@choice.Name</small></a></li>
            }
            <li>
                <a href="@Model.UrlRc"><small>Release Candidates</small></a>
            </li>
        </ul>
    </div>
</div>
