@model DcmsMobile.Models.LauncherViewModel
@{
    ViewBag.Title = "DCMS Connect Home";
}

<ul data-role="listview" data-filter="true" data-filter-placeholder="Search Menu">
    @foreach (var item in Model.MenuItems.Where(p => p.IsMobileOptimized)
                .Select((p, i) => new
            {
                Index = i,
                MenuItem = p
            }))
    {
        <li data-role="list-divider">
            <a href="@item.MenuItem.Url">
                @item.MenuItem.Name
            </a>
        </li>

        if (item.MenuItem.SubMenu != null)
        {
            foreach (var submenu in item.MenuItem.SubMenu)
            {
                <li>
                    <a href="@submenu.Url">
                        <h2>@submenu.Name</h2>
                        <p>@submenu.Description</p>
                    </a>
                </li>

            }
        }
    }
</ul>

<div data-role="navbar">
    <a href="@Model.UrlRc" data-role="button"><small>Release Candidates</small></a>
</div>


