@model DcmsMobile.Models.LauncherViewModel
@{
    ViewBag.Title = "DCMS Connect Home";
}

@*@section head {
    <script type="text/javascript">
        $(document).on('pageinit', '#mainpage', function () {
            alert('Hi2');
            $(this).on('filterablefilter', '#menulist', function (event, ui) {
                alert('Hi');
                $('#topmenu').hide();
            });
        });
    </script>
}*@
<input type="search" id="searchInMenu" placeholder="Search in menu" data-theme="b" />
<ol data-filter="true" id="menulist" data-input="#searchInMenu" data-role="listview" data-inset="true" data-filter-reveal="true" data-theme="b">
    @foreach (var item in Model.MenuItems.Where(p => p.SubMenu != null).SelectMany(p => p.SubMenu).Concat(Model.MenuItems))
    {
        <li data-filtertext="@item.ShortName;@item.Description">
            <a href="@item.Url">
                @if (item.IsMobileOptimized)
                {
                    <img src="@Links_DcmsMobile.DcmsMobile.Content.Images.wifi_jpg" class="ui-li-icon" alt="Optimized for moble screens" />
                }
                @item.Name
            </a>
        </li>
    }
</ol>

<ol data-role="listview" data-inset="true" id="topmenu">
    @for (var i = 0; i < Model.MenuItems.Count; ++i)
    {
        <li data-icon="@Html.Raw(Model.MenuItems[i].SubMenu == null ? "carat-r" : "bullets")">
            <a href="@Model.MenuItems[i].Url">
                @if (Model.MenuItems[i].IsMobileOptimized)
                {
                    <img src="@Links_DcmsMobile.DcmsMobile.Content.Images.wifi_jpg" class="ui-li-icon" alt="Optimized for moble screens" />
                }
                <h6>@Html.DisplayFor(m => m.MenuItems[i].Name)</h6>
                <p>@Html.DisplayFor(m => m.MenuItems[i].ShortName) @Html.DisplayFor(m => m.MenuItems[i].Description)</p>
                @if (Model.MenuItems[i].SubMenu != null)
                {
                    <span class="ui-li-count">@Model.MenuItems[i].SubMenu.Count</span>
                }
            </a>
            @if (Model.MenuItems[i].SubMenu != null)
            {
                <a href="#@Model.MenuItems[i].UniqueId">
                    More
                </a>
            }
        </li>

    }
</ol>



<div data-role="navbar">
    <a href="@Model.UrlRc" data-role="button"><small>Release Candidates</small></a>
</div>
@section panels {
    @foreach (var item in Model.MenuItems.Where(p => p.SubMenu != null))
    {
        <div data-role="panel" id="@item.UniqueId" data-display="overlay" data-position-fixed="true">
            <ol data-role="listview">
                @for (var j = 0; j < item.SubMenu.Count; ++j)
                {
                    <li>
                        <a href="@item.SubMenu[j].Url">
                            @if (item.SubMenu[j].IsMobileOptimized)
                            {
                                <img src="@Links_DcmsMobile.DcmsMobile.Content.Images.wifi_jpg" class="ui-li-icon" alt="Optimized for mobile screens" />
                            }
                            <p>@Html.DisplayFor(m => item.SubMenu[j].Name)</p>
                            <p class="hideinsearch">@Html.DisplayFor(m => item.SubMenu[j].ShortName) @Html.DisplayFor(m => item.SubMenu[j].Description)</p>
                        </a>
                    </li>
                }
                <li data-icon="delete">
                    <a href="#mainpage" data-rel="close">Close</a>
                </li>
            </ol>
        </div><!-- /panel -->
    }
}

