@using EclipseLibrary.Mvc.Helpers
@model DcmsMobile.Models.LauncherViewModel
@{
    ViewBag.Title = "DCMS Connect Home";
    var i = 1;
}
<label for="tb">
    Search</label><input id="tb" type="text" maxlength="24" autocomplete="off" style="text-transform: uppercase"
        autofocus="autofocus" />
<a id="choice_default" href="@Url.Action(MVC_DcmsMobile.Home.AcceptChoice("X", true))" style="display:none" />

<a href="@Model.UrlRc" id="choice_0" style="display:none">Release Candidates</a>
<ol>
    @foreach (var choice in Model.MenuItems.Where(p => p.IsMobileOptimized))
    {
        <li><a id="choice_@(i)" href="@choice.Url">@choice.Name</a></li>
        ++i;
    }
    @foreach (var choice in Model.MasterMenuItems)
    {
        <li><a id="choice_@(i)" href="@choice.Url"><em>@choice.Name</em></a></li>
        ++i;
    }</ol>
<script src="@Links_DcmsMobile.DcmsMobile.Scripts.launcher_mobile_js" type="text/javascript"></script>
