@model DcmsMobile.Models.LauncherViewModel
@{
    ViewBag.Title = "DCMS Connect Home";
}
<div data-role="page">
    <div data-role="header">
        <h1>DCMS Main Menu</h1>
        @foreach (var choice in Model.MasterMenuItems)
        {
            <a href="@choice.Url"><small>@choice.Name</small></a>
        }
    </div>

    <div data-role="content">
        <div class="ui-grid-a ui-responsive" data-filter="true">
            @foreach (var item in Model.MenuItems.Where(p => p.IsMobileOptimized).OrderBy(p => p.SubMenu == null ? 0 : 1)
                .ThenBy(p => p.Order)
                .Select((p, i) => new
            {
                Index = i,
                MenuItem = p
            }))
            {
                <div class="ui-block-@(item.Index % 2 == 0 ? "a" : "b")">
                    <div class="ui-body ui-body-a ui-corner-all">
                        <a href="@item.MenuItem.Url" class="ui-btn ui-shadow ui-btn-a ui-icon-carat-r ui-btn-icon-right">@item.MenuItem.Name</a>
                        <p class="ui-mini">@item.MenuItem.Description</p>
                        @if (item.MenuItem.SubMenu != null)
                        {
                            <div class="ui-content">
                                <ul data-role="listview">
                                    @foreach (var submenu in item.MenuItem.SubMenu)
                                    {
                                        <li class="ui-mini">
                                            <a href="@submenu.Url">@submenu.Name<p>@submenu.Description</p></a>
                                        </li>

                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div data-role="footer">
        <a href="@Model.UrlRc" data-role="button"><small>Release Candidates</small></a>
    </div>
</div>
