@model DcmsMobile.Models.LauncherViewModel
@{
    ViewBag.Title = "DCMS Connect Home";
}
<div data-role="page">
    <div data-role="header">
        <h1>DCMS Main Menu</h1>
        @foreach (var choice in Model.MasterMenuItems)
        {
            <a href="@choice.Url"><small>@choice.Name</small></a>
        }
    </div>

    <div data-role="content">
        <div class="ui-grid-a ui-responsive">
            @foreach (var item in Model.MenuItems.Where(p => p.IsMobileOptimized)
                .Select((p, i) => new
            {
                Index = i,
                MenuItem = p
            }))
            {
                <div class="ui-block-@(item.Index % 2 == 0 ? "a" : "b")">
                    <div class="ui-body ui-body-a ui-corner-all" @Html.Raw(item.MenuItem.SubMenu == null ? "" : "data-role='collapsible'")>

                        @if (item.MenuItem.SubMenu == null)
                        {
                            <a href="@item.MenuItem.Url" class="ui-btn ui-shadow ui-btn-a ui-icon-carat-r ui-btn-icon-right">
                                @item.MenuItem.Name
                                <span class="ui-mini" style="font-weight:normal">@item.MenuItem.Description</span>
                            </a>

                        }
                        else
                        {
                            <h4>@item.MenuItem.Name <span class="ui-mini" style="font-weight:normal">@item.MenuItem.Description</span></h4>
                            <div class="ui-content">
                                <ul data-role="listview">
                                    <li>
                                        <a href="@item.MenuItem.Url" class="ui-btn ui-shadow ui-btn-a ui-icon-carat-r ui-btn-icon-right">
                                            @item.MenuItem.Name Menu
                                        </a>
                                    </li>
                                    @foreach (var submenu in item.MenuItem.SubMenu)
                                    {
                                        <li class="ui-mini">
                                            <a href="@submenu.Url">@submenu.Name<p>@submenu.Description</p></a>
                                        </li>

                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div data-role="footer">
        <a href="@Model.UrlRc" data-role="button"><small>Release Candidates</small></a>
    </div>
</div>
