@using EclipseLibrary.Mvc.Helpers
@model DcmsMobile.Models.RcLauncherViewModel
@{
    ViewBag.Title = "DCMS Connect Home";
    var i = 1;
    var j = 97;
}
<h1 class="ui-state-highlight">These are Release Candidates.</h1>
<div class="boxContent">
    <h3>Release Candidates</h3>
    <div class="ui-state-highlight">
        You are in the <b>DCMS Connect - Release Candidates</b> Website. The programs listed
        here should be used only when you have been given specific instructions to do so.
    </div>
</div>
<style type="text/css">
    dd {
        margin-left: 2em;
    }
</style>
<p>
    Enter one of the choices below or press enter to main menu.
</p>
<form method="get" id="frmChoice" action="@Url.Action(MVC_DcmsMobile.Home.AcceptChoice())">
    <label for="tb">
        Search</label><input id="tb" type="text" maxlength="24" autocomplete="off" name="@MVC_DcmsMobile.Home.AcceptChoiceParams.choice" />
    <input type="hidden" name="@MVC_DcmsMobile.Home.AcceptChoiceParams.isMobile" value="False" />
</form>
<table>
    <caption style="font-size: 1.5em">
        What do you want to do today</caption>
    <tbody>
        @foreach (var choice in Model.MenuItems)
        {
            <tr>
                <td>@i
                </td>
                <td style="white-space: nowrap">
                    <a href="@Url.Content(choice.Url)" @(string.IsNullOrWhiteSpace(choice.ShortName) ? "" : "data-shortname=" + choice.ShortName.ToLower())  data-seq="@i">@choice.Name</a>
                    @if (!string.IsNullOrWhiteSpace(choice.ShortName))
                    {
                        <span title="Type this in the search box to quickly launch this program">[@choice.ShortName]</span>
                    }
                    @if (choice.IsDesktopOptimized)
                    {
                        <span class="ui-icon ui-icon-person" style="display: inline-block" title="This program is accessible on desktop"></span>
                    }
                    @if (choice.IsMobileOptimized)
                    {
                        <span class="ui-icon ui-icon-signal" style="display: inline-block" title="This program is accessible on ring scanners"></span>
                    }
                </td>
                <td>
                    @Html.Raw(choice.Description)
                    <blockquote>
                        <ol style="list-style-type: lower-alpha">
                            @if (choice.SubMenu != null)
                            {
                               
                                foreach (var submenu in choice.SubMenu)
                                {
                                    if (submenu.ShortName != null)
                                    {
                                <li><a href="@submenu.Url" @(string.IsNullOrWhiteSpace(submenu.ShortName) ? "" : "data-shortname=" + submenu.ShortName.ToLower()) data-seq="@i@Convert.ToChar(j)">@submenu.Name</a>. [@submenu.ShortName]
                                            @if (submenu.IsDesktopOptimized)
                                            {
                                                <span class="ui-icon ui-icon-person" style="display: inline-block" title="This program is accessible on desktop"></span>
                                            }
                                    @if (submenu.IsMobileOptimized)
                                    {
                                        <span class="ui-icon ui-icon-signal" style="display: inline-block" title="This program is accessible on ring scanners"></span>
                                    }
                                    @submenu.Description
                                </li>
                                    }
                                    j++;
                                }
                            }
                        </ol>
                    </blockquote>
                    <fieldset>
                        <legend class="ui-state-highlight">
                            <label>
                                Change log</label></legend>
                        <p>
                            @Html.Raw(choice.ChangeLog)
                        </p>
                    </fieldset>
                </td>
            </tr>
                            ++i;
               j = 97;
        }
    </tbody>
</table>
@section sidebar {
    <div class="box">
        <h3>See also</h3>
        <div class="boxContent">
            <a href ="@Model.MainSiteUrl">Main menu</a>
            <br />
            <br />
            <dl>
                <dt><span class="ui-icon ui-icon-signal" style="display: inline-block"></span><a href="@Url.Action(MVC_DcmsMobile.Diagnostic.Actions.Index(true))">Mobile View</a></dt>
                <dd>Experience how this menu will appear on the ring scanner</dd>
            </dl>
        </div>
    </div>
    <div class="box">
        <h3>Legend</h3>
        <div class="boxContent">
            <dl>
                <dt><span class="ui-icon ui-icon-person" style="display: inline-block"></span>Designed
                    for Desktop</dt>
                <dt><span class="ui-icon ui-icon-signal" style="display: inline-block"></span>Designed
                    for Mobile </dt>
            </dl>
        </div>
    </div>
    <div class="box">
        <h3>Quick Tips</h3>
        <div class="boxContent">
            <dl>
                <dt><span class="ui-icon ui-icon-lightbulb" style="display: inline-block"></span>Not sure which program to use? </dt>
                <dd>Try search, e.g. <em>pull</em>.
                </dd>
                <dt><span class="ui-icon ui-icon-lightbulb" style="display: inline-block"></span>Frequently used programs </dt>
                <dd>Enter the code, e.g. <em>BOX</em>, to directly launch the program.
                </dd>
                <dt><span class="ui-icon ui-icon-lightbulb" style="display: inline-block"></span>Know the number of the program?</dt>
                <dd>Enter the number, e.g. <em>4</em> or <em>4a</em> to launch it. Remember that the number is subject to change.</dd>
            </dl>
        </div>
    </div>
}
@*@section scripts
{
    <script src="@Links_DcmsMobile.DcmsMobile.Scripts.launcher_desktop_js" type="text/javascript"></script>
    <style type="text/css">
        .ui-autocomplete {
            font-size: 0.8em !important;
            max-height: 50%;
            overflow-y: auto; /* prevent horizontal scrollbar */
            overflow-x: hidden; /* add padding to account for vertical scrollbar */
            padding-right: 20px;
        }

        li {
            margin: 0.8em;
        }
    </style>
}*@
