<!--This document is HTML5 Validated by "W3C Markup Validation Service" at http://validator.w3.org/ on 15 Dec 2014 by apanwar-->
@model DcmsMobile.PickWaves.Areas.PickWaves.CreateWave.IndexViewModel
@{
    ViewBag.Title = string.Format("Create Pick Waves for {0} {1}", Model.CustomerName, Model.CustomerId);
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}


@section applinks{
    <li title="This report will display all PO or Waves with no. of boxes for 23008 Customer.">
        <a href="@(string.Format("{0}?customer_id={1}", DcmsMobile.PickWaves.Areas.PickWaves.CreateWave.IndexViewModel.OrderSummaryReportUrl, Model.CustomerId))"
           target="report">
            <span class="glyphicon glyphicon-new-window"></span>110.08: Order summary report
        </a>

    </li>
    <li>
        <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Index())">Change Customer</a>
    </li>
    <li>
        <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Customer(Model.CustomerId))">All Pick Waves of <em>@Html.DisplayFor(m => m.CustomerName) (@Html.DisplayFor(m => m.CustomerId))</em></a>

    </li>
}

<div class="container">
    <h2 style="margin-top:0;">
        Create Pick Wave <small> @Html.DisplayFor(m => m.CustomerId): @Html.DisplayFor(m => m.CustomerName)</small>
    </h2>

    <div class="panel panel-default">
        @if (Model.LastBucketId.HasValue)
        {
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <span class="h4">Pick Wave @Html.DisplayFor(m => m.LastBucketId)</span>
                        <br />
                        <a href="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.Wave(Model.LastBucketId.Value))" >
                            @*<span class="glyphicon glyphicon-eye-open"></span>*@
                            View
                        </a>
                    </div>
                    <div class="col-md-6">
                        Contains <span class="h4">@Html.DisplayFor(m => m.PickslipCount) pickslips</span>. Continue adding pickslips below
                        <br />
                        or
                        @Html.ActionLink("Create New Wave", MVC_PickWaves.PickWaves.CreateWave.Index(Model.CustomerId,
 Model.GroupDimIndex, Model.SubgroupDimIndex, Model.VwhId, null))
                    </div>
                    <div class="col-md-3">
                        <label>Pull From</label> @Html.DisplayFor(m => m.PullAreaShortName)
                        <br />
                        <label>Pitch From</label> @Html.DisplayFor(m => m.PitchAreaShortName)
                    </div>

                </div>

            </div>

        }
        <div class="panel-body">
            <form action="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.Index())" method="get" class="form-inline">
                <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.IndexParams.customerId" value="@Model.CustomerId" />
                <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.IndexParams.lastBucketId" value="@Model.LastBucketId" />
                <span class="h4">Add Pickslips</span>
                &nbsp;
                <p class="form-control-static">
                    Filter by VWH
                </p>
                @Html.DropDownList(MVC_PickWaves.PickWaves.CreateWave.IndexParams.vwhId, Model.VwhList, new
   {
       @class = "form-control"
   })
                <p class="form-control-static">
                    Group by
                </p>
                <select class="form-control" name="@MVC_PickWaves.PickWaves.CreateWave.IndexParams.groupDimIndex">
                    @for (var i = 0; i < Model.GroupDimensionList.Count; ++i)
                    {
                        <option @(string.IsNullOrWhiteSpace(Model.GroupDimensionList[i].Value) ? "disabled" : "")
                                @(Model.GroupDimensionList[i].Selected ? "selected" : "") value="@Model.GroupDimensionList[i].Value">
                            @Model.GroupDimensionList[i].Text
                        </option>

                    }
                </select>

                &nbsp;
                <p class="form-control-static">Then by</p>
                <select name="@MVC_PickWaves.PickWaves.CreateWave.IndexParams.subgroupDimIndex" class="form-control">
                    @for (var i = 0; i < Model.SubgroupDimensionList.Count; ++i)
                    {
                        <option @(string.IsNullOrWhiteSpace(Model.SubgroupDimensionList[i].Value) ? "disabled" : "")
                                @(Model.SubgroupDimensionList[i].Selected ? "selected" : "") value="@Model.SubgroupDimensionList[i].Value">
                            @Model.SubgroupDimensionList[i].Text
                        </option>
                    }
                </select>
                <button type="submit" class="btn btn-primary">
                    View
                </button>
            </form>

        </div>
        @if (Model.LastBucketId == null)
        {
            <div class="panel-footer">

                A new default pick wave will be automatically created for you when you add pickslips. You will be able to update the properties of the pick wave later.
            </div>
        }
    </div>


    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs bg-info" role="tablist">
            <li role="presentation">
                <a>@Model.GroupDimDisplayName &rarr;</a>
            </li>
            @{
                var activeTabIndex = Model.DimensionMatrix.FirstKeys.Select((p, i) => p == Model.GroupDimVal ? i : -1).First();
                if (activeTabIndex == -1)
                {
                    activeTabIndex = 0;
                }
            }
            @for (var i = 0; i < Model.DimensionMatrix.FirstKeys.Count; ++i)
            {

                <li role="presentation" class="@(i == activeTabIndex  ? "active" : null)">

                    <a href="@("#content_" + i.ToString())" aria-controls="@("content_" + i.ToString())" role="tab" data-toggle="tab">
                        @Model.DimensionMatrix.FirstKeys[i]
                    </a>
                </li>
            }
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            @for (var i = 0; i < Model.DimensionMatrix.FirstKeys.Count; ++i)
            {
                <div role="tabpanel" class="tab-pane @(i == activeTabIndex ? "active" : null)" id="@("content_" + i.ToString())">

                    <blockquote class="text-center">@Model.GroupDimDisplayName @Model.DimensionMatrix.FirstKeys[i]</blockquote>

                    <form role="form" action="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDim())" method="post">
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.bucketId" value="@Model.LastBucketId" />
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.customerId" value="@Model.CustomerId" />
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.vwhId" value="@Model.VwhId" />
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.groupDimIndex" value="@Model.GroupDimIndex" />
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.subgroupDimIndex" value="@Model.SubgroupDimIndex" />
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.groupDimVal" value="@Model.DimensionMatrix.FirstKeys[i]" />
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-success">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 class="list-group-item-heading">
                                            @Model.SubgroupDimDisplayName
                                        </h4>
                                    </div>

                                    <div class="col-md-offset-4 col-md-4">
                                        <button type="submit" class="btn btn-primary pull-right btn-xs" disabled>
                                            Action
                                        </button>
                                    </div>
                                </div>
                            </li>

                            @for (var j = 0; j < Model.DimensionMatrix[Model.DimensionMatrix.FirstKeys[i]].Count; ++j)
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4 class="list-group-item-heading">
                                                @Model.DimensionMatrix[Model.DimensionMatrix.FirstKeys[i]][j].Key
                                            </h4>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.PickslipList(Model.CustomerId, Model.GroupDimIndex,
Model.DimensionMatrix.FirstKeys[i],
Model.SubgroupDimIndex, Model.DimensionMatrix[Model.DimensionMatrix.FirstKeys[i]][j].Key, Model.VwhId, Model.LastBucketId))">
                                                @Model.DimensionMatrix[Model.DimensionMatrix.FirstKeys[i]][j].Value.PickslipCount Pickslips
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary pull-right btn-xs" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.subgroupDimVal"
                                                    value="@Model.DimensionMatrix[Model.DimensionMatrix.FirstKeys[i]][j].Key">
                                                Add @Model.DimensionMatrix[Model.DimensionMatrix.FirstKeys[i]][j].Value.OrderedPieces pcs
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </form>


                </div>
            }

        </div>
    </div>

</div>
