@model DcmsMobile.PickWaves.Areas.PickWaves.CreateWave.IndexNoPickslipsViewModel
@{
    ViewBag.Title = "No data found !";
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}

@section applinks{
    <li title="This report will display all PO or Waves with no. of boxes for 23008 Customer.">
        <a href="@(string.Format("{0}?customer_id={1}", DcmsMobile.PickWaves.Areas.PickWaves.CreateWave.IndexViewModel.OrderSummaryReportUrl, Model.CustomerId))"
           target="report">
            <span class="glyphicon glyphicon-new-window"></span>110.08: Order summary report
        </a>

    </li>
    <li>
        <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Index())">Change Customer</a>
    </li>
    <li>
        <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Customer(Model.CustomerId))">All Pick Waves of <em>(@Html.DisplayFor(m => m.CustomerId))</em></a>

    </li>
    <li class="divider"></li>
}

<div class="container">
    <div class="text-center text-info">
        <span class=" hidden-xs hidden-sm" style="font-size:100px;opacity:.2;">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            No pickslip to add !
        </span>
        <span class="visible-xs visible-sm h3" style="opacity:.2;">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            No pickslip to add !
        </span>
        <h3 class=" hidden-xs hidden-sm">
            All Pickslips for Customer <strong>@Model.CustomerId: @Model.CustomerName</strong> have been added to the Pick Wave <strong>@Model.BucketId</strong>.
        </h3>
        <h5 class="visible-xs visible-sm">
            All Pickslips for Customer <strong>@Model.CustomerId: @Model.CustomerName</strong> have been added to the Pick Wave <strong>@Model.BucketId</strong>.
        </h5>
    </div>
    <hr/>
    <div class="list-group">
        <a href="#" class="list-group-item active  text-center">          
                What would you like to do now ?           
        </a>
        <a class="list-group-item" href="@Url.Action(MVC_PickWaves.PickWaves.Home.Search(Model.CustomerId))">
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
           See other Pick Waves of Customer <strong>@Model.CustomerId</strong>
        </a>
        <a class="list-group-item" href="@Url.Action(MVC_PickWaves.PickWaves.Home.Search(Model.BucketId.ToString()))">
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
           See Pick Wave of <strong>@Model.BucketId</strong>
        </a>
        <a class="list-group-item" href="@Url.Action(MVC_PickWaves.PickWaves.Home.Index())">
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            See Customers for whom new Pick Waves can be created            
        </a>
    </div>
</div>


