<!--This document is HTML5 Validated by "W3C Markup Validation Service" at http://validator.w3.org/ on 15 Dec 2014 by apanwar-->
@model DcmsMobile.PickWaves.Areas.PickWaves.CreateWave.IndexViewModel
@{
    ViewBag.Title = string.Format("Create Pick Waves for {0} {1}", Model.CustomerName, Model.CustomerId);
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}


@section applinks{
    <li title="This report will display all PO or Waves with no. of boxes for 23008 Customer.">
        <a href="@(string.Format("{0}?customer_id={1}", DcmsMobile.PickWaves.Areas.PickWaves.CreateWave.IndexViewModel.OrderSummaryReportUrl, Model.CustomerId))"
           target="report">
            <span class="glyphicon glyphicon-new-window"></span>110.08: Order summary report
        </a>

    </li>
    <li>
        <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Index())">Change Customer</a>
    </li>
    <li>
        <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Customer(Model.CustomerId))">All Pick Waves of <em>@Html.DisplayFor(m => m.CustomerName) (@Html.DisplayFor(m => m.CustomerId))</em></a>

    </li>
}

<div class="container">
    <h2 style="margin-top:0;">
        Create Pick Wave <small> @Html.DisplayFor(m => m.CustomerId): @Html.DisplayFor(m => m.CustomerName)</small>
    </h2>

    <div class="panel panel-success">
        @if (Model.LastBucketId.HasValue)
        {
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3">
                        <span class="h4">Pick Wave @Html.DisplayFor(m => m.LastBucketId)</span>
                        <div class="btn-group btn-group-xs" role="group">
                            <a href="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.Wave(
            new DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.WaveViewModel
                (Model.LastBucketId.Value, DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.SuggestedNextActionType.UnfreezeMe)))" class="btn btn-default">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                View
                            </a>
                            <a href="@Url.Action(MVC_PickWaves.PickWaves.ManageWaves.EditableWave(
            new DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.WaveViewModel
             (Model.LastBucketId.Value, DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.SuggestedNextActionType.CancelEditing)))" class="btn btn-default">
                                <span class="glyphicon glyphicon-edit"></span>
                                Edit
                            </a>

                        </div>
                    </div>
                    <div class="col-md-6">
                        Contains <span class="h4">@Html.DisplayFor(m => m.PickslipCount) pickslips</span>. Continue adding pickslips below or
                        @Html.ActionLink("Create New Wave", MVC_PickWaves.PickWaves.CreateWave.Index(Model.CustomerId,
               Model.RowDimIndex, Model.ColDimIndex, Model.VwhId, null))
                    </div>
                    <div class="col-md-3">
                        <label>Pull From</label> @Html.DisplayFor(m => m.PullAreaShortName)
                        &bull;
                        <label>Pitch From</label> @Html.DisplayFor(m => m.PitchAreaShortName)
                    </div>

                </div>

            </div>

        }
        <div class="panel-body">
            <form action="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.Index())" method="get" class="form-inline">
                @Html.HiddenFor(m => m.CustomerId)
                <span class="h4">Add Pickslips</span>
                &nbsp;
                <p class="form-control-static">
                    Pickslips of VWH
                </p>
                @Html.DropDownListFor(m => m.VwhId, Model.VwhList, new
   {
       @class = "form-control"
   })

                @Html.HiddenFor(m => m.RowDimIndex, new
   {
       id = "hfRowDim"
   })
                &nbsp;
                <p class="form-control-static">View By</p>
                <select name="@Html.NameFor(m => m.ColDimIndex)" class="form-control">
                    @for (var i = 0; i < Model.ColDimensionList.Count; ++i)
                    {
                        <option @(string.IsNullOrWhiteSpace(Model.ColDimensionList[i].Value) ? "disabled" : "")
                                @(Model.ColDimensionList[i].Selected ? "selected" : "") value="@Model.ColDimensionList[i].Value">
                            @Model.ColDimensionList[i].Text
                        </option>
                    }
                </select>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Apply
                </button>
                <small><em>Note*: You will add groups of pickslips to a pick wave.</em></small>
            </form>

        </div>
        @if (Model.LastBucketId == null)
        {
            <div class="panel-footer">
                
                A new default pick wave will be automatically created for you when you add pickslips. You will be able to update the properties of the pick wave later.
            </div>
        }
    </div>


    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs bg-info" role="tablist">
            <li role="presentation">
                <div class="form-inline" style="margin-right:1em; margin-left:0.5em;margin-top:4px;">
                    <select class="form-control" id="ddlRowDim">
                        @for (var i = 0; i < Model.RowDimensionList.Count; ++i)
                        {
                            <option @(string.IsNullOrWhiteSpace(Model.RowDimensionList[i].Value) ? "disabled" : "")
                                    @(Model.RowDimensionList[i].Selected ? "selected" : "") value="@Model.RowDimensionList[i].Value">
                                @Model.RowDimensionList[i].Text
                            </option>

                        }
                    </select>
                </div>
            </li>
            @for (var i = 0; i < Model.DimensionValues.FirstKeys.Count; ++i)
            {
                <li role="presentation" class="@(i == 0 ? "active" : null)">
                    <a href="@("#content_" + i.ToString())" aria-controls="@("content_" + i.ToString())" role="tab" data-toggle="tab">
                        @Model.DimensionValues.FirstKeys[i]
                    </a>
                </li>
            }
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            @for (var i = 0; i < Model.DimensionValues.FirstKeys.Count; ++i)
            {
                <div role="tabpanel" class="tab-pane @(i == 0 ? "active" : null) " id="@("content_" + i.ToString())">

                    <blockquote class="text-center">@Model.RowDimDisplayName @Model.DimensionValues.FirstKeys[i]</blockquote>

                    <form role="form" action="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDim())" method="post">
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.bucketId" value="@Model.LastBucketId" />
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.customerId" value="@Model.CustomerId" />
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.vwhId" value="@Model.VwhId" />
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.rowDimIndex" value="@Model.RowDimIndex" />
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.colDimIndex" value="@Model.ColDimIndex" />
                        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.rowDimVal" value="@Model.DimensionValues.FirstKeys[i]" />
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-success">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 class="list-group-item-heading">
                                            @Model.ColDimDisplayName
                                        </h4>
                                    </div>

                                    <div class="col-md-offset-4 col-md-4">
                                        <button type="submit" class="btn btn-primary pull-right btn-xs" disabled>
                                            Action
                                        </button>
                                    </div>
                                </div>
                            </li>

                            @for (var j = 0; j < Model.DimensionValues[Model.DimensionValues.FirstKeys[i]].Count; ++j)
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4 class="list-group-item-heading">
                                                @Model.DimensionValues[Model.DimensionValues.FirstKeys[i]][j].Key
                                            </h4>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.PickslipList(Model.CustomerId, Model.RowDimIndex,
                           Model.DimensionValues[Model.DimensionValues.FirstKeys[i]][j].Key,                                            
                Model.ColDimIndex, Model.DimensionValues[Model.DimensionValues.FirstKeys[i]][j].Key, Model.VwhId, Model.LastBucketId))">
                                                @Model.DimensionValues[Model.DimensionValues.FirstKeys[i]][j].Value.PickslipCount Pickslips
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary pull-right btn-xs" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.colDimVal"
                                                    value="@Model.DimensionValues[Model.DimensionValues.FirstKeys[i]][j].Key">
                                                Add @Model.DimensionValues[Model.DimensionValues.FirstKeys[i]][j].Value.OrderedPieces pcs
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            }





                            @*@foreach (var item in Model.Rows[i].PickslipCounts)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="list-group-item-heading">
                                @item.Key
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <a href="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.PickslipList(Model.CustomerId,Model.RowDimIndex,Model.Rows[i].DimensionValue,
                Model.ColDimIndex, item.Key, Model.VwhId, Model.LastBucketId))">
                                @item.Value Pickslips
                            </a>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary pull-right btn-xs" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.colDimVal" value="@item.Key">
                                Add @Model.Rows[i].OrderedPieces[item.Key] pcs
                            </button>
                        </div>
                    </div>
                </li>
            }*@
                        </ul>
                    </form>


                </div>
            }

        </div>
    </div>

</div>


@section script {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlRowDim').on('change', function (e) {
                $('#hfRowDim').val($(e.target).val()).closest('form').submit();
            });
        });
    </script>
}

