<!--This document is HTML5 Validated by "W3C Markup Validation Service" at http://validator.w3.org/ on 15 Dec 2014 by apanwar-->
@model DcmsMobile.PickWaves.Areas.PickWaves.CreateWave.IndexViewModel
@{
    ViewBag.Title = string.Format("Create Pick Waves for {0} {1}", Model.CustomerName, Model.CustomerId);
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}


@section applinks{
    <li title="This report will display all PO or Waves with no. of boxes for 23008 Customer.">
        <a href="@(string.Format("{0}?customer_id={1}", DcmsMobile.PickWaves.Areas.PickWaves.CreateWave.IndexViewModel.OrderSummaryReportUrl, Model.CustomerId))"
           target="report">
            <span class="glyphicon glyphicon-new-window"></span>110.08: Order summary report
        </a>

    </li>
    <li>
        <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Index())">Change Customer</a>
    </li>
    <li>
        <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Customer(Model.CustomerId))">All Pick Waves of <em>@Html.DisplayFor(m => m.CustomerName) (@Html.DisplayFor(m => m.CustomerId))</em></a>

    </li>
}
@helper OptionAttributes(SelectListItem item, DcmsMobile.PickWaves.Areas.PickWaves.CreateWave.PickslipDimension selectedIndex)
{
    @:value="@item.Value"


    if (string.IsNullOrWhiteSpace(item.Value))
    {
        @:disabled="disabled"
    }
    else
    {
        if (item.Value == selectedIndex.ToString())
        {
            @:selected="selected"
        }
    }
}

<div class="container">
    <h2 style="margin-top:0;">
       Create Pick Wave <small> @Html.DisplayFor(m => m.CustomerId): @Html.DisplayFor(m => m.CustomerName)</small>

    </h2>

    <div class="well well-sm">
        @if (Model.LastBucketId == null)
        {
            <fieldset>
                <legend class="text-success">Create New Pick Wave</legend>

                <p>When you add picklips, a new default pick wave will be created for you. You will be able to edit the properties of the pick wave later.</p>

                @*<form class="form-horizontal" role="form">
                    @if (Model.PullAreas.Count > 0)
                    {
                    <div class="form-group">
                        <label for="ddlPullFrom" class="col-sm-2 control-label">Pull From</label>
                        <div class="col-sm-7">
                            @Html.DropDownListFor(m => m.PullAreaId, Model.PullAreas, "(Decide Later)", new
               {
                   @class = "form-control",
                   id = "ddlPullFrom"
               })
                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked="@Model.RequiredBoxExpediting" value="True" name="@Html.NameFor(m => m.RequiredBoxExpediting)">
                                    Require Box Expediting
                                </label>
                            </div>
                        </div>
                    </div>
                    }
                    @if (Model.PitchAreas.Count > 0)
                    {
                    <div class="form-group">
                        <label for="ddlPitchFrom" class="col-sm-2 control-label">Pull From</label>
                        <div class="col-sm-7">
                            @Html.DropDownListFor(m => m.PitchAreaId, Model.PitchAreas, "(Decide Later)", new
               {
                   @class = "form-control",
                   id = "ddlPitchFrom"
               })
                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked="@Model.QuickPitch" value="True" name="@Html.NameFor(m => m.QuickPitch)">
                                    Quick Pitch
                                </label>
                            </div>
                        </div>
                    </div>
                    }
                </form>*@

            </fieldset>
        }
        else
        {
            <fieldset>
                <legend class="text-success">
                    Pick Wave @Html.DisplayFor(m => m.LastBucketId) <small>
                        @Html.ActionLink("View", MVC_PickWaves.PickWaves.ManageWaves.Wave(
            new DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.WaveViewModel
                (Model.LastBucketId.Value, DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.SuggestedNextActionType.UnfreezeMe))) /
                        @Html.ActionLink("Edit", MVC_PickWaves.PickWaves.ManageWaves.EditableWave(
            new DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.WaveViewModel
             (Model.LastBucketId.Value, DcmsMobile.PickWaves.Areas.PickWaves.ManageWaves.SuggestedNextActionType.CancelEditing)))
                    </small>
                </legend>
                <p>
                    This pick wave contains <span class="h4">@Html.DisplayFor(m => m.PickslipCount) pickslips</span>. Continue adding pickslips below or
                    @Html.ActionLink("Create New Wave", MVC_PickWaves.PickWaves.CreateWave.Index(Model.CustomerId,
               Model.RowDimIndex, Model.ColDimIndex, Model.VwhId, null))
                </p>
                <dl class="dl-horizontal">
                    <dt>Pull From</dt>
                    <dd>@Html.DisplayFor(m => m.PullAreaShortName)</dd>
                    <dt>Pitch From</dt>
                    <dd>@Html.DisplayFor(m => m.PitchAreaShortName)</dd>
                </dl>
            </fieldset>
        }
        <fieldset>
            <legend class="text-success">Add Pickslips</legend>
            <p>You will add groups of pickslips to a pick wave.</p>
            <form action="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.Index())" method="get" class="form-inline">
                @Html.HiddenFor(m => m.CustomerId)
                <p class="form-control-static">Pickslips of Vwh</p>
                @Html.DropDownListFor(m => m.VwhId, Model.VwhList, new
   {
       @class = "form-control"
   })

                @Html.HiddenFor(m => m.RowDimIndex, new
   {
       id = "hfRowDim"
   })
                <p class="form-control-static">Grouped By</p>
                <select name="@Html.NameFor(m => m.ColDimIndex)" class="form-control">
                    @foreach (var item in Model.ColDimensionList)
                    {
                        <option @OptionAttributes(item, Model.ColDimIndex)>
                            @item.Text
                        </option>
                    }
                </select>
                <button type="submit" class="btn btn-primary">Apply</button>
            </form>
        </fieldset>
    </div>
    <hr />
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <div class="form-inline" style="margin-right:1em; margin-left:0.5em">
                    <select class="form-control" id="ddlRowDim">
                        @foreach (var item in Model.RowDimensionList)
                        {
                            <option @OptionAttributes(item, Model.RowDimIndex)>@item.Text</option>
                        }
                    </select>
                </div>
            </li>
            @for (var i = 0; i < Model.Rows.Count; ++i)
            {
                <li role="presentation" class="@(i == 0 ? "active" : null)">
                    <a href="@("#content_" + i.ToString())" aria-controls="@("content_" + i.ToString())" role="tab" data-toggle="tab">
                        @Model.Rows[i].DimensionDisplayValue
                    </a>
                </li>
            }
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            @for (var i = 0; i < Model.Rows.Count; ++i)
            {
                <div role="tabpanel" class="tab-pane @(i == 0 ? "active" : null)" id="@("content_" + i.ToString())">
                    <div class="panel panel-success" style="margin-left:1mm">
                        <div class="panel-heading"><h3 class="panel-title">@Model.RowDimDisplayName @Model.Rows[i].DimensionDisplayValue</h3></div>
                        <div class="panel-body">
                            <ul class="list-group">
                                @foreach (var item in Model.Rows[i].PickslipCounts)
                                {
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4">
                                                @Model.ColDimDisplayName @item.Key
                                            </div>
                                            <div class="col-md-4">
                                                <a href="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.PickslipList(Model.CustomerId,Model.RowDimIndex,Model.Rows[i].DimensionValue,
                                Model.ColDimIndex, item.Key, Model.VwhId, Model.LastBucketId))">@item.Value&nbsp; pickslips</a>
                                    </div>
                                    <div class="col-md-4">
                                        <form role="form" action="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDim())" method="post">
                                            <input type="text" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.bucketId" value="@Model.LastBucketId" />
                                            <input type="text" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.customerId" value="@Model.CustomerId" />
                                            <input type="text" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.vwhId" value="@Model.VwhId" />

                                            <input type="text" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.rowPair" value="ToDo" />
                                            @*<input type="hidden" name="@Html.NameFor(m => m.RowDimVal)" value="@Model.Rows[i].DimensionValue" />*@

                                            <input type="text" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsOfDimParams.colPair" value="ToDo" />                                          
                                            @*<input type="hidden" name="@Html.NameFor(m => m.ColDimVal)" value="@item.Key" />*@

                                            <button type="submit" class="btn btn-primary pull-right">Add @Model.Rows[i].OrderedPieces[item.Key] pcs</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            }

        </div>
    </div>

</div>


@section script {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlRowDim').on('change', function (e) {
                $('#hfRowDim').val($(e.target).val()).closest('form').submit();
            });
        });
    </script>
}

