<!--This document is HTML5 Validated by "W3C Markup Validation Service" at http://validator.w3.org/ on 15 Dec 2014 by apanwar-->
@model DcmsMobile.PickWaves.Areas.PickWaves.CreateWave.PickslipListViewModel
@{
    ViewBag.Title = "Add Pickslips";
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}

@section applinks{
    <li>
        <a href="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.Index(Model.CustomerId,Model.RowDimIndex, Model.ColDimIndex, Model.VwhId, Model.BucketId))">
            Add more pickslip
        </a>

    </li>
    <li class="divider">
    </li>
}
<div class="container">
    <h2 style="margin-top:0;">
        Add Pickslips <small>@Html.DisplayFor(m => m.CustomerId) @Html.DisplayFor(m => m.CustomerName)</small>
    </h2>


    @if (Model.Bucket == null)
    {
        <blockquote>
            A new default pick wave will be automatically created for you when you add pickslips. You will be able to update the properties of the pick wave later.
        </blockquote>
    }
    else
    {
        @Html.Partial(MVC_PickWaves.PickWaves.SharedViews.Views._bucketModelPartial, Model.Bucket, new ViewDataDictionary
                               {
                                   {"IsAuthorized", Model.UserIsManager}
                               })
    }
    <ul class="list-inline">
        <li>Pickslips of </li>
        <li>@Html.DisplayFor(m => m.ColDimDisplayName) <em> @Html.DisplayFor(m => m.ColDimVal)</em></li>
        <li>@Html.DisplayFor(m => m.RowDimDisplayName) <em>@Html.DisplayFor(m => m.RowDimVal)</em></li>
        <li><abbr title="Virtual Warehouse">VWH</abbr> <em>@Model.VwhId</em></li>
        <li><a href="@Url.Action(MVC_PickWaves.PickWaves.CreateWave.Index(Model.CustomerId, Model.RowDimIndex, Model.ColDimIndex, Model.VwhId, Model.BucketId))">Change</a></li>
    </ul>
    @using (Html.BeginForm(MVC_PickWaves.PickWaves.CreateWave.AddPickslipsToBucket(), FormMethod.Post))
    {
        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsToBucketParams.bucketId" value="@Model.BucketId" />
        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsToBucketParams.customerId" value="@Model.CustomerId" />
        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsToBucketParams.rowDimVal" value="@Model.RowDimVal" />
        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsToBucketParams.colDimVal" value="@Model.ColDimVal" />
        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsToBucketParams.rowDimIndex" value="@Model.RowDimIndex" />
        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsToBucketParams.colDimIndex" value="@Model.ColDimIndex" />
        <input type="hidden" name="@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsToBucketParams.vwhId" value="@Model.VwhId" />
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="list-group-item-heading">
                            Pickslip <button class="btn btn-primary" type="submit" @(Model.UserIsManager ? "" : "disabled=disabled")>
                                Add Selected
                            </button>
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <abbr title="Purchase Order">PO</abbr>
                        &bull; <abbr title="Distribution Center">DC</abbr> &bull; Store
                    </div>
                    <div class="col-md-4">
                        Imported
                        <span class="badge pull-right">Start - DC Cancel</span>
                    </div>
                </div>
            </li>
            @for (var i = 0; i < Model.PickslipList.Count; ++i)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="list-group-item-heading">
                                <input type="checkbox" name='@MVC_PickWaves.PickWaves.CreateWave.AddPickslipsToBucketParams.pickslips' value="@Model.PickslipList[i].PickslipId" />
                                <a href='@Model.PickslipList[i].UrlInquiryPickslip' target="_inquiry"
                                   class="pickslip">@Html.DisplayFor(m => m.PickslipList[i].PickslipId)</a>

                                @*<a href='@Url.Content(string.Format("~/Inquiry/Home/InquiryIndex?id={0}", Model.PickslipList[i].PickslipId))' target="PO">@Model.PickslipList[i].PickslipId</a>*@

                            </h4>
                        </div>
                        <div class="col-md-4">
                            <a href='@Model.PickslipList[i].UrlInquiryPurchaseOrder' target="_inquiry"
                               class="Po">@Html.DisplayFor(m => m.PickslipList[i].PurchaseOrder)</a>
                            @*<a href='@Url.Content(string.Format("~/Inquiry/Home/InquiryIndex?id={0}", Model.PickslipList[i].PurchaseOrder))' target="PO">@Model.PickslipList[i].PurchaseOrder</a>*@
                            &bull; @Html.DisplayFor(m => m.PickslipList[i].CustomerDcId) &bull; @Html.DisplayFor(m => m.PickslipList[i].CustomerStoreId)
                        </div>
                        <div class="col-md-4">
                            @Html.DisplayFor(m => m.PickslipList[i].PickslipImportDate)
                            <span class="badge pull-right">@Html.DisplayFor(m => m.PickslipList[i].StartDate) - @Html.DisplayFor(m => m.PickslipList[i].DcCancelDate)</span>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
</div>
@if (Model.Bucket != null)
{
    @Html.Partial(MVC_PickWaves.PickWaves.SharedViews.Views._bucketModelModalPartial)
}
@section script {
    @if (Model.Bucket != null)
    {
        <script src="@Links_PickWaves.Areas.PickWaves.CreateWave.PickslipList_js"></script>
    }
}

