@*Inspired by http://line25.com/tutorials/design-and-code-a-cool-iphone-app-website-in-html5*@
@model DcmsMobile.Models.ViewModelBase
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
    <link rel="stylesheet" href="@Links_DcmsMobile.Content.jquery_mobile_1_4_2_css" />
    <script src="@Links_DcmsMobile.Scripts.jquery_1_8_2_js"></script>
    <script src="@Links_DcmsMobile.Scripts.jquery_mobile_1_4_2_js"></script>

    <script src=jquery.mobile/jquery.mobile.js></script>
    @RenderSection("head", false)
</head>
<body>
    <div data-role="page">
        <header data-role="header">
            <h1>@ViewBag.Title</h1>
            @if (!string.IsNullOrWhiteSpace(Model.HomeUrl))
            {
                <a href="@Model.HomeUrl" class="ui-btn ui-icon-home ui-btn-icon-left">Home</a>
            }
            @if (!string.IsNullOrWhiteSpace(Model.LoginUrl))
            {
                <a href="@Model.LoginUrl" class="ui-btn ui-icon-user ui-btn-icon-left">Login</a>
            }
            @if (!string.IsNullOrWhiteSpace(Model.LogoffUrl))
            {
                <a href="@Model.LogoffUrl">Logoff @ViewContext.HttpContext.User.Identity.Name</a>
            }
        </header>

        <section data-role="content">
            <aside>
                @Html.StatusSummary()
                @Html.ValidationSummary()
            </aside>
            @RenderBody()
        </section>
        <div data-role="footer">
            <span class="ui-title"></span>
            @if (!string.IsNullOrWhiteSpace(Model.DiagnosticUrl))
            {
                <a href="@Model.DiagnosticUrl">Diagnostics</a>
            }
            @if (!string.IsNullOrWhiteSpace(Model.PasswordUrl))
            {
                <a href="@Model.PasswordUrl">Change Password</a>
            }
        </div>

    </div>

    @*Can add capability to render other pages here*@
</body>
</html>
