@*Inspired by http://line25.com/tutorials/design-and-code-a-cool-iphone-app-website-in-html5*@
@model DcmsMobile.Models.ViewModelBase
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
    <link rel="stylesheet" href="@Links_DcmsMobile.Content.jquery_mobile_1_4_2_css" />
    <script src="@Links_DcmsMobile.Scripts.jquery_1_8_2_js"></script>
    <script src="@Links_DcmsMobile.Scripts.jquery_mobile_1_4_2_js"></script>

    <script src=jquery.mobile/jquery.mobile.js></script>
    @RenderSection("head", false)
</head>
<body>
    <div data-role="page">
        <header data-role="header">
            <h1>DCMS Main Menu</h1>
            @foreach (var choice in Model.MasterMenuItems)
            {
                <a href="@choice.Url"><small>@choice.Name</small></a>
            }
        </header>
        <section data-role="content">
            <aside>
                @Html.StatusSummary()
                @Html.ValidationSummary()
            </aside>
            @RenderBody()
        </section>
        @RenderSection("footer", false)
    </div>

    @*Can add capability to render other pages here*@
</body>
</html>

