@*Inspired by http://line25.com/tutorials/design-and-code-a-cool-iphone-app-website-in-html5*@ 
@model DcmsMobile.Models.ViewModelBase
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
    <link rel="stylesheet" href="@Links_DcmsMobile.Content.jquery_mobile_1_4_2_css" />
    <script src="@Links_DcmsMobile.Scripts.jquery_1_8_2_js"></script>
    <script src="@Links_DcmsMobile.Scripts.jquery_mobile_1_4_2_js"></script>

    <script src=jquery.mobile/jquery.mobile.js></script>
</head>
<body>
    <header>
        <h1>This is phone layout</h1>
    </header>
    <aside>
        @Html.StatusSummary()
        @Html.ValidationSummary()
    </aside>
    <section>
        @RenderBody()
    </section>
</body>
</html>

