@model DcmsMobile.CartonManager.ViewModels.SoundModel
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="@Links_CartonManager.Areas.CartonManager.Content.CartonManager_all_css" rel="stylesheet" type="text/css" />
    <link href="@Links_CartonManager.Content.themes.Start1_10_0.jquery_ui_css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="outer">
        <div id="menu">
            <ul>
                <li class="banner"><span>DCMS Connect - Carton Manager</span></li>
                <li><a href="@Url.Content("~")">DCMS Connect Home</a></li>
                <li><a href="@Url.Action(MVC_CartonManager.CartonManager.Home.Index())">Change UI</a></li>
                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <li style="color: White">@CartonManagerResource.Welcome @ViewContext.HttpContext.User.Identity.Name</li>
                }
                <li><a href="@Url.Action(MVC_CartonManager.CartonManager.Home.Tutorial())">Tutorial</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="header">
                <h1>
                    @ViewBag.Title
                </h1>
                @if (ViewBag.Subtitle != null)
                {
                    <h2>@ViewBag.Subtitle</h2>
                }
            </div>
            @RenderBody()
        </div>
        <div id="footer">
            <p>
                Copyright &copy; 2012 Eclipse Systems <a href="http://www.eclsys.com" target="_blank">http://www.eclsys.com</a>
            </p>
        </div>
    </div>
    <div>
        @if (Model != null)
        {
            @Html.Partial(MVC_CartonManager.CartonManager.Shared.Views._soundPartial, Model.Sound)
        }
    </div>

        <script src="@Links_CartonManager.Scripts.jquery_2_1_1_js" type="text/javascript"></script>

    <script>$.uiBackCompat = false;</script>
    <script src="@Links_CartonManager.Scripts.jquery_ui_1_10_0_js" type="text/javascript"></script>
    <script src="@Links_CartonManager.Scripts.jquery_validate_js" type="text/javascript"></script>
    <script src="@Links_CartonManager.Scripts.jquery_validate_unobtrusive_js" type="text/javascript"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript">
        var input = document.getElementById('scan');
        if (input) {
            input.value = '';
            input.focus();
        }
    </script>
</body>
</html>
@*$Id$*@