@*Inspired by http://line25.com/tutorials/design-and-code-a-cool-iphone-app-website-in-html5*@
@using System.Linq
@{
    var messages = StatusSummaryExtensions.StatusMessages(Html);
    var errors = StatusSummaryExtensions.ErrorMessages(Html);
    var homeUrl = Url.Action(MVC_DcmsMobile.Home.Index());
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
    <link rel="stylesheet" href="@Links_DcmsMobile.Content.jquery_mobile_1_4_2_css" />
    <script src="@Links_DcmsMobile.Scripts.jquery_2_0_3_js "></script>
    <script type="text/javascript">
        $(document).on("mobileinit", function () {
            //http://api.jquerymobile.com/global-config/
            $.mobile.ajaxEnabled = false;
            $.mobile.pushStateEnabled = false;
        });
    </script>
    <script src="@Links_DcmsMobile.Scripts.jquery_mobile_1_4_2_js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#layout_header').toolbar({ theme: "a" });
            $("#popupLayout,#layoutPopupSignoff").enhanceWithin().popup();
        });
    </script>
    <style type="text/css">
        .validation-summary-errors {
            color: Red;
        }

        .ui-state-highlight {
            border: 1px solid #fcd113;
            background: #f8da4e;
            color: #915608;
        }

        .controlgroup-textinput {
            padding-top: .22em;
            padding-bottom: .22em;
        }
    </style>
    @RenderSection("script", false)
</head>
<body>
    <header data-role="header" id="layout_header">
        <h1>@ViewBag.Title</h1>

        <div data-role="controlgroup" data-type="horizontal" class="ui-btn ui-btn-left ui-mini">
            @if (string.Compare(homeUrl, ViewContext.HttpContext.Request.Url.AbsolutePath, true) != 0)
            {
                <a href="@homeUrl" class="ui-btn ui-icon-home ui-btn-icon-left">Home</a>
            }
            <form action="@Url.Action(MVC_DcmsMobile.Home.Search())" method="get">
                <input 
                       name="@DcmsMobile.MainArea.Home.HomeController.SearchParams.id"
                       type="search" data-wrapper-class="controlgroup-textinput ui-btn" placeholder="Search DCMS" />
            </form>
        </div>

        <div data-role="controlgroup" data-type="horizontal" class="ui-btn ui-btn-right ui-mini">
            @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
            {
                <a href="#layoutPopupSignoff" data-rel="popup" data-transition="slidedown" class="ui-btn ui-icon-carat-d ui-btn-icon-right">@ViewContext.HttpContext.User.Identity.Name</a>
            }
            else
            {
                <a href="@Url.Action(MVC_DcmsMobile.Logon.Index())" class="ui-btn ui-icon-user ui-btn-icon-left">Sign In</a>
            }
            <a href="#popupLayout" data-rel="popup" data-transition="slidedown" class="ui-btn ui-icon-gear ui-btn-icon-notext">.</a>
        </div>
        @if (messages.Count > 0)
        {
            <div class="ui-body ui-mini ui-state-highlight">
                @for (var i = 0; i < messages.Count; ++i)
                {
                    <span class="@(i % 2 == 0 ? "" : "ui-bar-b")">@messages[i]</span>
                }
            </div>
        }
        @if (errors.Count > 0)
        {
            <ol class="validation-summary-errors ui-mini">
                @for (var i = 0; i < errors.Count; ++i)
                {
                    <li>@errors[i]</li>
                }
            </ol>
        }        
    </header>
    <a id="rclink" class="ui-bar ui-bar-a ui-btn" ></a>
    @RenderBody()

    <div data-role="popup" id="popupLayout" data-theme="b" class="ui-mini">
        <ul data-role="listview" data-inset="true">
            <li data-icon="info"><a href="@Links_DcmsMobile.MainArea.Home.Tutorial_pptx">Introduction (PPTX 3.5Mb)</a></li>
            <li><a href="@Url.Action(MVC_DcmsMobile.Diagnostic.Index())">Diagnostics</a></li>
            <li><a href="@Url.Content("~/trace.axd")" target="_trace">Trace Output</a></li>
        </ul>
    </div>

    <div data-role="popup" id="layoutPopupSignoff" data-theme="b" class="ui-mini">
        <ul data-role="listview" data-inset="true">
            <li>
                <a href="@Url.Action(MVC_DcmsMobile.Logon.Logoff())" class="ui-btn ui-icon-user ui-btn-icon-left">Sign out</a>
            </li>
            <li>
                <a href="@Url.Action(MVC_DcmsMobile.Logon.GetNewPassword())" class="ui-btn">Change Password</a>
            </li>
        </ul>
    </div>

</body>
</html>
