@*Inspired by http://line25.com/tutorials/design-and-code-a-cool-iphone-app-website-in-html5*@

@*This layout is designed to be used as the main layout of every Area.
    It has an optional section script which should used to render scripts and CSS. jquery scripts and CSS are already included by this layout.
    It also displays status summary and validation errors.

    This page should be compilatble without the existence of any web.config in the Views folder. For this reason, you will find that it explicitly inherits from WebViewPage

*@
@inherits System.Web.Mvc.WebViewPage
@using System.Linq
@using System.Web.Mvc
@{
    // Include file URLs. We cannot use T4MVC here because our objective is to have no dependence on DcmsMobile.dll
    var url_jquery_mobile_css = Url.Content("~/Content/jquery.mobile-1.4.2.css");
    var url_jquery_js = Url.Content("~/Scripts/jquery-2.1.1.js");
    var url_jquery_mobile_js = Url.Content("~/Scripts/jquery.mobile-1.4.2.js");

    var urlRcBase = System.Configuration.ConfigurationManager.AppSettings["RcUrl"];
    var messages = EclipseLibrary.Mvc.Html.StatusSummaryExtensions.StatusMessages(Html);
    var errors = EclipseLibrary.Mvc.Html.StatusSummaryExtensions.ErrorMessages(Html);
    var homeUrl = Url.Content("~");

    // We are the RC site if our URL is specified in web.config
    var isRc = !string.IsNullOrWhiteSpace(urlRcBase) && ViewContext.HttpContext.Request.Url.AbsoluteUri.TrimEnd('/').StartsWith(urlRcBase, StringComparison.InvariantCultureIgnoreCase);
}
@helper PublicUrl(string routeName)
{
    if (Url.RouteCollection[routeName] != null)
    {
        @Url.RouteUrl(routeName)
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
    <link rel="stylesheet" href="@url_jquery_mobile_css" />
    <script src="@url_jquery_js"></script>
    <script type="text/javascript">
        $(document).on("mobileinit", function () {
            // External pages should be loaded as normal and not via link hijacking.
            //http://api.jquerymobile.com/global-config/
            $.mobile.ajaxEnabled = false;
            $.mobile.pushStateEnabled = false;
        });
    </script>
    <script src="@url_jquery_mobile_js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Since the header is outside of all pages, it must be manually declared as toolbar.
            $('#layout_header').toolbar({ theme: "a" });
            $("#popupLayout,#layoutPopupSignoff").enhanceWithin().popup();
        });
    </script>
    <style type="text/css">
        .validation-summary-errors {
            color: Red;
        }

        .ui-state-highlight {
            border: 1px solid #fcd113;
            background: #f8da4e;
            color: #915608;
        }

        .controlgroup-textinput {
            padding-top: .22em;
            padding-bottom: .22em;
        }
    </style>
    @RenderSection("script", false)
</head>
<body>
    <header data-role="header" id="layout_header">
        <h1>
            DCMS Connect xx

            @if (isRc)
            {
                @:- Release Candidates
            }
        </h1>

        <div data-role="controlgroup" data-type="horizontal" class="ui-btn ui-btn-left ui-mini">
            @if (string.Compare(homeUrl, ViewContext.HttpContext.Request.Url.AbsolutePath, true) != 0)
            {
                @* Do not show the home icon if we are on home page*@
                <a href="@homeUrl" class="ui-btn ui-icon-home ui-btn-icon-left">Home</a>
            }
            <form action="@PublicUrl("DcmsMobile_Search")" method="get">
                <input name="id"
                       type="search" data-wrapper-class="controlgroup-textinput ui-btn" placeholder="Search DCMS" />
            </form>
        </div>

        @* Anonymous users get a button to login. Logged in users get a pop down to login or change password. *@
        <div data-role="controlgroup" data-type="horizontal" class="ui-btn ui-btn-right ui-mini">
            @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
            {
                <a href="#layoutPopupSignoff" data-rel="popup" data-transition="slidedown" class="ui-btn ui-icon-carat-d ui-btn-icon-right">@ViewContext.HttpContext.User.Identity.Name</a>
            }
            else
            {
                <a href="@PublicUrl(DcmsLibrary.Mvc.PublicRoutes.DcmsConnect_Logon)" class="ui-btn ui-icon-user ui-btn-icon-left">Sign In</a>
            }
            <a href="#popupLayout" data-rel="popup" data-transition="slidedown" class="ui-btn ui-icon-gear ui-btn-icon-notext">.</a>
        </div>
        @if (messages.Count > 0)
        {
            <div class="ui-body ui-mini ui-state-highlight">
                @for (var i = 0; i < messages.Count; ++i)
                {
                    <span class="@(i % 2 == 0 ? "" : "ui-bar-b")">@messages[i]</span>
                }
            </div>
        }
        @if (errors.Count > 0)
        {
            <ol class="validation-summary-errors ui-mini">
                @for (var i = 0; i < errors.Count; ++i)
                {
                    <li>@errors[i]</li>
                }
            </ol>
        }
    </header>

    @RenderBody()

    <div data-role="popup" id="popupLayout" data-theme="b" class="ui-mini">
        <ul data-role="listview" data-inset="true">
            @*<li data-icon="info"><a href="@Links_DcmsMobile.MainArea.Home.Tutorial_pptx">Introduction (PPTX 3.5Mb)</a></li>*@
            <li><a href="@PublicUrl("DcmsMobile_Diagnostic")">Diagnostics</a></li>
            <li><a href="@Url.Content("~/trace.axd")" target="_trace">Trace Output</a></li>
        </ul>
    </div>

    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
    {
        <div data-role="popup" id="layoutPopupSignoff" data-theme="b" class="ui-mini">
            <ul data-role="listview" data-inset="true">
                <li>
                    <a href="@PublicUrl(DcmsLibrary.Mvc.PublicRoutes.DcmsConnect_Logon)" class="ui-btn ui-icon-user ui-btn-icon-left">Sign out</a>
                </li>
                <li>
                    <a href="@PublicUrl(DcmsLibrary.Mvc.PublicRoutes.DcmsConnect_ChangePassword)" class="ui-btn">Change Password</a>
                </li>
            </ul>
        </div>
    }

</body>
</html>
