@model DcmsMobile.REQ2.ViewModels.ManageSkuViewModel

<table>
    <caption>Assigned Cartons Info</caption>
    <thead>
        <tr>
            <th style="text-align:center" colspan="4">
                SKU
            </th>
            <th style="text-align:center">
                Pulled Cartons
            </th>
            <th style="text-align:center">
                Total Cartons
            </th>
            <th style="text-align:center">
                Pulled Pieces
            </th>
            <th style="text-align:center">
                Total Pieces
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.AssignedCartonInfo.Count(); i++)
        {
            <tr class="@(i % 2 == 0 ? "rowA" : "rowB")">
                <td>
                    @Html.DisplayFor(m => m.AssignedCartonInfo[i].Sku.Style)
                </td>
                <td>
                    @Html.DisplayFor(m => m.AssignedCartonInfo[i].Sku.Color)
                </td>
                <td>
                    @Html.DisplayFor(m => m.AssignedCartonInfo[i].Sku.Dimension)
                </td>
                <td>
                    @Html.DisplayFor(m => m.AssignedCartonInfo[i].Sku.SkuSize)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(m => m.AssignedCartonInfo[i].PulledCartons)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(m => m.AssignedCartonInfo[i].TotalCartons)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(m => m.AssignedCartonInfo[i].PulledPieces)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(m => m.AssignedCartonInfo[i].TotalPieces)
                </td>
            </tr>
        }

    </tbody>

</table>
@*$Id$*@