@model DcmsMobile.REQ2.Areas.REQ2.Home.PullRequestViewModel
@{
    ViewBag.Title = "Request 123";
    Layout = MVC_REQ2.REQ2.SharedViews.Views._layoutReq2;
}

<div class="container">
    <h2>Request # @Html.DisplayFor(m => m.CtnResvId)</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Properties <a href="@Url.Action(MVC_REQ2.REQ2.Home.PropertyEditor(@Model.CtnResvId))">Edit</a></h3>
        </div>
        <div class="panel-body">
            <h4>Request of @Html.DisplayFor(m => m.QuantityRequested) pieces created by @Html.DisplayFor(m => m.RequestedBy) on @Html.DisplayFor(m => m.DateCreated)  @Html.DisplayFor(m => m.AssignedPieces) pieces assigned to request.</h4>

            <div class="col-md-6 col-sm-6">
                <dl class="dl-horizontal ">

                    <dt>Conversion</dt>
                    <dd>
                        @if (@Model.IsConversionRequest)
                        {
                            <span class="glyphicon glyphicon-ok"> </span>
                        }

                    </dd>

                    <dt>Source &rarr; Destination</dt>
                    <dd>@Html.DisplayFor(m => m.BuildingId)  @Html.DisplayFor(m => m.SourceAreaShortName) &rarr; @Html.DisplayFor(m => m.DestinationAreaShortName)</dd>

                    <dt>Quality</dt>

                    <dd>@Html.DisplayFor(m => m.SourceQuality)  @Html.Raw(Model.TargetQuality != null ? "&rarr;" : "") @Html.DisplayFor(m => m.TargetQuality) </dd>

                    <dt>Vwh</dt>
                    <dd>@Html.DisplayFor(m => m.SourceVwhId) &rarr; @Html.DisplayFor(m => m.TargetVwhId)</dd>

                    <dt>Remarks</dt>
                    <dd>@Html.DisplayFor(m => m.Remarks)</dd>
                </dl>
            </div>

            <div class="col-md-6 col-sm-6">
                <dl class="dl-horizontal">

                  
                    <dt>Priority</dt>
                    <dd>@Html.DisplayFor(m => m.Priority)</dd>

                    <dt>Sale type Id</dt>
                    <dd>@Html.DisplayFor(m => m.SaleTypeId)</dd>

                    <dt>Hung</dt>
                    <dd>@Html.DisplayFor(m => m.PackagingPreferance)</dd>

                    <dt>Price Season Code</dt>
                    <dd>@Html.DisplayFor(m => m.PriceSeasonCode)</dd>

                    <dt>Sewing Plant Code</dt>
                    <dd>@Html.DisplayFor(m => m.SewingPlantCode)</dd>

                </dl>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">SKU <a href="@Url.Action(MVC_REQ2.REQ2.Home.SkuEditor(@Model.CtnResvId))"> <span class="glyphicon glyphicon-plus"></span></a></h3>
        </div>
        <div class="panel-body">
          
           
               
               <ul class="list-group">
@for (var i = 0; i < Model.SkuList.Count; ++i)
{ 
  <li class="list-group-item">
      <button class="btn btn-default" type="button"  title="Remove SKU"
              data-priority-url="@Url.Action(MVC_REQ2.REQ2.Home.DeleteSku(@Model.SkuList[i].SourceSku.SkuId,@Model.CtnResvId))">
          <span class="glyphicon glyphicon-remove-sign"></span>
      </button>

    <span class="badge">@Html.DisplayFor(m => m.SkuList[i].RequestedPieces)</span>
      @Html.DisplayFor( m => m.SkuList[i].DisplaySku) &rarr; @Html.DisplayFor(m => m.SkuList[i].DisplayTargetSku)
  </li>
}
</ul>
           
        </div>
    </div>

</div>

@section script {
    <script type="text/javascript">

        //Deletes the SKU from request. 
        $(document).on('click', 'button[data-priority-url]', function (e) {
            var $li = $(this).closest('li');
            // Remove content first
  
           $.post($(e.target).data('priority-url')).done(function (data, textStatus, jqXHR) {
               $li.css("text-decoration", "line-through")
                //$li.remove();
            }).error(function () {
                alert('error');
            });
        });
   
    </script>
    }


