@model DcmsMobile.REQ2.Areas.REQ2.Home.RecentRequestsViewModel
@{
    ViewBag.Title = "Recent Requests";
    //Html.EnableClientValidation();
    //Html.EnableUnobtrusiveJavaScript();
    Layout = MVC_REQ2.REQ2.SharedViews.Views._layoutReq2;
}
@section script {
    @*<script src="@Links_REQ2.Areas.REQ2.Home.RecentRequest_all_js" type="text/javascript"></script>*@
}
@section applinks {
    <li>
        @Html.ActionLink("Create New Request", MVC_REQ2.REQ2.Home.CreateRequest())
    </li>
}
@*@section sidebar {
        <div class="box boxA">
            <div class="boxContent">
                @Html.Partial(MVC_REQ2.REQ2.Home.Views._existingRequestPartial, Model)
            </div>
        </div>
        <div class="box boxB">
            <div class="boxContent">
                <span style="display: inline-block" class="ui-icon ui-state-active ui-icon-document"></span>@Html.ActionLink("Create New Request", MVC_REQ2.REQ2.Home.CreateRequest())<br />
                <span style="display: inline-block" class="ui-icon ui-state-active ui-icon-arrowreturnthick-1-w" ></span>
                <a href="Repack/Home/RepackConversion">Convert from SHL</a><br />
                 <span style="display: inline-block" class="ui-icon ui-state-active ui-icon-arrowreturnthick-1-w"></span>
                <a href="CartonManager/Home/MarkReworkCompleteUi"  title ="Upgrade quality of cartons which have been converted to target SKU">Convert Cartons</a>
            </div>
        </div>
    }*@

<div class="container">
    <div class="page-header">
        <h2>Recent Inventory Requests <small>Pull<span class="glyphicon glyphicon-off"></span> <span class="hidden-xs"> </span>/Convert <span class="glyphicon glyphicon-refresh"></span> <span class="hidden-xs"> </span></small></h2>
    </div>
    <ul class="list-group">
        @for (var i = 0; i < Model.RecentRequests.Count; ++i)
        {
            <li class="list-group-item">
              
        
                @*<span class="glyphicon glyphicon-refresh"></span>*@
                <span class="label label-default">@Html.DisplayFor(m => m.RecentRequests[i].Header.Priorities)</span>
                <span class="list-group-item-heading h4">@Html.DisplayFor(m => m.RecentRequests[i].Header.ResvId)</span>

                <span class="list-group-item-text">@Html.DisplayFor(m => m.RecentRequests[i].Header.BuildingId) @Html.DisplayFor(m => m.RecentRequests[i].Header.SourceAreaShortName) &rarr; @Html.DisplayFor(m => m.RecentRequests[i].Header.DestinationAreaShortName)</span>
                @Html.DisplayFor(m => m.RecentRequests[i].Header.Remarks)
                <!-- Split button -->
                <div class="btn-group btn-group-sm">
                    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs">Add SKU</span></a>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>

                    </ul>
                </div>
                <span class="list-group-item-heading h4">@Html.DisplayFor(m => m.RecentRequests[i].Header.VirtualWareHouseId)</span>
                <span class="badge">@Html.DisplayFor(m => m.RecentRequests[i].AssignedPieces) of @Html.DisplayFor(m => m.RecentRequests[i].QuantityRequested) pieces assigned</span>

               

                @if (@Model.RecentRequests[i].Header.RequestForConversion)
                {
                  <span class="badge">Conversion Request Created on @Html.DisplayFor(m => m.RecentRequests[i].DateCreated) by  @Html.DisplayFor(m => m.RecentRequests[i].Header.RequestedBy) </span>

                }
                else
                {
                    <span class="badge">Created on @Html.DisplayFor(m => m.RecentRequests[i].DateCreated) by  @Html.DisplayFor(m => m.RecentRequests[i].Header.RequestedBy) </span>

                }

            </li>
        }
    </ul>

    @Html.Partial(MVC_REQ2.REQ2.Home.Views._recentRequestListPartial, Model)
</div>



@*<div data-delete-ajax-url="@Url.Action(MVC_REQ2.REQ2.Home.DeleteRequest())">
        @Html.Partial(MVC_REQ2.REQ2.Home.Views._recentRequestListPartial, Model)
    </div>
    <div id="ajaxError">
    </div>*@
@*$Id$*@