@model DcmsMobile.REQ2.Areas.REQ2.Home.RecentRequestsViewModel
@{
    ViewBag.Title = "Recent Requests";
    Layout = MVC_REQ2.REQ2.SharedViews.Views._layoutReq2;
}
@section script {
    @*<script src="@Links_REQ2.Areas.REQ2.Home.RecentRequest_all_js" type="text/javascript"></script>*@
}
@section applinks {
    <li>
        @Html.ActionLink("Create New Request", MVC_REQ2.REQ2.Home.CreateRequest())
    </li>
}

<div class="container">
    <h2 style="margin-top:0px" >
        Recent Inventory Requests <small>Pull<span class="glyphicon glyphicon-share-alt"></span> <span class="hidden-xs"> </span>/Convert <span class="glyphicon glyphicon-retweet"></span> <span class="hidden-xs"> </span></small>
    </h2>
    <ul class="list-group">

        @for (var i = 0; i < Model.RecentRequests.Count; ++i)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4">

                        
                        <h4 class="list-group-item-heading">
                            @if (@Model.RecentRequests[i].Header.RequestForConversion)
                            {
                                <span class="glyphicon glyphicon-retweet"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-share-alt"></span>
                            }

                          

                            <b>   @Html.DisplayFor(m => m.RecentRequests[i].Header.ResvId) </b>

                            <span class="list-group-item-text">@Html.DisplayFor(m => m.RecentRequests[i].Header.BuildingId) @Html.DisplayFor(m => m.RecentRequests[i].Header.SourceAreaShortName) &rarr; @Html.DisplayFor(m => m.RecentRequests[i].Header.DestinationAreaShortName)</span>
                        </h4>
                    </div>
                    <div class="col-md-6">
                        @*<span class="list-group-item-heading h4">@Html.DisplayFor(m => m.RecentRequests[i].Header.VirtualWareHouseId)</span>*@


                        @*<div class="bg-success">*@
                        <div class="bg-info">

                            <span>  @Html.DisplayFor(m => m.RecentRequests[i].DateCreated) by  @Html.DisplayFor(m => m.RecentRequests[i].Header.RequestedBy) for virtual warehouse @Html.DisplayFor(m => m.RecentRequests[i].Header.VirtualWareHouseId) </span>
                            <br />  @Html.DisplayFor(m => m.RecentRequests[i].Header.Remarks)

                        </div>
                    </div>
                    <div class="col-md-2">
                        @if (@Model.RecentRequests[i].AssignedPieces == @Model.RecentRequests[i].QuantityRequested || @Model.RecentRequests[i].AssignedPieces >= @Model.RecentRequests[i].QuantityRequested)
                        {
                            <span class="badge alert-success">@Html.DisplayFor(m => m.RecentRequests[i].AssignedPieces) of @Html.DisplayFor(m => m.RecentRequests[i].QuantityRequested) pieces assigned</span>
                        }
                        else
                        {
                            <span class="badge alert-danger">@Html.DisplayFor(m => m.RecentRequests[i].AssignedPieces) of @Html.DisplayFor(m => m.RecentRequests[i].QuantityRequested) pieces assigned</span>
                        }
                        @*<span class="badge alert-info">@Html.DisplayFor(m => m.RecentRequests[i].AssignedPieces) of @Html.DisplayFor(m => m.RecentRequests[i].QuantityRequested) pieces assigned</span>*@
                        <div class="btn-group btn-group-sm ">
                            <a href="@Url.Action(MVC_REQ2.REQ2.Home.DisplayRequest(Model.RecentRequests[i].Header.ResvId))" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs">Add SKU</span></a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action(MVC_REQ2.REQ2.Home.CreateRequest(Model.RecentRequests[i].Header.ResvId))"> Edit</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>

                           
                        </div>
                        @if (@Model.RecentRequests[i].Header.Priorities > 10)
                        {
                            <small>
                                <span class="label label-warning "><span class="glyphicon glyphicon-star"> </span></span>
                            </small>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>


    </div>