@*Do not use any id in this view because it will repeat*@
@model DcmsMobile.Shipping.ViewModels.AppointmentModel

    <div>
        <em title="@string.Format("Carrier Id: {0}", Model.CarrierId)" style="font-size:1.1em">Carrier:@Html.DisplayFor(m => m.CarrierDisplay)</em>
      
    </div>
@if (Model.NoBolBoxCount > 0)
{ 
    <div>
        @Html.DisplayFor(m => m.NoBolBoxCount) boxes of @Model.AppointmentBols.Select(p=>p.NoBolPoCount).First() POs
    </div>
}
@if (Model.BolCount > 0)
{ 
    <div>
        @Html.DisplayFor(m => m.BolBoxCount) boxes,@Model.AppointmentBols.Select(p=>p.BolPoCount).First() POs in @Html.DisplayFor(m => m.BolCount) BOLs
    </div>
}
@switch (Model.AppointmentBols.Select(p => p.CustomerName).Count())
{
    case 0:
        break;

    case 1:
    <div>@Model.AppointmentBols.Select(p=>p.CustomerName).FirstOrDefault()</div>
        break;

    default:
    <ol>
        @foreach (var name in Model.AppointmentBols.Select(p => p.CustomerName).ToList())
        { 
            <li>@name</li>
        }
    </ol>
        break;
}
<div>@Model.Remarks</div>
<div title="Click to see details/edit appointment">

  @Html.ActionLink("Edit", MVC_Shipping.Shipping.Home.AllAppointments(new DcmsMobile.Shipping.ViewModels.AppointmentViewModel
   {
       AppointmentId = Model.id
   }))
    </div>
