@model DcmsMobile.Shipping.ViewModels.PoSearchResultsViewModel
@{    
    ViewBag.Title = "PO Search";
}
    <table>
        <caption>PO has multiple Status</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>PO</th>
                <th>DC</th>
                <th>Customer</th>
               @* <th>PickSlips</th>*@
                <th>UI</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.PoList.Count; ++i)
            {
                <tr class="@(i % 2 == 0 ? "rowA" : "rowB")">
                    <td>@(i+1)</td>
                    <td><a href="@Model.PoList[i].CustomUrl">@Html.DisplayFor(m => m.PoList[i].PoId)</a>                                               
                    </td>
                    <td>@Html.DisplayFor(m => m.PoList[i].DcId)</td>
                    <td>
                        @Html.DisplayFor(m => m.PoList[i].CustomerDisplay)
                    </td>
                   @* <th>
                        @Html.DisplayFor(m => m.PoList[i].CountPickslips)
                    </th>*@
                    <td>
                        @Html.DisplayFor(m => m.PoList[i].Status)
                    </td>

                </tr>           
            }
        </tbody>
    </table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {          
            $('#divSelectCustomer').addClass('ui-helper-hidden');
        });
    </script>
}

