@model DcmsMobile.REQ2.ViewModels.CartonListViewModel
@{
    ViewBag.Title = "Carton List";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
@section sidebar {
    <div class="box boxB">
        <div class="boxContent">
            <div>
                <span style="display: inline-block" class="ui-icon ui-state-active ui-icon-arrowreturnthick-1-w"></span>
                @Html.ActionLink("Back to ManageSku", MVC_REQ2.REQ2.Home.DisplayRequest(Model.CtnresvId))
            </div>
            <div>
                <span style="display: inline-block" class="ui-icon ui-state-active ui-icon-arrowreturnthick-1-w"></span>
                @Html.ActionLink("Back to Recent Requests", MVC_REQ2.REQ2.Home.Index())
            </div>
        </div>
    </div>
}
<div>
    @Html.HiddenFor(m => m.CtnresvId)
</div>

<table>
    <caption>Cartons in Request <strong>#@Model.ReqId (Showing Max 500)</strong></caption>
    <thead>
        <tr>
            <th style="text-align:center">
                Carton
            </th>
            <th style="text-align:center">
                Pallet
            </th>
            <th style="text-align:center">
                Pieces
            </th>
            <th style="text-align:center">
                Area
            </th>
            <th style="text-align:center">
                VWh
            </th>
            <th style="text-align:center">
                Quality
            </th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.CartonList.Count() ; i++)
        {
            <tr class="@(i % 2 == 0 ? "rowA" : "rowB")">
                <td>
                    @Html.DisplayFor(m => m.CartonList[i].CartonId)
                </td>
                <td>
                    @Html.DisplayFor(m => m.CartonList[i].PalletId)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(m => m.CartonList[i].Quantity)
                </td>
                <td>
                    @Html.DisplayFor(m => m.CartonList[i].StoregeArea) &rarr;  @Html.DisplayFor(m => m.CartonList[i].AreaDescription)
                </td>
                <td>
                    @Html.DisplayFor(m => m.CartonList[i].VwhId)
                </td>
                <td>
                    @Html.DisplayFor(m => m.CartonList[i].Quantity)
                </td>
            </tr>
        }
    </tbody>

</table>
@*$Id$*@