@using DcmsMobile.Receiving.ViewModels.Rad
@using EclipseLibrary.Mvc.Helpers
@model IList<SpotCheckViewModel>
@{
    bool enableEditing = (bool)ViewBag.EnableEditing;
    var key = string.Empty;
    if (ViewBag.key != null)
    {
        key = ViewBag.key;
    }
    if (Model.Count() != 0)
    {
        var i = 0;
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr class="success">
                        <th data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.SewingPlantId)"
                            data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.SewingPlantId)">
                            Sewing Plant
                        </th>
                        <th data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.PlantName)"
                            data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.PlantName)">
                            Plant Name
                        </th>
                        <th data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.Style)"
                            data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.Style)">
                            Style
                        </th>
                        <th data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.Color)"
                            data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.Color)">
                            Color
                        </th>
                        <th data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.SpotCheckPercent)"
                            data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.SpotCheckPercent)">
                            Spot Check %
                        </th>
                        <th data-name="@ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.IsSpotCheckEnabled)"
                            data-display-name="@EclipseLibrary.Mvc.Helpers.ReflectionHelpers.NameFor((DcmsMobile.Receiving.ViewModels.Rad.SpotCheckViewModel m) => m.IsSpotCheckEnabled)" style="display:none">
                            Spot Check %
                        </th>
                        <th>Created Date</th>
                        <th>Created By</th>
                        <th>Modify Date</th>
                        <th>Modified By</th>
                        @if (enableEditing)
                        {


                            <th>Change</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr title="Disabled row implies that SpotCheck will not be performed for these settings."
                            data-key="@item.ConfigurationKey"
                            @*class="@(key==@item.ConfigurationKey ? "bg-warning" :"")"*@
                            class="@(item.IsSpotCheckEnabled ? "text-primary" : "text-muted" )">
                            <td data-val="@item.SewingPlantId">@item.SewingPlantId</td>


                            <td data-val="@item.PlantName">@item.PlantName</td>


                            <td data-val="@item.Style">@item.Style</td>

                            <td data-val="@item.Color">@item.Color</td>

                            <td data-val="@item.SpotCheckPercent">@item.SpotCheckPercent</td>
                            <td data-val="@item.IsSpotCheckEnabled" style="display:none">@item.IsSpotCheckEnabled</td>

                            <td>@item.CreationDateDispaly</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.ModifyDateDispaly</td>
                            <td>@item.ModifiedBy</td>
                            @if (enableEditing)
                            {
                                <td>
                                    <button class="btn btn-link" data-toggle="modal" data-target="#btnEditSpotCheck">
                                        <span class="glyphicon glyphicon-edit" title="Edit Spot Check"></span>
                                    </button>
                                    <button class="btn btn-link" data-toggle="modal"
                                            data-delete-ajax-url="@Url.Action(MVC_Receiving.Receiving.Rad.DeleteSpotCheckPercentage())"
                                            data-target="#btnRemoveSpotCheck">
                                        <span class="glyphicon glyphicon-remove" title="Remove Spot Check Percent"></span>
                                    </button>
                                </td>
                            }

                        </tr>
                            i++;
                    }

                </tbody>
            </table>
        </div>
    }
}
