@model DcmsMobile.Receiving.Areas.Receiving.Rad.ISpotCheckListPartialViewModel


<ul class="list-group">
    @for (var i = 0; i < Model.SewingPlants.Count; ++i)
    {
        <li class="list-group-item list-group-item-success">
                <div class="row h4">
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.SewingPlants[i].SewingPlantId)  @Html.DisplayFor(m => m.SewingPlants[i].PlantName)
                        <small>
                            Default @Html.DisplayFor(m => m.SewingPlants[i].SpotCheckPercent)
                        </small>
                    </div>
                    <div class="col-md-6">
                        <small>
                            <span class="pull-right">
                                <u>@Html.DisplayFor(m => m.SewingPlants[i].ModifiedDate) &bull; @Html.DisplayFor(m => m.SewingPlants[i].ModifiedBy)</u>
                                <small>
                                    <u>@Html.DisplayFor(m => m.SewingPlants[i].CreatedDate) &bull; @Html.DisplayFor(m => m.SewingPlants[i].CreatedBy)</u>
                                </small>
                            </span>
                        </small>
                    </div>
                </div>
        </li>
        for (var j = 0; j < Model.SewingPlants[i].Styles.Count; ++j)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="list-group-item-text">
                            <span class="label label-info">Color:@Html.DisplayFor(m => m.SewingPlants[i].Styles[j].Style)</span>
                            <span class="label label-success">Style:@Html.DisplayFor(m => m.SewingPlants[i].Styles[j].Color)</span>
                        </h4>
                    </div>
                    <div class="col-md-5">
                        <span class="pull-right h5">
                            @*<span class="text-success">Modeified:</span>*@<u>@Html.DisplayFor(m => m.SewingPlants[i].Styles[j].ModifiedDate) &bull; @Html.DisplayFor(m => m.SewingPlants[i].Styles[j].ModifiedBy)</u>
                            <small>
                                @*<span class="text-success">Created:</span>*@<u>@Html.DisplayFor(m => m.SewingPlants[i].Styles[j].CreatedDate) &bull; @Html.DisplayFor(m => m.SewingPlants[i].Styles[j].CreatedBy)</u>
                            </small>
                        </span>
                        @*<p class="list-group-item-text">
                                @Html.DisplayFor(m => m.SewingPlants[i].Styles[j].CreatedDate)
                                <em>&bull; @Html.DisplayFor(m => m.SewingPlants[i].Styles[j].CreatedBy)</em>
                            </p>
                            <p class="list-group-item-text">
                                @Html.DisplayFor(m => m.SewingPlants[i].Styles[j].ModifiedDate)
                                <em>&bull; @Html.DisplayFor(m => m.SewingPlants[i].Styles[j].ModifiedBy)</em>
                            </p>*@
                    </div>
                    <div class="col-md-4">
                        @if (Model.EnableEditing)
                        {
                            <form class="hidden" action="@Url.Action(MVC_Receiving.Receiving.Rad.AddUpdateSpotCheckSetting())" method="post">
                                <input type="hidden" name="@MVC_Receiving.Receiving.Rad.AddUpdateSpotCheckSettingParams.sewingPlantId" value="@Model.SewingPlants[i].Styles[j].SewingPlantId" />
                                <input type="hidden" name="@MVC_Receiving.Receiving.Rad.AddUpdateSpotCheckSettingParams.color" value="@Model.SewingPlants[i].Styles[j].Color" />
                                <input type="hidden" name="@MVC_Receiving.Receiving.Rad.AddUpdateSpotCheckSettingParams.enabled" value="@Model.SewingPlants[i].Styles[j].IsSpotCheckEnabled.ToString()" />
                                <input type="hidden" name="@MVC_Receiving.Receiving.Rad.AddUpdateSpotCheckSettingParams.style" value="@Model.SewingPlants[i].Styles[j].Style" />
                                <div class="input-group input-group-sm">
                                    <input class="form-control" type="number" min="0" max="100" maxlength="3" size="2" required name="@MVC_Receiving.Receiving.Rad.AddUpdateSpotCheckSettingParams.spotCheckPercent"
                                           value="@Model.SpotCheckList[i].SpotCheckPercent" />
                                    <div class="input-group-btn ">
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-default btn-sm" name="@MVC_Receiving.Receiving.Rad.AddUpdateSpotCheckSettingParams.action" value="@DcmsMobile.Receiving.Areas.Receiving.Rad.ModifyAction.Edit">Update</button>
                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu cancel-btn" role="menu">
                                                <li><a href="#">Cancel</a></li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-default" type="submit" tabindex="-1" name="@MVC_Receiving.Receiving.Rad.AddUpdateSpotCheckSettingParams.action" value="@DcmsMobile.Receiving.Areas.Receiving.Rad.ModifyAction.Delete">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                                <input type="checkbox" name="@MVC_Receiving.Receiving.Rad.AddUpdateSpotCheckSettingParams.enabled" value="True"
                                       @Html.Raw(Model.SewingPlants[i].Styles[j].IsSpotCheckEnabled ? "checked" : "") /> Enabled
                            </form>
                        }

                        <div class="input-group input-group-sm">
                            <input class="form-control" type="number" min="0" max="100" maxlength="3" size="2" disabled value="@Model.SewingPlants[i].Styles[j].SpotCheckPercent" />
                            <div class="input-group-btn ">
                                @if (Model.EnableEditing)
                                {
                                    <div class="input-group-btn edit-btn">
                                        <button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                    </div>
                                }
                            </div>
                            @if (!Model.SewingPlants[i].Styles[j].IsSpotCheckEnabled)
                            {
                                <span class="label label-default pull-right">Disabled</span>
                            }
                        </div>
                    </div>
                </div>
            </li>

        }
    }

</ul>