
@model DcmsMobile.Receiving.Areas.Receiving.Rad.IndexViewModel
@{
    ViewBag.Title = "Receiving Configuration";

}
<div class="container">
    <div class="page-header">
        <!--Enable with role ROLE_RAD_EDITING (username= jeewan ; password= 1234567890)-->
        @if (Model.EnableEditing)
        {
            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#btnAddSpotCheck">
                Add Spot Check...
            </button>
        }
        <h2>Receiving Configuration</h2>
       
    </div>
    @if (Model.SpotCheckAreaList.Count != 0)
    {
        <div class="well well-sm">
            Available Spot Check Areas
            (<span class="h4 text-success">
                Building:
            </span>
            Area)

            @for (int i = 0; i < Model.SpotCheckAreaList.Count(); i++)
            {
                if (i == 0 || Model.SpotCheckAreaList[i].BuildingId != Model.SpotCheckAreaList[i - 1].BuildingId)
                {
                    <span class="h4 text-success">
                        &nbsp;
                        @Html.DisplayFor(m => m.SpotCheckAreaList[i].BuildingId):
                    </span>
                }
                @Html.DisplayFor(m => m.SpotCheckAreaList[i].AreaId)@:&nbsp;

            }
        </div>
    }
    else
    {
        <div class="alert alert-info">No Spot Check Areas defined</div>
    }


    <div id="divSpotCheckList">
        @Html.Partial(MVC_Receiving.Receiving.Rad.Views._indexListPartial, Model)
    </div>
   

    <!-- Modal for add spot check Percentage button in partial page _spotCheckListPartial.cshtml-->
    <div class="modal fade" id="btnAddSpotCheck" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add Spot Check</h4>
                </div>
                @Html.Action(MVC_Receiving.Receiving.Rad.AddSpotCheckPartial())
            </div>
        </div>
    </div>
</div>


@section script {
    <link href="@Links_Receiving.Areas.Receiving.SharedViews.typeahed_css" type="text/css" rel="stylesheet" />

    <style type="text/css">
        .field-validation-valid {
            display: none;
        }
    </style>


    <script src="@Links_Receiving.Areas.Receiving.Rad.Index_js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $('#divSpotCheckList').on('click', 'div.edit-btn button', function (e) {               
                $(e.target).closest('div.input-group').addClass('hidden')
                    .prev('form').removeClass('hidden');
            }).on('click', 'ul.cancel-btn', function (e) {
                $(e.target).closest('form').addClass('hidden')
                  .next('div.input-group').removeClass('hidden');
            });
        });
    </script>
}



