@model DcmsMobile.BoxManager.ViewModels.ViewModelBase
<!DOCTYPE html >
<!--
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    @*@System.Web.Optimization.Styles.Render(DcmsMobile.BoxManager.Areas.BoxManagerAreaRegistration.BOXMANAGER_ALL_MOBILE_CSS)*@
    <link href="@(Links_BoxManager.Areas.BoxManager.Content.BoxManager_all_mobile_css)" rel="stylesheet" type="text/css" />
    <link href="@Links_BoxManager.Content.themes.Start1_10_0.jquery_ui_css" rel="stylesheet" type="text/css" />
</head>
<body onkeydown="OnBodyKeyDown()" onkeypress="OnBodyKeyPress()">
    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
    {
        <div style="position: absolute; right: 1mm; text-align: right; z-index: 100">
            <a href="@Url.Content("~")">Home</a> <span>Welcome
                @ViewContext.HttpContext.User.Identity.Name</span>
        </div>
    }
    <div>
        <h1>
            @ViewBag.Title
        </h1>
        @Html.StatusSummary()
        @Html.ValidationSummary()
        @RenderBody()
    </div>
    <div>
        <h2>Enter P2 to Exit,P1 to Change UI.
        </h2>
    </div>
    <div>
        @if (Model != null)
        {
            @Html.Partial(MVC_BoxManager.BoxManager.Shared.Views._soundPartial, Model.Sound)
        }
    </div>
    <script type="text/javascript">
        function OnBodyKeyPress() {
            // If key is pressed outside an input control, set focus to scan text box
            if (window.event.srcElement.id != 'scan' &&
                window.event.srcElement.tagName != 'INPUT') {
                var tbScan = document.getElementById('scan');
                tbScan.value = '';
                tbScan.focus();
            }
        }
        // Set focus to scan input box when the page loads
        var input = document.getElementById('scan');
        if (input) {
            input.focus();
        }

        function OnBodyKeyDown() {
            if (window.event.keyCode == 124) {
                //  P2 is pressed
                window.close();
            } else if (window.event.keyCode == 123) {
                //  P1 is pressed
                var url = "@Url.Action(MVC_BoxManager.BoxManager.Home.Index())";
                window.location = url;
            }
    }
    </script>
    @RenderSection("scripts", false)
</body>
</html>
<!--$Id: _layoutReceiving.Mobile.cshtml 10678 2011-12-14 12:23:09Z rkandari $-->
