@model DcmsMobile.BoxPick.ViewModels.UccViewModel
@{
    ViewBag.Title = "BoxPick: Enter Box";
    ViewBag.HelpAction = "Ucc";
}
@section heading{
    <h2>
        Expecting Box @(Model.PalletPickedBoxCount + 1)
        of @Html.DisplayFor(m => m.PalletTotalBoxCount)
    </h2>
}
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._tabsPartial, Model, new ViewDataDictionary
{
    {"ActiveTab", "Box"}
})

@using (Html.BeginForm("Ucc", null))
{
    @Html.EditorFor(m => m.ScannedUccId);
}
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._PalletStatus, Model)
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._bottomPartial, Model)
@*@if (ViewContext.HttpContext.IsDebuggingEnabled)
{
    @Html.Action("BoxList")
}*@




@*$Id$*@